<script>
  $(document).ready(function() {
    $('.minicolors').minicolors({
      theme: 'bootstrap',
      defaultValue: "<%= @color %>",
      change: function(value) {
        
      }
    });
  });

</script>
<div class="container">
  <% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <ul>
    <% flash[:error].each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= form_for @color_range do |f|  %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label "color_range[name]", "Name:" %>
      <%= f.text_field :name, class: "form-control" %>     
    </div>
    
    <div class="col-md-6">
      <%= f.label "color_range[color]", "Color:" %>
      <%= f.text_field :color, class: "form-control minicolors" %>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-6">
      <% @color_option_values.each do |option_value| %>
      <div class="text-center">
        <%= option_value.value %>
        <span class="glyphicon glyphicon-chevron-right pull-right assign_to_color_range" data-option_value_id="<%= option_value.id %>"></span>
      </div>
      <% end %>
    </div>
    
    <div class="col-md-6">
      <% @color_range_option_values.each do |option_value| %>
      <div class="text-center">
        <span class="glyphicon glyphicon-chevron-left pull-left unassign_from_color_range" data-opton_value_id="<%= option_value.id %>"></span>
        <%= option_value.value %>
      </div>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
     <%= f.submit "Save", class: "btn btn-success" %>
    </div>
  </div>
  <% end %>  
</div>