<script>
  $(document).ready(function() {
    $('.minicolors').minicolors({
      theme: 'bootstrap',
      defaultValue: "<%= @color %>",
      change: function(value) {
        
      }
    });
    
    
  });

</script>
<div class="container">
  <% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <ul>
    <% flash[:error].each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= form_for @color_range do |f|  %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label "color_range[name]", "Name:" %>
      <%= f.text_field :name, class: "form-control" %>     
    </div>
    
    <div class="col-md-6">
      <%= f.label "color_range[color]", "Color:" %>
      <%= f.text_field :color, class: "form-control minicolors" %>
    </div>
  </div><br>
  <% if params[:action] == "edit" %>
  <div class="row">
    <div class="col-md-6 color_option_values">
      <p class="text-center">
        Color Option Values
      </p>
      <% @color_option_values.each do |option_value| %>
      <div class="col-md-6 color_option_value">
        <% unless option_value.image.nil? %>
          <% unless option_value.image.url.include? "missing" %>
            <%= image_tag option_value.image.url, width: "20px" %>
          <% end %>
        <% end %>
        <%= option_value.value %>
        <input type="checkbox" class="check_for_action pull-right" data-option_value_id="<%= option_value.id %>">
      </div>
      <% end %>
      <div class="col-md-12 text-center assign_button_container">
        <button class="assign_option_values btn btn-info">
          Assign Selected Option Values
        </button>
      </div>
      
    </div>
    
    <div class="col-md-6 color_range_option_values">
      <p class="text-center">
        Color Range Option Values
      </p>
      <% @color_range_option_values.each do |option_value| %>
      <div class="col-md-6 color_range_option_value">
        <% unless option_value.image.nil? %>
          <% unless option_value.image.url.include? "missing" %>
            <%= image_tag option_value.image.url, width: "20px" %>
          <% end %>
        <% end %>
        <%= option_value.value %>
        <input type="checkbox" class="check_for_action pull-right" data-option_value_id="<%= option_value.id %>">
      </div>
      <% end %>
      <div class="col-md-12 text-center unassign_button_container">
        <button class="unassign_option_values btn btn-warning">
          Unassign Selected Option Values
        </button>
      </div>
    </div>
  </div>
  <br>
  <% end %>
  <div class="row">
    <div class="col-md-6">
     <%= f.submit "Save", class: "btn btn-success" %>
    </div>
  </div>
  <% end %>  
</div>