<script type="text/javascript">
  function createOptionTypeSelect() {
    var num_of_opts = $("#number_of_option_values").val();
    $("#number_of_option_values").attr('value', parseInt(num_of_opts) + 1);
    num_of_opts = parseInt(num_of_opts) + 1;
    $('<div id="option' + num_of_opts + '" class="form-group col-md-4" style="inline-block;"> '+ 
      '<br> Option value #'+ num_of_opts + '<input class="form-control" name="option_value' + num_of_opts + '" id="option_value' + num_of_opts + '" type="text"/></div>').appendTo('.options')
  }
  
$(document).ready(function(){
  Dropzone.autoDiscover = false;
  $('form[id^="option_value_image"]').each(function(index, form){
    var id = $('div.option_value_image' + (index + 1)).attr('id');
    $(this).dropzone({
      url: '/options/' + <%= @option.id %> + '/option_values/' + id + '/assign_image',
		  // restrict image size to a maximum 1MB
		  maxFilesize: 1,
		  // changed the passed param to one accepted by
		  // our rails app
		  paramName: "image",
		  previewsContainer: '.option_value_image' + (index + 1),
		  clickable: '.option_value_image' + (index + 1),
		  // show remove links on each image upload
		  addRemoveLinks: true,
		  success: function(file, response){
		  	// find the remove button link of the uploaded file and give it an id
			  // based of the fileID response from the server
			  //$('.dropzone-previews').find('.dz-remove:last').attr('id', response.imageID);
			  // add the dz-success class (the green tick sign)
			  //$('.dropzone-previews').addClass("dz-success");
			  if ( $('.option_value_image' + (index + 1)).find('.dz-preview').length === 2) {
	        $('.option_value_image' + (index + 1)).find('.dz-preview:first').remove();
			  }
	      		
	  	},
		  //when the remove button is clicked
		  init: function(){
		    var url = $('input#image' + id + '_url').val();
		    if (url.indexOf("missing") === -1) {
		      this.options.addedfile.call(this, { "id": id });
          $('.option_value_image' + (index + 1)).find('.dz-image img').attr("src", url);  
		    }
		    
        
        this.on("removedfile", function(file){
		      $.ajax({
		        url: '/options/' + <%= @option.id %> + '/option_values/' + id + '/unassign_image',
				    type: 'POST',
				    data: { id: id }
			    });  
		    })
		  }
  	});	
  });  
  
})
  
</script>
<div class="container">
  <%= form_for @option, url: option_url(:product_id => params[:product_id], :option_id => params[:option_id], :protocol => 'https') do |f| %>

  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label 'option[name]', "Option name:" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>  
  
  <div class="options row">
    <% @option.option_values.each_with_index do |option_value, i| %>
      <div id="option<%= i + 1 %>" class="form-group col-md-4" style="inline-block;"> 
        <br> 
        <span>Option value #<%= i + 1 %></span>
        <span style="float:right;">
          <%= link_to 'Delete', option_option_value_url(:id => option_value.id, :option_id => @option.id, :protocol => 'https'),
                            { :method => :delete, class: "btn btn-danger delete_option_value",
                            data: { confirm: 'Are you sure, you want to delete this option value?' } } %>
        </span>
        <input readonly class="form-control" name="option_value<%= i + 1 %>" id="option_value<%= i + 1 %>" type="text" value="<%= option_value.value %>"/>    
        <div class="option_value_image<%= i + 1 %> dropzone" id="<%= option_value.id %>">
    
        </div>
      </div>
      
     
    <% end %>
    <%= hidden_field_tag 'number_of_option_values', @option.option_values.count %>  
  </div><br>
  
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-info" onclick="createOptionTypeSelect()">Add option value</button>  
    </div>
  </div><br>
  
  <div class="row">
    <div class="col-md-2">
      <%= f.submit "Save", :class => "btn btn-success" %>
    </div>
    
    <div class="col-md-2">
        <%= f.submit "Cancel", :class => 'btn btn-warning' %>
    </div>
  </div>

  <% end %>  
  <% @option.option_values.each_with_index do |option_value, i| %>
    <form id="option_value_image<%= i + 1 %>" method="post" name="option_value_image<%= i + 1 %>">
      <input id="image<%= i + 1 %>" style="display:none;" name="image<%= i + 1 %>" type="file">
      <input id="image<%= option_value.id %>_url" type="hidden" value="<%= option_value.image.nil? ? "" : option_value.image.url %>">
    </form> 
  <% end %>
</div>
