<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
<h3>Products</h3>
<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= product.image %>
        </td>
        <td>
          Product has <%= product.variants.count %> variants
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
