
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.2.4/image-picker.min.js"></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.2.4/image-picker.min.css' rel='stylesheet' type='text/css'>
<style>
  .reel img {
    height: 300px;
    width: auto !important;
  }
  #three_sixty_image-reel {
    height: 300px; 
    width: auto;
  }
  .image_picker_image {
    height: 200px;
  }
</style>
<script type="text/javascript">
$(document).ready(function(){
  Dropzone.autoDiscover = false;
  $("#product-variant-images").dropzone({
    url: "<%= product_variant_variant_images_url(:protocol => 'https', :variant_id => @variant.id) %>",
    // restrict image size to a maximum 1MB
    maxFilesize: 1,
    // changed the passed param to one accepted by
    // our rails app
    paramName: "image",
    previewsContainer: '.dropzone-previews',
    clickable: '.dropzone-previews',
    // show remove links on each image upload
    addRemoveLinks: true,
    success: function(file, response){
      // find the remove button link of the uploaded file and give it an id
      // based of the fileID response from the server
      $('.dropzone-previews').find('.dz-remove:last').attr('id', response.imageID);
      // add the dz-success class (the green tick sign)
      $('.dropzone-previews').addClass("dz-success");
	    
      $('.dz-remove:last').click(function(){
        var id = $(this).attr('id'); 
        // make a DELETE ajax request to delete the file
        $.ajax({
          type: 'POST',
          data: { _method: 'DELETE' },
          url: '<%= product_variant_variant_images_url(:variant_id => @variant.id, :protocol => 'https') %>/' + id,
          success: function(data){
            console.log(data.message);
          }
        });
        $('#selectImage option[value="'+ id +'"]').remove();
        $('#selectImage').imagePicker();
      })		
    },
    //when the remove button is clicked
    init: function(){
      var existingFiles = [];
        <% @variant_images.each_with_index do |image, index| %>
          existingFiles.push({ id: "<%= image.id %>"});
          this.emit("addedfile", existingFiles[<%= index %>]);
          this.emit("thumbnail", existingFiles[<%= index %>], "<%= image.image.url %>");
          $('.dropzone-previews').find('.dz-remove:last').attr('id', <%= image.id %>);
        <% end %>
      
      this.on("removedfile", function(file){
		      
      })
    }
		
  });	
	
  $('.dz-remove').click(function(){
    var id = $(this).attr('id'); 
    // make a DELETE ajax request to delete the file
    $.ajax({
      type: 'POST',
      data: { _method: 'DELETE' },
      url: '<%= product_variant_variant_images_url(:variant_id => @variant.id, :protocol => 'https') %>/' + id,
      success: function(data){
        console.log(data.message);
      }
    });
    $('#selectImage option[value="'+ id +'"]').remove();
    $('#selectImage').imagepicker();

  })
  $("#three-sixty-form").dropzone({
    url: "<%= product_variant_three_sixty_image_url(:protocol => 'https', :variant_id => @variant.id) %>",
    uploadMultiple: true,
    paramName: "three_sixty_images",
    previewsContainer: '.three_sixty_previews',
    parallelUploads: 100,
    clickable: '.three_sixty_previews',
    autoProcessQueue: false,
    success: function(file, response){
      // find the remove button link of the uploaded file and give it an id
      // based of the fileID response from the server
    },
    //when the remove button is clicked
    init: function(){
      
      var $dropzone = this;
      $('#upload_images').click(function(){
        $dropzone.processQueue();
      });
      function process3Dimage(three_sixty_image_info){
        var first_image = three_sixty_image_info["first_plane_image"];
        var images_path = three_sixty_image_info["images_path"] + '/';
        var images_names = three_sixty_image_info["images_names"];
        $('#three_sixty_speed').val(5);
        $('#three_sixty_rotations_count').val(5);
        $('#update_three_sixty_parameters').on('click', function(){
          var rotation_speed, rotations_count, clockwise;
          rotation_speed = $('#three_sixty_speed').val();
          rotations_count = $('#three_sixty_rotations_count').val();
          clockwise = $('#three_sixty_clockwise').prop('checked');
          $.ajax({
            url: "<%= product_variant_three_sixty_image_url(:variant_id => @variant.id, :protocol => 'https')%>",
            method: "POST",
            dataType: "json",
            data: {
              _method: "PATCH",
              rotation_speed: rotation_speed,
              rotations_count: rotations_count,
              clockwise: clockwise
            },
            success: function(){
              $('.reel').unreel();
              var duration = rotations_count / rotation_speed * 10;
              $('.reel').reel({
                frames: images_names.length,
                speed: rotation_speed / 10.0,
                duration: duration,
                path: images_path,
                images: images_names,
                cw: clockwise
              });

            }  
          });
        }); 
        $('#three_sixty_image').attr('src', first_image);
        $('.reel').reel({
          frames: images_names.length,
          speed: 0.5,
          duration: 5,
          path: images_path,
          images: images_names,
          
        });
      }
      this.on("queuecomplete", function(file){
        $dropzone.removeAllFiles();
        $('.three_sixty_previews').hide();
        $('#three_sixty_parameters_form').show();
        $('#upload_images').hide();
        $('.delete_3D_image').show(); 
        $('.reel').show();
        $.ajax({
          url: "<%= url_for(action: 'show', controller: 'three_sixty_images', :protocol => 'https', :variant_id => @variant.id ) %>.json",
          success: function(three_sixty_image_info){
            process3Dimage(three_sixty_image_info);
          }
        })              
      })
    }
                
  }); 

});
  
</script>
<script type="text/javascript">

$(document).ready(function(){
  <% if @shopify_variant.inventory_management.nil? %>
    $('.inventory_quantity').hide();
  <% end %>
  $('#inventory_management').on('change', function(){
    $('.inventory_quantity').toggle();
  })
  $('#three_sixty_paramteters_form').show();
  <% unless @variant.main_image_id.nil? %>
    var selected_image = <%= @variant.main_image_id %>;
    $("#selectImage").find('option[value="'+ selected_image +'"]').prop('selected',true);
  <% end %>
  $("#selectImage").imagepicker();
  <% if @three_sixty_image.nil? %>
    $('.delete_3D_image').hide(); 
    $('#three_sixty_parameters_form').hide();
    $('.reel').hide();
  <% elsif @three_sixty_image.plane_images.any? %>
    $('.three_sixty_previews').hide();
    $('#upload_images').hide();
  <% end %>
   
  var images_names = "<%= @images_names %>";
  images_names = images_names.split(',');
  <% unless @three_sixty_image.nil? %>
    var rotation_speed = <%= @three_sixty_image.rotation_speed.to_f / 10 %>;
    var duration = <%= @three_sixty_image.rotations_count.to_f / @three_sixty_image.rotation_speed.to_f * 10 %>;
    var clockwise = <%= @three_sixty_image.clockwise.nil? ? false : @three_sixty_image.clockwise %>;
    $('#three_sixty_speed').val(rotation_speed * 10);
    $('#three_sixty_rotations_count').val(rotation_speed * duration);
    $('#three_sixty_clockwise').prop('checked', clockwise);
    $('.reel').reel({
      frames: <%= @three_sixty_image.plane_images.count %>,
      speed: rotation_speed,
      duration: duration,
      path: "<%= @images_path %>/",
      images: images_names,
      cw: clockwise
    });
  $('#update_three_sixty_parameters').on('click', function(){
    var rotation_speed, rotations_count, clockwise;
    rotation_speed = $('#three_sixty_speed').val();
    rotations_count = $('#three_sixty_rotations_count').val();
    clockwise = $('#three_sixty_clockwise').prop('checked');  
    $.ajax({
      url: "<%= product_variant_three_sixty_image_url(:variant_id => @variant.id, :protocol => 'https')%>",
      method: "POST",
      dataType: "json",
      data: {
        _method: "PATCH",
        rotation_speed: rotation_speed,
        rotations_count: rotations_count,
        clockwise: clockwise
      },
      success: function(){
        $('.reel').unreel();
        var images_names = "<%= @images_names %>";
        images_names = images_names.split(',');
        var duration = rotations_count / rotation_speed * 10;
        $('.reel').reel({
          frames: <%= @three_sixty_image.plane_images.count %>,
          speed: rotation_speed / 10,
          cw: clockwise,
          duration: duration,
          path: "<%= @images_path %>/",
          images: images_names
        });

      }
    });
  }); 
  <% end %>
});
  
</script>
<div class="container">
  <%= form_for @variant, url: product_variant_path(:product_id => params[:product_id], :variant_id => @variant.id ) do |f| %>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label 'variant[sku]', "SKU (Stock Keeping Unit)" %>
        <%= f.text_field :sku, class: "form-control" %>
      </div>

      <div class="col-md-6 form-group">
        <%= f.label 'variant[price]', "Price" %>
        <%= f.text_field :price, class: "form-control" %>
      </div>
      <div class="col-md-6 form-group">
        <label for="invenotry_managment">
          Inventory Managment
        </label>
        <select id="inventory_management" class="form-control" name="inventory_management">
          <option value="shopify" <%= @shopify_variant.inventory_management == 'shopify' ? "selected" : "" %>>Shopify</option>
          <option value="blank" <%= @shopify_variant.inventory_management.nil? ? "selected" : "" %>>Blank</option>
        </select>
      </div>
      <div class="col-md-6 form-group inventory_quantity">
        <label for="invenotry_quantity">
          Inventory Quantity
        </label>
        <input id="inventory_quantity" class="form-control" type="number" name="inventory_quantity" value=<%= @shopify_variant.inventory_quantity %>>
      </div>

    </div>  
    <h2>
      Select main variant image
    </h2>
    <select class="image-picker show-html" id="selectImage" name="image_id">
      
      <% @variant_images.each_with_index do |img, i| %>
        <option data-img-src="<%= img.image.url(:medium) %>" value="<%= img.id %>"></option>
      <% end %>
    </select>

    <div class="variant-images-container">
      <div class="row">
        <div class="col-md-12">
          <h2>Upload product variant images</h2>
          <div class="dropzone-previews dropzone">
            <div class="dz-default dz-message"><span>Drop files here to upload</span>
            </div>
          </div>
        </div>
      </div><br>
    </div>

    <div class="three-sixty-images-container">
      <div class="row">
        <div class="col-md-12">
          <h2>360 IMAGE BUILDER</h2>
          <div class="three_sixty_previews dropzone">
            <div class="dz-default dz-message"><span>Drop files here to upload</span>
            </div>
          </div><br>
        </div>
        <div class="col-md-12">
          <input type="button" value="Build 3D image" id="upload_images" class="btn btn-info">
          <%= link_to 'Delete 3D image', product_variant_three_sixty_image_url(:variant_id => @variant.id, :protocol => 'https'),
                            { :method => :delete, class: "btn btn-danger delete_3D_image",
                            data: { confirm: 'Are you sure, you want to delete 3D image of this product variant?' } } %>
        </div>
        <div id="three_sixty_parameters_form">
          <div class="col-md-6 form-group">
            <label for="three_sixty_speed">Rotation speed(number of complete rotations per 10 seconds)</label>
            <input id="three_sixty_speed" class="form-control" type="number" max="10" min="1">
          </div>
          <div class="col-md-6 form-group">
            <label for="three_sixty_rotations_count">Rotations count</label>
            <input id="three_sixty_rotations_count" class="form-control" type="number" min="1">
          </div>
          <div class="col-md-12 form-group">
            <label for="three_sixty_clockwise">Reversed rotation direction</label>
            <input id="three_sixty_clockwise" class="form" type="checkbox">
          </div>
          <div class="col-md-4">
            <input id="update_three_sixty_parameters" class="btn btn-info" type="button" value="Update 3D image parameters">
          </div>

        </div><br>
      
        <div class="col-md-12">
          <div class="3d_image">
            <img src="<%= @first_plane_image %>" class="reel" id="three_sixty_image">
          </div>
        </div>
      </div><br>
    </div>


    <div class="row">
      <div class="col-md-2">
        <%= f.submit "Save", :class => "btn btn-success" %>
      </div>
      <div class="col-md-2">
        <%= f.submit "Cancel", :class => 'btn btn-warning' %>
      </div>     
    </div>
<% end %>    
  <form id="product-variant-images" action="" method="post" name="product-images">
    <input id="image" style="display:none;" name="image" type="file">
  </form> 
  <form id="three-sixty-form" action="" method="post" name="three-sixty-form">
    <input id="three_sixty_pictures" style="display:none;" name="three_sixty_pictures" type="file">
  </form>
</div>
