
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.2.4/image-picker.min.js"></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.2.4/image-picker.min.css' rel='stylesheet' type='text/css'>
<script type="text/javascript">
$(document).ready(function(){
  Dropzone.autoDiscover = false;
  $("#product-variant-images").dropzone({
    url: "<%= product_variant_variant_images_url(:protocol => 'https', :variant_id => @variant.id) %>",
    // restrict image size to a maximum 1MB
    maxFilesize: 1,
    // changed the passed param to one accepted by
    // our rails app
    paramName: "image",
    previewsContainer: '.dropzone-previews',
    clickable: '.dropzone-previews',
    // show remove links on each image upload
    addRemoveLinks: true,
    success: function(file, response){
      // find the remove button link of the uploaded file and give it an id
      // based of the fileID response from the server
      $('.dropzone-previews').find('.dz-remove:last').attr('id', response.imageID);
      // add the dz-success class (the green tick sign)
      $('.dropzone-previews').addClass("dz-success");
	    
      $('.dz-remove:last').click(function(){
        var id = $(this).attr('id'); 
        // make a DELETE ajax request to delete the file
        $.ajax({
          type: 'POST',
          data: { _method: 'DELETE' },
          url: '<%= product_variant_variant_images_url(:variant_id => @variant.id, :protocol => 'https') %>/' + id,
          success: function(data){
            console.log(data.message);
          }
        });
      })		
    },
    //when the remove button is clicked
    init: function(){
      var existingFiles = [];
        <% @variant_images.each_with_index do |image, index| %>
          existingFiles.push({ id: "<%= image.id %>"});
          this.emit("addedfile", existingFiles[<%= index %>]);
          this.emit("thumbnail", existingFiles[<%= index %>], "<%= image.image.url %>");
          $('.dropzone-previews').find('.dz-remove:last').attr('id', <%= image.id %>);
        <% end %>
      
      this.on("removedfile", function(file){
		      
      })
    }
		
  });	
	
  $('.dz-remove').click(function(){
    var id = $(this).attr('id'); 
    // make a DELETE ajax request to delete the file
    $.ajax({
      type: 'POST',
      data: { _method: 'DELETE' },
      url: '<%= product_variant_variant_images_url(:variant_id => @variant.id, :protocol => 'https') %>/' + id,
      success: function(data){
      console.log(data.message);
			}
      });
  })
  $("#three-sixty-form").dropzone({
    url: "<%= product_variant_three_sixty_image_url(:protocol => 'https', :variant_id => @variant.id) %>",
    uploadMultiple: true,
    paramName: "three_sixty_images",
    previewsContainer: '.three_sixty_previews',
    parallelUploads: 40,
    clickable: '.three_sixty_previews',
    autoProcessQueue: false,
    success: function(file, response){
      // find the remove button link of the uploaded file and give it an id
      // based of the fileID response from the server
    },
    //when the remove button is clicked
    init: function(){
      
      var $dropzone = this;
      $('#upload_images').click(function(){
        $dropzone.processQueue();
      });
      this.on("removedfile", function(file){
                      
      })
    }
                
  }); 

});
  
</script>
<script type="text/javascript">

$(document).ready(function(){
  <% unless @variant.main_image_id.nil? %>
    var selected_image = <%= @variant.main_image_id %>;
    $("select").find('option[value="'+ selected_image +'"]').prop('selected',true);
  <% end %>
  $("select").imagepicker();
  var images_names = "<%= @images_names %>";
  images_names = images_names.split(',');
  $('.reel').reel({
    frames: 35,
    speed: 0.3,
    path: "<%= @images_path %>/",
    images: images_names
  });
    
   
});
  
</script>
<style>
  img {
    width:200px;
  }
</style>
<div class="container">
  <%= form_for @variant, url: product_variant_path(:product_id => params[:product_id], :variant_id => @variant.id ) do |f| %>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label 'variant[sku]', "SKU (Stock Keeping Unit)" %>
        <%= f.text_field :sku, class: "form-control" %>
      </div>
    </div>  

    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label 'variant[price]', "Price" %>
        <%= f.text_field :price, class: "form-control" %>
      </div>
    </div>  
    
    <select class="image-picker show-html" id="selectImage" name="image_id">
      
      <% @variant_images.each_with_index do |img, i| %>
        <option data-img-src="<%= img.image.url(:medium) %>" value="<%= img.id %>"></option>
      <% end %>
    </select>

    <div class="variant-images-container">
      <div class="row">
        <div class="col-md-12">
          <h2>PRODUCT VARIANT IMAGES</h2>
          <div class="dropzone-previews dropzone">
            <div class="dz-default dz-message"><span>Drop files here to upload</span>
            </div>
          </div>
        </div>
      </div><br>
    </div>

    <div class="three-sixty-images-container">
      <div class="row">
        <div class="col-md-12">
          <h2>360 IMAGE BUILDER</h2>
          <div class="three_sixty_previews dropzone">
            <div class="dz-default dz-message"><span>Drop files here to upload</span>
            </div>
          </div>
          <input type="button" value="Build 3D image" id="upload_images" class="btn btn-info">
          <div class="3d_image">
            <img src="<%= @first_plane_image %>" width="200" height="200" class="reel" id="three_sixty_image">
            </div>
        </div>
      </div><br>
    </div>


    <div class="row">
      <div class="col-md-2">
        <%= f.submit "Save", :class => "btn btn-success" %>
      </div>
      <div class="col-md-2">
        <%= f.submit "Cancel", :class => 'btn btn-warning' %>
      </div>     
    </div>
<% end %>    
  <form id="product-variant-images" action="" method="post" name="product-images">
    <input id="image" style="display:none;" name="image" type="file">
  </form> 
  <form id="three-sixty-form" action="" method="post" name="three-sixty-form">
    <input id="three_sixty_pictures" style="display:none;" name="three_sixty_pictures" type="file">
  </form>
</div>
