<script type="text/javascript">

$(document).ready(function(){
  <% if @shopify_variant.inventory_management.nil? %>
    $('.inventory_quantity').hide();
  <% end %>
  $('#inventory_management').on('change', function(){
    $('.inventory_quantity').toggle();
  });
  
  $('.assign_three_sixty_image').click(function(e){
    e.preventDefault();
    var three_sixty_image_id = $('.select_three_sixty_image').val();
    if (three_sixty_image_id != "0") {
      $.ajax({
        url: "<%= three_sixty_images_url(:protocol => 'https') %>/" + three_sixty_image_id + "/assign_to_variant",
        method: "POST",
        data: { 
          three_sixty_image_id: three_sixty_image_id,
          variant_id: <%= @variant.id %>
        },
        success: function(three_sixty_image_info){
          $('.reel').unreel();
          var first_plane_image = three_sixty_image_info["first_plane_image"]
          $('.reel').attr('src', first_plane_image);
          var images_names = three_sixty_image_info["images_names"];
          var images_path = three_sixty_image_info["images_path"];
          var frames = three_sixty_image_info["images_path"];
          var rotation_speed = three_sixty_image_info["rotation_speed"]
          var rotations_count = three_sixty_image_info["rotations_count"]
          var clockwise = three_sixty_image_info["clockwise"]
          var duration = rotations_count / rotation_speed * 10;
          $('.reel').reel({
            frames: images_names.count,
            speed: rotation_speed / 10,
            cw: clockwise,
            duration: duration,
            path: images_path + "/",
            images: images_names
          });
        }
      })  
    }
  });


  <% unless @plane_images.nil? %>
    var images_names = "<%= @images_names %>";
    images_names = images_names.split(',');
    var rotation_speed = <%= @three_sixty_image.rotation_speed.to_f / 10 %>;
    var duration = <%= @three_sixty_image.rotations_count.to_f / @three_sixty_image.rotation_speed.to_f * 10 %>;
    var clockwise = <%= @three_sixty_image.clockwise.nil? ? false : @three_sixty_image.clockwise %>;
    $('.reel').reel({
      frames: <%= @plane_images.count %>,
      speed: rotation_speed,
      duration: duration,
      path: "<%= @images_path %>/",
      images: images_names,
      cw: clockwise
    });
  <% end %>
});
  
</script>
<div class="container">
  <%= form_for @variant, url: product_variant_path(:product_id => params[:product_id], :variant_id => @variant.id ) do |f| %>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label 'variant[sku]', "SKU (Stock Keeping Unit)" %>
        <%= f.text_field :sku, class: "form-control" %>
      </div>

      <div class="col-md-6 form-group">
        <%= f.label 'variant[price]', "Price" %>
        <%= f.text_field :price, class: "form-control" %>
      </div>
      
      <div class="col-md-6 form-group">
        <label for="invenotry_managment">
          Inventory Managment
        </label>
        <select id="inventory_management" class="form-control" name="inventory_management">
          <option value="shopify" <%= @shopify_variant.inventory_management == 'shopify' ? "selected" : "" %>>Shopify</option>
          <option value="blank" <%= @shopify_variant.inventory_management.nil? ? "selected" : "" %>>Blank</option>
        </select>
      </div>
      
      <div class="col-md-6 form-group inventory_quantity">
        <label for="invenotry_quantity">
          Inventory Quantity
        </label>
        <input id="inventory_quantity" class="form-control" type="number" name="inventory_quantity" value=<%= @shopify_variant.inventory_quantity %>>
      </div>
      
      <div class="col-md-6 form-group">
        <%= f.label 'variant[length]', "Length" %>
        <%= f.text_field :length, class: "form-control" %>
      </div>
      
      <div class="col-md-6 form-group">
        <%= f.label 'variant[height]', "Height" %>
        <%= f.text_field :height, class: "form-control" %>
      </div>
      
      <div class="col-md-6 form-group">
        <%= f.label 'variant[depth]', "Depth" %>
        <%= f.text_field :depth, class: "form-control" %>
      </div>
      
    </div>  
    

    <div class="three-sixty-images-container">
      <div class="row three_sixty_image_assignment">
        <div class="col-md-6">
          <label>Assign 3D image</label>
          <select class="form-control select_three_sixty_image">
            <option value="0">-Select 3D image-</option>
            <% @three_sixty_images.each do |three_sixty_image| %>
              <option value="<%= three_sixty_image.id %>">
                <span class="three_sixty_title">
                  <%= three_sixty_image.title %>
                </span>
              </option>  
            <% end %>
          </select>
        </div>
        <div class="col-md-6">
          <br>
          <button class="btn btn-info assign_three_sixty_image">
            Confirm 3D Image Assignment
          </button>
        </div>
      </div>
      <div class="row current_three_sixty_image">
        <div class="col-md-12">
          <div class="3d_image">
            <img src="<%= @first_plane_image %>" width="400" height="auto" class="reel" id="three_sixty_image">
          </div>
      </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2">
        <%= f.submit "Save", :class => "btn btn-success" %>
      </div>
      <div class="col-md-2">
        <%= f.submit "Cancel", :class => 'btn btn-warning' %>
      </div>     
    </div>
<% end %>    
  
</div>
