
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.2.4/image-picker.min.js"></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/image-picker/0.2.4/image-picker.min.css' rel='stylesheet' type='text/css'>

<script type="text/javascript">

$(document).ready(function(){
  <% unless @variant.product_image.nil? %>
    var selected_image = <%= @variant.product_image.id %>;
    $("select").find('option[value="'+ selected_image +'"]').prop('selected',true);
  <% end %>
  $("select").imagepicker();
  
});
  
</script>
<style>
  img {
    width:200px;
  }
</style>
<div class="container">
  <%= form_for @variant, url: product_variant_path(:product_id => params[:product_id], :variant_id => @variant.id ) do |f| %>
    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label 'variant[sku]', "SKU (Stock Keeping Unit)" %>
        <%= f.text_field :sku, class: "form-control" %>
      </div>
    </div>  

    <div class="row">
      <div class="col-md-6 form-group">
        <%= f.label 'variant[price]', "Price" %>
        <%= f.text_field :price, class: "form-control" %>
      </div>
    </div>  
    
    <select class="image-picker show-html" id="selectImage" name="image_id">
      
      <% @images.each_with_index do |img, i| %>
        <option data-img-src="<%= img.image_source %>" value="<%= img.id %>">Cute Kitten 1</option>
      <% end %>
    </select>

    <div class="row">
      <div class="col-md-2">
        <%= f.submit "Save", :class => "btn btn-success" %>
      </div>
    </div>

  <% end %>    
</div>
