  <%= form_for @three_sixty_image  do |f| %>
    <div class="row">
      <div class="col-md-2">
        <%= submit_tag "Back", :class => "btn btn-info" %>
      </div>
    </div><br>
    
    <div class="row">
      <div class="col-md-6">
        <%= f.label "three_sixty_image[title]", "Title" %>
        <%= f.text_field :title, :class => "form-control" %>    
      </div>
      <div class="col-md-6">
        <%= f.label "three_sixty_image[rotation_speed]", "Rotations Speed" %>
        <%= f.number_field :rotation_speed, :class => "form-control" %>    
      </div>
      <div class="col-md-6">
        <%= f.label "three_sixty_image[rotations_count]", "Rotations Count" %>
        <%= f.number_field :rotations_count, :class => "form-control" %>    
      </div>
      <div class="col-md-12">
        <%= f.label "three_sixty_image[clockwise]", "Reversed rotation direction" %>
        <%= f.check_box :clockwise %>    
      </div>
      
      <% if params[:action] == "edit" %>     
        <div class="col-md-4">
          <input id="update_three_sixty_parameters" class="btn btn-info" type="button" value="Update 3D image parameters">
        </div>
      <% end %>
        
    </div><br>
    
    <div class="row">
      <div class="col-md-6">
        <%= f.submit "Save", :class => "btn btn-success" %>
      </div>
    </div>
    <% if params[:action] == "edit" %>     
      
      <h2>
        Select main variant image 
      </h2>
      <select class="image-picker show-html" id="selectImage" name="image_id">
        <% @variant_images.each_with_index do |img, i| %>
          <option data-img-src="<%= img.image.url(:medium) %>" value="<%= img.id %>"></option>
        <% end %>
      </select>
    <% end %>  
  <% end %>
  
  
