<script type="text/javascript">
$(document).ready(function () {
Dropzone.autoDiscover = false;
$("#my-awesome-dropzone").dropzone({ 
  autoProcessQueue: false,
  uploadMultiple: true,
  parallelUploads: 100,
  maxFiles: 100,
  paramName: 'images',
  accept: function(file, done){
    reader = new FileReader();
    reader.onload = handleReaderLoad;
    reader.readAsDataURL(file);
    function handleReaderLoad(evt) {
      document.getElementById("images")
              .setAttribute('value', evt.target.result);
    }
    done();  
  },

  init: function() {
    var myDropzone = this;

    
    this.on("sendingmultiple", function() {
      
    });
    this.on("successmultiple", function(files, response) {
      
    });
    this.on("errormultiple", function(files, response) {
      
    });
  }

});
});
</script>

<%= form_tag product_path, id: "my-awesome-dropzone", class: "dropzone", method: "patch", :html => { :controller => "products", :action => "update", :id => @product.id } do %>

<div class="row">
  <div class="dropzone-previews">
    
  </div>
</div>

<div class="row">
  
  <div class="col-md-12">
    <%= label_tag 'product[title]', "Product title:" %>
    <%= text_field_tag :title, @product.title %>
  </div>

</div>  

<div class="row">
  <div class="col-md-12">
    <%= label_tag 'product[body_html]', "Product description:" %>
    <%= text_area_tag :body_html, @product.body_html, class: "tinymce" %>
    <%= tinymce %>      
  </div>
</div>

<div class="row">
  
  <div class="col-md-12">
    <%= label_tag 'product[type]', "Product type:" %>
    <%= text_field_tag :product_type, @product.product_type %>
  </div>

</div>  

<div class="row">
  
  <div class="col-md-12">
    <%= label_tag 'product[published_scope]', "Product published scope:" %>
    <%= text_field_tag :published_scope, @product.published_scope %>
  </div>

</div> 

<div class="row">
  
  <div class="col-md-12">
    <%= label_tag 'product[vendor]', "Product vendor:" %>
    <%= text_field_tag :vendor, @product.vendor %>
  </div>

</div> 

<div class="row">
  <div class="col-md-12">
    <div id="file-previews">
      
    </div>
    <input type="file" onchange="previewFile()" multiple><br>
    <img src="<%= @product.images[0].src unless @product.images[0].nil? %>" id="product_image" height="200" alt="Image preview...">
    <input type="hidden" id="images" name="images"/>    
    <button id="delete_image" class="btn" type="button">Delete Image</button>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <%= submit_tag "Save", :class => "btn btn-success" %>
  </div>
</div>



<% end %>