<style>
  .option_values {
    overflow: hidden;
    white-space: nowrap;
  }
  .images-container .dropzone .dz-preview .dz-image {
    height: auto !important;
    width: auto !important;
  }
  .variant-info.row {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    padding: 5px;
  }
  .collections_list {
    height: 140px;
    overflow-y: scroll;
  }
  .search_label h4:hover {
    text-decoration: underline;
  }
  .variant-actions .btn {
    margin-bottom: 10px !important;
  }

</style>
<script type="text/javascript">


//product image dropzone
$(document).ready(function(){
  Dropzone.autoDiscover = false;
  $("#product-images").dropzone({
    // restrict image size to a maximum 1MB
    url: "<%= product_product_images_url(:product_id => @product.id, :protocol => 'https') %>",
    maxFilesize: 1,
    //method: "POST",
    // changed the passed param to one accepted by
    // our rails app
    paramName: "image",
    previewsContainer: '.dropzone-previews',
    clickable: '.dropzone-previews',
    // show remove links on each image upload
    addRemoveLinks: true,
    success: function(file, response){
      // find the remove button link of the uploaded file and give it an id
      // based of the fileID response from the server
      $('.dropzone-previews').find('.dz-remove:last').attr('id', response.imageID);
      // add the dz-success class (the green tick sign)
      //$('.dropzone-previews').addClass("dz-success");
      if ( $('.dropzone-previews').find('.dz-preview').length === 3) {
        $('.dropzone-previews').find('.dz-remove:first').trigger('click');
        $('.dropzone-previews').find('.dz-preview:first').remove();
      }  
      $('.dz-remove:last').click(function(){
        var id = $(this).attr('id'); 
        // make a DELETE ajax request to delete the file
        $.ajax({
          type: 'POST',
          data: { _method: 'DELETE' },
          url: '<%= product_product_images_path(@product.id) %>/' + id,
          success: function(data){
            console.log(data.message);
          }
        });
      })		
    },
    //when the remove button is clicked
    init: function(){
      var existingFiles = [];
      <% @images.each_with_index do |image, index| %>
        existingFiles.push({ id: "<%= image.id %>"});
        this.emit("addedfile", existingFiles[<%= index %>]);
        this.emit("thumbnail", existingFiles[<%= index %>], "<%= image.image.url %>");
        $('.dropzone-previews').find('.dz-remove:last').attr('id', <%= image.id %>);
      <% end %>
    }
		
  });	
	
  $('.dz-remove').click(function(){
    var id = $(this).attr('id'); 
    // make a DELETE ajax request to delete the file
    $.ajax({
      type: 'POST',
      data: { _method: 'DELETE' },
      url: '<%= product_product_images_path(@product.id) %>/' + id,
      success: function(data){
        console.log(data.message);
      }
    });
  })
	
});

  


</script>

<script>

  // variants container
  function select_for_action_click (){
    $('.select_for_action').on('click', function(){
      if ($('.select_for_action:checked').length === 0) {
        $('.delete_selected_variants').prop('disabled',true);
        $('.assign_3d_image').prop('disabled',true);
      } else {
        $('.delete_selected_variants').prop('disabled',false);
        if ($('.select_3d_image').val() != "0") {
          $('.assign_3d_image').prop('disabled',false);
        } else {
          $('.assign_3d_image').prop('disabled',true);
        }
      }
      if ($('.select_for_action:not(:checked)').length === 0) {
        $('.select_all_variants').prop("checked", true)
      } else {
        $('.select_all_variants').prop("checked", false)
      }
    });  
  }
  
  function showVariantsForm(){
    $('.variants_form').show();
    $('.cancel-adding-variants').show();
    $('.add-variants').hide();
  }
  
  function clearVariantsForm(){
    $('.add-variants').show();
    $('.cancel-adding-variants').hide();
    $('.variants_form').hide();
    $('.option_value').prop('checked', false);
    $('.number_of_values_selected').text('0');
    $('.number_of_variants').text('0');
    $('.options_selected').val(0);
    $('#variants').val('{}');
    $('.preview_product_variants').text('');
  }
  
  function previewVariants() {
    var options = {};
    $('.option_values_row').each(function(){
      var option_name = $(this).find('input.option-name').val();
      options[option_name] = [];
      $(this).find('.option_values').each(function(){
        if ($(this).find('.option_value').is(":checked")) {
          var option_value = $(this).find('label').text();
          options[option_name].push(option_value); 
        }  
      });
      if (options[option_name] == '') {
        delete options[option_name];
      }
      
    });
    
    //alert(JSON.stringify(options));
    
    
  var variants = permute(options,0,[],{});
  $('#variants').val(JSON.stringify(variants));
  //alert(JSON.stringify(variants));
  $('.preview_product_variants').text('');
  for(var i=0;i<variants.length;i++){
    $('<div class="variant_row"></div><br>').appendTo('.preview_product_variants');
    for (option_value in variants[i]) {
      $('<span class="value">' + variants[i][option_value]+ ' </span>').appendTo('.variant_row:last');
    }
  
    
  };
  $('<input value="Save product variants" onclick="createProductVariants()" class="btn btn-primary" type="button">').appendTo('.preview_product_variants');
  
  }
  
  // find permutations of all option_values
  function permute(options, optionIndex, results, current) {
    var allKeys = Object.keys(options);
    var optionKey = allKeys[optionIndex];
    var vals = options[optionKey];

    for (var i = 0; i < vals.length; i++) {
      current[optionKey] = vals[i];
      if (optionIndex + 1 < allKeys.length) {
        permute(options, optionIndex + 1, results, current);
      } else {
        // clone an object.
        var res = JSON.parse(JSON.stringify(current));
        results.push(res);
      }
    }

    return results;
  }
  
  function createProductVariants(){
    var variants_json = { product_id: <%= params[:id] %> }; 
    var variants = JSON.parse($('#variants').val());
    variants_json["variants"] = variants;
    $('.loader_image_wrapper').insertAfter('.variant-info:last');
    $('.loader_image_wrapper').show();
    $.ajax({
      url: "<%= generate_variants_path %>",
      method: "POST",
      //dataType: 'json',
      data: variants_json,
      success: function(){
        updateCurrentVariants();
      }
    });
    
    clearVariantsForm();
  }
  
  function updateCurrentVariants(){
    $.ajax({
      url: "<%= product_variant_path(product_id: @product.id) %>",
      method: "GET",
      dataType: 'json',
      success: function(variants_json){
        handleVariantsJSON(variants_json);
        $('.loader_image_wrapper').hide();
      }
    })
  }
  
  function handleVariantsJSON(variants_json){
    $('.current_number_of_variants').text(variants_json.length);
    var main_variant_id = parseInt($('.main_variant_label').parents('.variant-actions').find('.make_main_variant').data('variant-id'));
    $('.variant-info').remove();
    
    for(var i = 0; i < variants_json.length; i++) {
      $('<div class="variant-info row"></div>').appendTo('.current-variants');
      var options = variants_json[i]["options"];
      var variant_id = variants_json[i]["variant_id"];
      
      var image_source = variants_json[i]["image_source"];
      if (image_source === undefined) {
        image_source = '';
        $('<div class="col-md-1">' + 
          '<input type="checkbox" class="select_for_action" data-variant-id="' + variant_id + '">' + 
          '</div>').appendTo('.variant-info:last');
      } else {
      $('<div class="col-md-1">' + 
          '<input type="checkbox" class="select_for_action" data-variant-id="' + variant_id + '">' + 
          '<img src="' + image_source + '" style="height:30px;"></img>' +
        '</div>').appendTo('.variant-info:last');
      }
      $('<div class="col-md-4 options_and_values"></div>').appendTo('.variant-info:last');
      for(var j = 0; j< options.length; j++){
        var option_name = JSON.stringify(options[j].option_name);
        var option_value = JSON.stringify(options[j].option_value);
        var option_name_and_value = '<div class="option_value_wrapper"><span class="option-name-and-value"><strong>' + option_name + '</strong> : ' + option_value + ' </span></div>';
        
        $(option_name_and_value.replace(/['"]+/g, '')).appendTo(".options_and_values:last");
        
      }
      var price = JSON.stringify(variants_json[i].price);
      var sku = JSON.stringify(variants_json[i].sku);
      
      if (price === undefined) {
        price = 'not set';
      } else {
        price = '$ ' + price;
      }
      if (sku === undefined) {
        sku = 'not set';
      }
      
      var price_and_sku = '<div class="col-md-2"><strong>Price:</strong> '+ price + '</div><div class="col-md-2"><strong>SKU: </strong>' + sku   +'</div>';
      $(price_and_sku.replace(/['"]+/g, '')).appendTo(".variant-info:last");
      $('<div class="col-md-3 variant-actions"></div>').appendTo('.variant-info:last');
      $('<a class="btn btn-primary" href="/products/<%= @product.id %>/variants/<%= @product.id %>/edit?variant_id=' + variant_id + '" style="width:100% !important">' + 
        '<span>Edit Variant </span><span class="glyphicon glyphicon-edit"></span></a>').appendTo(".variant-actions:last");
      $('<a class="btn btn-danger" style="width:100% !important" data-confirm="Are you sure, you want to delete this product variant?" rel="nofollow" data-method="delete"' +
        'href="/products/<%= @product.id %>/variants/<%= @product.id %>?variant_id=' + variant_id + '">' + 
        '<span>Delete Variant </span><span class="glyphicon glyphicon-remove-sign"></span></a>').appendTo(".variant-actions:last");
      $('<button class="make_main_variant btn btn-warning" style="width: 100% !important" data-variant-id="' + variant_id + '">' + 
        '<span>Make main variant </span><span class="glyphicon glyphicon-ok-sign"></span></button>').appendTo(".variant-actions:last");
      if (parseInt(main_variant_id) === parseInt(variant_id)){
        $('<div class="main_variant_label"><strong> Main produt variant</strong></div>').appendTo(".variant-actions:last");        
      }
      add_make_main_variant_button_click();
      select_for_action_click();
    }
  }
  
  // options container
  
  function showNeccesaryOptionsActions(){
    $('.product_options .btn').show();
    $('.options .btn-warning').hide();
    $('.product_options .btn-danger').hide();
    $('.product_options .btn-success').hide();
    $('.product_options .btn-info').hide();
  }
  function assignOptionToProduct(option_id){
    $('#option' + option_id + ' > .btn-success').hide();
    $.ajax({
      url: "<%= product_assign_option_path(product_id: @product.id) %>",
      method: "POST",
      dataType: 'json',
      data: {
        option_id: option_id,
        product_id: <%= @product.id %>
      },
      
    });
    var new_product_option = $('#option' + option_id).clone();
    new_product_option.attr('id','product-option' + option_id);  
    $('.product_options').append(new_product_option);
    showNeccesaryOptionsActions();
    updateProductVariantsForm(option_id);
  }
  
  function updateProductVariantsForm(option_id){
    var option_name = $('#option'+ option_id).find('.option_name').text();
    var option_values = $('#option'+ option_id).find('.option_values').text().split(',');
    $('<div class="option_values_row"></div>').insertBefore('.variants-number-notice');
    $('<h4 class="option-name">Select ' + option_name + 's</h4>').appendTo('.option_values_row:last');
    $('<input class="option-name" type="hidden" value="'+ option_name+'"></input>').appendTo('.option_values_row:last');
    for(var i = 0; i < option_values.length - 1; i++) {
      option_values[i] = option_values[i].replace(/[\n\r\s]+/g, '');
      $('<span class="option_values"></span>').appendTo('.variants_form .option_values_row:last');
      $('<label for="' + option_values[i] + '">'+ option_values[i] + '</label>').appendTo('.variants_form .option_values:last');
      $('<input class="option_value" type="checkbox" value="0"></input>').appendTo('.variants_form .option_values:last');
    }
    $('<span class="number_of_values_selected">0</span>').appendTo('.option_values_row:last');
    $('<span> ' + option_name + 's selected</span>').appendTo('.option_values_row:last');
    $('<input class="options_selected" type="hidden" value="0" name="options_selected"></input>').appendTo('.option_values_row:last');
    bindCheckboxEvent(); 
  }
  
  function deleteAllVariants(){
    if (confirm('Are you sure, you want to delete all product variants?')) {
      $('.loader_image_wrapper').insertAfter('.variant-info:last');
      $('.loader_image_wrapper').show();
      $.ajax({
        url: "<%= product_delete_all_variants_path(product_id: @product.id) %>",
        method: 'POST',
        dataType: 'json',
        data: {
          _method: "delete",
          product_id: <%= @product.id %>
       },
        success: function(){
          $('.edit_main_variant').prop("disabled", true);
          $('.variant-info').each(function (){
            $(this).remove();
          });
          $('.current_number_of_variants').text('0');
          $('.loader_image_wrapper').hide();
        }
      })
    }
  }

  function unassignOptionFromProduct(option_id){
    $('#option' + option_id + ' > .btn-success').show();
    $.ajax({
      url: "<%= product_unassign_option_path(product_id: @product.id) %>",
      method: "POST",
      dataType: 'json',
      data: {
        _method: "delete",
        option_id: option_id,
        product_id: <%= @product.id %>
      }
    });
    
    $('#product-option' + option_id).remove();
    showNeccesaryOptionsActions();
    var option_name = $('#option' + option_id).find('.option_name').text();
    $('.option_values_row:contains('+ option_name +')').remove();
  }
  
  function bindCheckboxEvent(){
    $('.option_values_row:last').on('change', '.option_value', function(){
      var options_selected, number_of_variants;
      options_selected = parseInt($(this).parents('.option_values_row').children('.number_of_values_selected').text());
      if($(this).is(":checked")) {
        options_selected = options_selected + 1;
      } else {
        options_selected = options_selected - 1;
      }
    
      $(this).parents('.option_values_row').children('.number_of_values_selected').text(options_selected);
      $(this).parents('.option_values_row').children('.options_selected').val(options_selected);
    
      number_of_variants = 1;
      $('.variants_form .options_selected').each(function(){
        var num_of_opts = parseInt($(this).val());
        if (num_of_opts > 1) {
          number_of_variants = number_of_variants * num_of_opts;
        }
      });
      $('.number_of_variants').text(number_of_variants);
    });  
  }
  // options order and grouping
  
  function swapRows(row1,row2){
    row1_order_number = row1.find("td:nth-child(2)").text();
    row2_order_number = row2.find("td:nth-child(2)").text();
    row1.find("td:nth-child(2)").text(row2_order_number);
    row2.find("td:nth-child(2)").text(row1_order_number);
    row1.find("td:first").insertBefore(row2.find("td:first"));
    row2.find("td:nth-child(2)").insertBefore(row1.find("td:first"));
    row1.insertBefore(row2);
  }
  
  function saveOptionsOrderAndGroups(){
    var options_data = { _method: 'put', options_order_and_groups: {} };
    $('.options_order tbody tr').each(function(){
      var option_name, order_number, option_group_id, order_tabe;
      option_row = $(this);
      order_number = option_row.find('td:nth-child(2)').text();
      option_name = option_row.find('td:nth-child(3)').text();
      option_group_id = option_row.find('.option_group_select').val();
      options_data["options_order_and_groups"][option_name] = {
        order_number: order_number,
        option_group_id: option_group_id
      };
    })
    $.ajax({
      url: "<%= update_order_and_groups_url(:protocol => 'https', :product_id => @product.id) %>",
      method: 'POST',
      dataType: 'json',
      data: options_data
    })
  }
  
  function disableExtraGroups(){
    //alert(starting_index);
    $('.option_group_select option').prop('disabled',false);
    $('.option_group_select option:first').prop('disabled',true);
    for (var i = 0; i < $('.option_group_select').length - 1; i++){
      var previous_select_value = $('.option_group_select').eq(i).val();
      
      for (var j = i + 1; j < $('.option_group_select').length; j++){
        $('.option_group_select').eq(j).find('option').each(function(){
          if ($(this).attr('value') < previous_select_value) {
            $(this).prop('disabled',true);
          }
        });
      }
    }
  }
  
  function selectEnabledGroups(current_option_index){
    for (var i = current_option_index - 1; i < $('.option_group_select').length; i++) {
      var group_select = $('.option_group_select').eq(i)
      group_select.find('option:selected').each(function(){
        if ($(this).prop('disabled') == true) {
          group_select.find('option').each(function(){
            var option = $(this);
            if (option.prop('disabled') == false){
              option.prop('selected',true);
            }
          })
        }
      });
    }
  }
function add_make_main_variant_button_click(){
  $('.main_variant_label').parents('.variant-actions').find('.make_main_variant').hide();
  $('.make_main_variant').on('click', function(e){
    e.preventDefault();
    $('.edit_main_variant').prop("disabled", false);
    var this_make_main_variant = $(this);
    var variant_id = this_make_main_variant.data('variant-id');
    $.ajax({
      url: '<%= product_variants_url(:product_id => @product.id, :protocol => 'https') %>/' + variant_id,
      method: 'POST',
      data: {
        _method: 'PATCH',
        variant: {
         main_variant: true
        },
        variant_id: variant_id,
        success: function(){
          $('.make_main_variant').show();
          this_make_main_variant.hide();
          $('.main_variant_label').remove();
          $(this_make_main_variant).after('<span class="main_variant_label"><strong> Main produt variant</strong></span>');
        }
      }
    })
  })
}

$(document).ready(function(){
  
  $('.product_type_select').val('<%= @product.product_type %>');
  
  $('.product_type_select').change(function(){
    var product_type = $(this).val();
    $('.product_type').val(product_type);
  })
  $('.search_label').click(function(){
    $('.glyphicon-menu-down').toggle();
    $('.glyphicon-menu-up').toggle();
    $('.search_form').toggle();
  })
  
  //select all variants button
  
  $('.select_all_variants').click(function(){
    var unselected_variants_count = $('.select_for_action:not(:checked)').length;
    if (unselected_variants_count !== 0) {
      $('.select_for_action:not(:checked)').each(function(){
        $(this).prop('checked', true);
        $('.delete_selected_variants').prop('disabled', false);
        if ($('.select_3d_image').val() !== "0") {
          $('.assign_3d_image').prop('disabled', false);
        }
      })
    } else {
      $('.select_for_action:checked').each(function(){
        $(this).prop('checked', false);
        $('.delete_selected_variants').prop('disabled', true);
        $('.assign_3d_image').prop('disabled', true);
      })
    }
  })
  
  // assign 3d image form
  $('.assign_3d_image').prop("disabled", true);
  $('.select_3d_image').change(function(){
    if ($(this).val() === "0"){
      $('.assign_3d_image').prop("disabled", true);
    } else if ($('.select_for_action:checked').length === 0) {
      $('.assign_3d_image').prop("disabled", true);
    } else {
      $('.assign_3d_image').prop("disabled", false);
    }
  });
  $('.assign_3d_image').click(function(e){
    e.preventDefault();
    var variants_ids = [];
    var three_sixty_image_title = $('.select_3d_image option:selected').text();
    $('.select_for_action:checked').each(function(){
      this_variant_checkbox = $(this);
      
      variants_ids.push($(this).data('variant-id'));
    });
    var three_sixty_image_id = $('.select_3d_image').val();
    $.ajax({
      url: "<%= product_multiple_three_sixty_image_assignment_url(:product_id => @product.id, :protocol => 'https') %>",
      method: "POST",
      data: {
        variants_ids: variants_ids,
        three_sixty_image_id: three_sixty_image_id
      },
      success: function(three_sixty_info){
        alert("Successfully assigned 3D image " + three_sixty_info.title + " to " + variants_ids.length + " variants");
        $('.assign_3d_image').prop("disabled", true);
        $('.select_for_action:checked').each(function(){
          $(this).prop("checked", false);
        });
        $('.select_all_variants').prop('checked', false);
      }
    })
    console.log(variants_ids);
    console.log(three_sixty_image_id);
  });
  // edit product's main variant
  $('.edit_main_variant').click(function(e){
    e.preventDefault();
    
    var main_variant_href = $('.main_variant_label').parents('.variant-actions').find('.btn:contains("Edit Variant")').attr("href");
    if ((main_variant_href != undefined)) {
      location.href = main_variant_href;
    } else {
      <% unless @main_variant.nil? %>
        var main_variant_href = "<%= edit_product_variant_url(:protocol => 'https', :product_id => @product.id, :variant_id => @main_variant.id, :id => @main_variant.id) %>"
        location.href = main_variant_href;
      <% end %>
    }
    
  })
  //unassign product from collection
  $('.unassign_from_collection').click(function(){
    var collection_row = $(this).parents('.collection_row');
    var collection_id = $(this).data("collection_id");
    $.ajax({
      url: "<%= product_unassign_from_collection_url(:protocol => 'https', :product_id => @product.id) %>",
      method: 'POST',
      data: {
        collection_id: collection_id,
        _method: 'DELETE'
      },
      success: function(){
        collection_row.remove();
      }
    })
  })
  // search
  $('.search_option_value').change(function(){
    option_values_ids = [];
    $('.search_option_value').each(function(){
      var option_value_id = $(this).val();
      if (!(option_value_id === "0")) {
        option_values_ids.push(option_value_id);
      }
    })
    $('#search_option_values_ids').val(option_values_ids);
  })
  //delete selected variants
  select_for_action_click();
  $('.delete_selected_variants').on('click', function(e){
    e.preventDefault();
    $('.loader_image_wrapper').insertAfter('.variant-info:last');
    $('.loader_image_wrapper').show();
    var variant_ids = [];
    $('.select_for_action:checked').each(function(){
      variant_ids.push($(this).data('variant-id'))
    })
    $.ajax({
      url: "<%= product_delete_selected_variants_url(:product_id => @product.id, :protocol => 'https') %>",
      method: 'POST',
      data: {
        _method: 'delete',
        variant_ids: variant_ids
      },
      success: function(){
        
        var variants_count = $('.select_for_action:not(:checked)').length;
        $('.current_number_of_variants').text(variants_count);
        $('.select_for_action:checked').each(function(){
          $(this).parents('.variant-info').remove();
        })
        if ($('.main_variant_label').length === 0){
          $('.edit_main_variant').prop("disabled", true);
        }
        $('.loader_image_wrapper').hide();
      }
    })
  });
  
  //main product variant
  //$('<span> <strong>Main product variant</strong></span>').appendTo('.variant-actions:first');
  add_make_main_variant_button_click();
  // tabs init
  $( "#tabs" ).tabs({
    collapsible: true
  });  
  // options
  $("#saveOptionsOrderAndGroups").on('click', saveOptionsOrderAndGroups);
  <% @options.order(:order_number).each_with_index do |option, index| %>
    var option_row = $('.options_order > tbody > tr:nth-child(<%= index + 1 %>)')
    var option_group_id = <%= option.option_group_id.nil? ? 0 : option.option_group_id %>;
    option_row.find('.option_group_select option[value="' + option_group_id + '"]').prop('selected', true);
  <% end %>
  $(".options_order").find('.up:first').hide();
  $(".options_order").find('.down:last').hide();
  $(".up,.down").click(function(e){
    e.preventDefault();
    var row = $(this).parents("tr:first");
    if ($(this).is(".up")) {
      swapRows(row, row.prev());
    } else {
      swapRows(row.next(), row);
    }
  });

  showNeccesaryOptionsActions();
  
  clearVariantsForm();
  $('.cancel-adding-variants').click(function(e){
    e.preventDefault();
    clearVariantsForm();
  });
  
  $('.delete_all_variants').click(function(e){
    e.preventDefault();
    deleteAllVariants();  
  })
  $('.add-variants').click(function(e){
    e.preventDefault();
    showVariantsForm();
  })
  $('.option_values').on('change', '.option_value', function(){
    var options_selected, number_of_variants;
    options_selected = parseInt($(this).parents('.option_values_row').children('.number_of_values_selected').text());
    if($(this).is(":checked")) {
      options_selected = options_selected + 1;
    } else {
      options_selected = options_selected - 1;
    }
    
    $(this).parents('.option_values_row').children('.number_of_values_selected').text(options_selected);
    $(this).parents('.option_values_row').children('.options_selected').val(options_selected);
    
    number_of_variants = 1;
    $('.variants_form .options_selected').each(function(){
      var num_of_opts = parseInt($(this).val());
      if (num_of_opts > 1) {
        number_of_variants = number_of_variants * num_of_opts;
      }
    });
    $('.number_of_variants').text(number_of_variants);
  });  
  
  disableExtraGroups();
  $('.option_group_select').change(function(){
    var current_option_index = $(this).parents('tr').find('td:nth-child(2)').text();
    disableExtraGroups();
    selectEnabledGroups(current_option_index);
  })
  // adding option groups
  $('#option_group_form').hide();
  $('#add_option_group').on('click', function(){
    $('#option_group_form').show();
    $(this).hide();
  })
  $('#save_option_group').on('click', function(){
    var option_group_name;
    $('#add_option_group').show()
    $('#option_group_form').hide();
    option_group_name = $('#option_group_name').val();
    $.ajax({
      method: "POST",
      url: "<%= option_groups_url(:protocol => 'https') %>",
      dataType: 'json',
      data: {
        option_group_name: option_group_name
      },
      success: function(response){
        var id = response["id"];
        $('<div class="col-md-2 option_group">' +
            '<span class="option_group_name"> ' + option_group_name +
            ' </span>' +
            '<span class="delete_option_group">' +
              '<a class="btn btn-danger" data-confirm="Are you sure, you want to delete this option group?" rel="nofollow" data-method="delete"' +  
              'href="' + "<%= option_groups_url(:protocol => 'https') %>" +  '/' + id + '">X</a>' +
            '</span>' +
          '</div>').appendTo('.option_groups'); 
        $('.option_group_select').each(function(){
          var this_select = $(this);
          $('<option value="' + id + '">' + option_group_name +'</option>').appendTo(this_select);
        });
      }
    })
    $('#option_group_name').val('');
  })
});

  
</script>

<div class="container">
  <%= form_tag product_path, method: "patch", :html => { :controller => "products", :action => "update", :id => @product.id } do %>

  <div class="row">
    <div class="col-md-2">
      <%= submit_tag "Back to all products", :class => "btn btn-info" %>
    </div>
  </div><br>

  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Edit product information</a></li>
      <li><a href="#tabs-2">Edit options information</a></li>
    </ul>
  <div id="tabs-1" class="product_information_container">

    <div class="row">
      
      <h2>Product Information</h2>
      
      <div class="col-md-8 form-group">
        <%= label_tag 'product[title]', "Product title:" %>  
        <%= text_field_tag :title, @product.title, class: "form-control" %>
  
        <%= label_tag 'product[body_html]', "Product description:" %>
        <%= text_area_tag :body_html, @product.body_html, class: "tinymce form-control body_html" %>
        <script> 
          //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.tinymce.body_html",
                statusbar: false,
                menubar: false,
                resize: false,
                setup: function (editor) {
                  editor.on('change', function (e) {  
                    
                  });
                },
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
                plugins: "textcolor"
              });
            } else {
            setTimeout(arguments.callee, 50);
            }
          })();
          //]]>
        </script>      
      </div>
      
      <div class="col-md-4">
        <%= label_tag nil, "In Collections:" %>
        <div class="form-control collections_list">
          <% @product_collections.each do |collection| %>
            <div class="collection_row">
              <span><%= collection.title %></span>
              <span data-collection_id="<%= collection.id %>" class="glyphicon glyphicon-remove-sign unassign_from_collection"></span>
            </div>
          <% end %>    
        </div>
        <!--<select class="form-control" multiple>
          <% @product_collections.each do |collection| %>
            <option><%= collection.title %></option>
          <% end %>  
        </select>-->
        
        
        
        <%= label_tag 'product[collections]', "Assign collection" %>
        <select id="collection_id" name="collection_id" class="form-control"> 
          <option value="" selected="selected">
            -Select collection to assign-
          </option>
          <% @collections.each do |collection| %>
            <% unless @product_collections.include? collection %>
              <option value=<%= collection.id %>>  
                <span><%= collection.title %></span>
              </option>
            <% end %>
          <% end %>
        </select>
    
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <%= label_tag 'product_info[why_we_love_this]', "Why We Love This:" %>  
        <%= text_area_tag :why_we_love_this, @product_info.why_we_love_this , class: "form-control why_we_love_this tinymce" %>
        <script> 
          //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.tinymce.why_we_love_this",
                statusbar: false,
                menubar: false,
                resize: false,
                setup: function (editor) {
                  editor.on('change', function (e) {  
                    
                  });
                },
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
                plugins: "textcolor"
              });
            } else {
            setTimeout(arguments.callee, 50);
            }
          })();
          //]]>
        </script>      
      </div>
      
      <div class="col-md-6">
        <%= label_tag 'product_info[be_sure_to_note]', "Be Sure To Note:" %>  
        <%= text_area_tag :be_sure_to_note, @product_info.be_sure_to_note , class: "form-control be_sure_to_note tinymce" %>
        <script> 
          //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.tinymce.be_sure_to_note",
                statusbar: false,
                menubar: false,
                resize: false,
                setup: function (editor) {
                  editor.on('change', function (e) {  
                    
                  });
                },
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
                plugins: "textcolor"
              });
            } else {
            setTimeout(arguments.callee, 50);
            }
          })();
          //]]>
        </script>      
      </div>
    </div>
    <div class="row">
  
      <div class="col-md-3 form-group">
        <%= label_tag 'product[type]', "Product type:" %>
        <%= hidden_field_tag :product_type, @product.product_type, class: "form-control product_type" %>
        <select class="form-control product_type_select">
          <optgroup label="FURNITURE - SEATING">
          <option value="SOFAS &amp; LOVESEATS">SOFAS &amp; LOVESEATS</option>
          <option value="SECTIONALS">SECTIONALS</option>
          <option value="SLEEPERS &amp; DAYBEDS">SLEEPERS &amp; DAYBEDS</option>
          <option value="ACCENT CHAIRS">ACCENT CHAIRS</option>
          <option value="DINING CHAIRS">DINING CHAIRS</option>
          <option value="DESK CHAIRS">DESK CHAIRS</option>
          <option value="CHAISES, SETTEES">CHAISES, SETTEES</option>
          <option value="BENCHES, OTTOMANS &amp; POUFS">BENCHES, OTTOMANS &amp; POUFS</option>
          <option value="BAR &amp; COUNTER">BAR &amp; COUNTER</option>
          <option value="STOOLS">STOOLS</option></optgroup><optgroup label="FURNITURE - SHELVING &amp; CABINETS"><option value="ARMOIRES &amp; CABINETS">ARMOIRES &amp; CABINETS</option>
          <option value="BAR STORAGE &amp; CARTS">BAR STORAGE &amp; CARTS</option>
          <option value="SIDEBOARDS &amp; HUTCHES">SIDEBOARDS &amp; HUTCHES</option>
          <option value="MEDIA CONSOLES">MEDIA CONSOLES</option>
          <option value="SHELVES &amp; BOOKCASES">SHELVES &amp; BOOKCASES</option></optgroup><optgroup label="FURNITURE - TABLES"><option value="DINING TABLES">DINING TABLES</option>
          <option value="BAR &amp; COUNTER TABLES">BAR &amp; COUNTER TABLES</option>
          <option value="COCKTAIL &amp; COFFEE TABLES">COCKTAIL &amp; COFFEE TABLES</option>
          <option value="CONSOLE TABLES">CONSOLE TABLES</option>
          <option value="SIDE TABLES">SIDE TABLES</option>
          <option value="TRUNKS">TRUNKS</option>
          <option value="DESKS">DESKS</option></optgroup><optgroup label="FURNITURE - BEDROOM FURNITURE"><option value="BED FRAMES">BED FRAMES</option>
          <option value="HEADBOARDS">HEADBOARDS</option>
          <option value="MATTRESSES">MATTRESSES</option>
          <option value="NIGHTSTANDS">NIGHTSTANDS</option>
          <option value="DRESSERS">DRESSERS</option></optgroup><optgroup label="FURNITURE - BATH FURNITURE"><option value="ÉTAGÈRES &amp; CABINETS">ÉTAGÈRES &amp; CABINETS</option>
          <option value="MIRRORS">MIRRORS</option>
          <option value="VANITIES &amp; SINKS">VANITIES &amp; SINKS</option>
          <option value="TUBS">TUBS</option></optgroup><optgroup label="FURNITURE - OFFICE FURNITURE"><option value="DESKS">DESKS</option>
          <option value="CHAIRS">CHAIRS</option>
          <option value="OFFICE STORAGE">OFFICE STORAGE</option></optgroup><optgroup label="FURNITURE - OUTDOOR FURNITURE"><option value="SOFAS &amp; LOVESEATS">SOFAS &amp; LOVESEATS</option>
          <option value="SECTIONALS">SECTIONALS</option>
          <option value="LOUNGERS">LOUNGERS</option>
          <option value="ACCENT CHAIRS">ACCENT CHAIRS</option>
          <option value="COFFEE TABLES">COFFEE TABLES</option>
          <option value="DINING CHAIRS">DINING CHAIRS</option>
          <option value="DINING &amp; BAR TABLES">DINING &amp; BAR TABLES</option>
          <option value="STOOLS">STOOLS</option></optgroup><optgroup label="KITCHEN &amp; TABLETOP - APPLIANCES"><option value="REFRIGERATOR">REFRIGERATOR</option>
          <option value="OVENS">OVENS</option>
          <option value="COOKTOPS">COOKTOPS</option>
          <option value="RANGES">RANGES</option>
          <option value="DISHWASHERS">DISHWASHERS</option>
          <option value="HOODS">HOODS</option>
          <option value="FITTINGS">FITTINGS</option></optgroup><optgroup label="KITCHEN &amp; TABLETOP - ACCESSORIES"><option value="STEP STOOLS + LADDERS">STEP STOOLS + LADDERS</option>
          <option value="KNOBS &amp; HANDLES">KNOBS &amp; HANDLES</option>
          <option value="STORAGE">STORAGE</option>
          <option value="TRASHCANS">TRASHCANS</option></optgroup><optgroup label="KITCHEN &amp; TABLETOP - COOKWARE, BAKEWARE &amp; TOOLS"><option value="CUTLERY &amp; PREP">CUTLERY &amp; PREP</option>
          <option value="BAKEWARE">BAKEWARE</option>
          <option value="POTS &amp; PANS">POTS &amp; PANS</option>
          <option value="COOKING TOOLS">COOKING TOOLS</option>
          <option value="CANISTERS &amp; JARS">CANISTERS &amp; JARS</option>
          <option value="DISH TOWELS, APRONS &amp; MITTS">DISH TOWELS, APRONS &amp; MITTS</option>
          <option value="GOURMET">GOURMET</option></optgroup><optgroup label="KITCHEN &amp; TABLETOP - TABLETOP"><option value="PLATES">PLATES</option>
          <option value="BOWLS">BOWLS</option>
          <option value="MUGS &amp; CUPS">MUGS &amp; CUPS</option>
          <option value="STEMWARE">STEMWARE</option>
          <option value="GLASSWARE">GLASSWARE</option>
          <option value="FLATWARE">FLATWARE</option></optgroup><optgroup label="KITCHEN &amp; TABLETOP - SERVEWARE"><option value="PLATTERS &amp; TRAYS">PLATTERS &amp; TRAYS</option>
          <option value="COFFEE &amp; TEA">COFFEE &amp; TEA</option>
          <option value="SALT &amp; PEPPER">SALT &amp; PEPPER</option>
          <option value="SERVING BOWLS">SERVING BOWLS</option>
          <option value="SERVING UTENSILS">SERVING UTENSILS</option>
          <option value="PITCHERS &amp; JUGS">PITCHERS &amp; JUGS</option>
          <option value="CHEESE BOARDS">CHEESE BOARDS</option></optgroup><optgroup label="KITCHEN &amp; TABLETOP - ENTERTAINING"><option value="COCKTAIL PLATES">COCKTAIL PLATES</option>
          <option value="COASTERS">COASTERS</option>
          <option value="CHARGERS">CHARGERS</option>
          <option value="SERVING TRAYS">SERVING TRAYS</option>
          <option value="ACCESSORIES">ACCESSORIES</option></optgroup><optgroup label="KITCHEN &amp; TABLETOP - TABLE LINENS"><option value="NAPKINS">NAPKINS</option>
          <option value="PLACEMATS">PLACEMATS</option>
          <option value="TABLECLOTHS &amp; RUNNERS">TABLECLOTHS &amp; RUNNERS</option>
          <option value="NAPKIN RINGS">NAPKIN RINGS</option></optgroup><optgroup label="KITCHEN &amp; TABLETOP - BARWARE"><option value="COCKTAIL GLASSES">COCKTAIL GLASSES</option>
          <option value="PITCHERS &amp; DECANTERS">PITCHERS &amp; DECANTERS</option>
          <option value="BAR ACCESSORIES">BAR ACCESSORIES</option></optgroup><optgroup label="BED &amp; BATH - BED LINENS"><option value="DUVET COVERS &amp; SHAMS">DUVET COVERS &amp; SHAMS</option>
          <option value="SHEETING">SHEETING</option>
          <option value="QUILTS &amp; COVERLETS">QUILTS &amp; COVERLETS</option></optgroup><optgroup label="BED &amp; BATH - BEDDING ACCESSORIES"><option value="THROWS &amp; BLANKETS">THROWS &amp; BLANKETS</option>
          <option value="PILLOW INSERTS">PILLOW INSERTS</option>
          <option value="DECORATIVE PILLOWS BATH LINENS">DECORATIVE PILLOWS BATH LINENS</option>
          <option value="TOWELS">TOWELS</option>
          <option value="BATH RUGS">BATH RUGS</option>
          <option value="SHOWER CURTAINS">SHOWER CURTAINS</option></optgroup><optgroup label="BED &amp; BATH - BATH FITTINGS"><option value="WALL MOUNTED HARDWARE">WALL MOUNTED HARDWARE</option>
          <option value="VANITIES &amp; WALL SHELVES">VANITIES &amp; WALL SHELVES</option>
          <option value="KNOBS, HOOKS &amp; PULLS">KNOBS, HOOKS &amp; PULLS</option>
          <option value="FAUCETS &amp; FITTINGS">FAUCETS &amp; FITTINGS</option></optgroup><optgroup label="BED &amp; BATH - BATH ACCESSORIES"><option value="COUNTERTOP ACCESSORIES">COUNTERTOP ACCESSORIES</option>
          <option value="COUNTERTOP MIRRORS">COUNTERTOP MIRRORS</option>
          <option value="BATH STORAGE">BATH STORAGE</option>
          <option value="SHOWER BASKETS">SHOWER BASKETS</option>
          <option value="SOAP &amp; LOTION COLLECTIONS">SOAP &amp; LOTION COLLECTIONS</option></optgroup><optgroup label="LIGHTING - CEILING"><option value="CHANDELIERS">CHANDELIERS</option>
          <option value="PENDANTS">PENDANTS</option>
          <option value="FLUSHMOUNTS">FLUSHMOUNTS</option>
          <option value="CEILING FANS">CEILING FANS</option></optgroup><optgroup label="LIGHTING - LAMPS"><option value="FLOOR LAMPS">FLOOR LAMPS</option>
          <option value="TABLE LAMPS">TABLE LAMPS</option></optgroup><optgroup label="LIGHTING - WALL"><option value="WALL SCONCES">WALL SCONCES</option>
          <option value="BATH SCONCES">BATH SCONCES</option>
          <option value="PICTURE LIGHTS">PICTURE LIGHTS</option></optgroup><optgroup label="LIGHTING - OUTDOOR"><option value="OUTDOOR PENDANTS">OUTDOOR PENDANTS</option>
          <option value="OUTDOOR SCONCES">OUTDOOR SCONCES</option>
          <option value="OUTDOOR FLUSHMOUNTS">OUTDOOR FLUSHMOUNTS</option>
          <option value="STRING LIGHTS">STRING LIGHTS</option></optgroup><optgroup label="LIGHTING - LIGHTING ACCESSORIES"><option value="SHADES">SHADES</option>
          <option value="LIGHTBULBS">LIGHTBULBS</option>
          <option value="SWITCH PLATES">SWITCH PLATES</option>
          <option value="LIT DÉCOR">LIT DÉCOR</option></optgroup><optgroup label="RUGS - RUGS BY STYLE"><option value="HIDES, SKINS &amp; LEATHER">HIDES, SKINS &amp; LEATHER</option>
          <option value="NATURAL FIBER, SISAL &amp; TEXTURE">NATURAL FIBER, SISAL &amp; TEXTURE</option>
          <option value="PATTERN">PATTERN</option>
          <option value="SHAG">SHAG</option>
          <option value="SOLIDS">SOLIDS</option>
          <option value="SILK">SILK</option>
          <option value="FLATWEAVE">FLATWEAVE</option>
          <option value="ANTIQUE &amp; VINTAGE">ANTIQUE &amp; VINTAGE</option>
          <option value="RUG ACCESSORIES">RUG ACCESSORIES</option></optgroup><optgroup label="DÉCOR - OBJECTS"><option value="BOOKENDS">BOOKENDS</option>
          <option value="BOOKS">BOOKS</option>
          <option value="CANDLES &amp; CANDLE HOLDERS">CANDLES &amp; CANDLE HOLDERS</option>
          <option value="CLOCKS">CLOCKS</option>
          <option value="FRAMES">FRAMES</option>
          <option value="LETTERS &amp; NUMBERS">LETTERS &amp; NUMBERS</option>
          <option value="OBJECTS">OBJECTS</option>
          <option value="VASES">VASES</option>
          <option value="VESSELS &amp; TRAYS">VESSELS &amp; TRAYS</option></optgroup><optgroup label="DÉCOR - MIRRORS"><option value="FLOOR MIRRORS">FLOOR MIRRORS</option>
          <option value="WALL MIRRORS">WALL MIRRORS</option></optgroup><optgroup label="DÉCOR - WINDOWS"><option value="DRAPERY">DRAPERY</option>
          <option value="SHADES">SHADES</option>
          <option value="BLINDS">BLINDS</option>
          <option value="HARDWARE">HARDWARE</option></optgroup><optgroup label="DÉCOR - OFFICE &amp; STORAGE"><option value="BASKETS &amp; TOTES">BASKETS &amp; TOTES</option>
          <option value="SHELVING">SHELVING</option>
          <option value="DESK ACCESSORIES">DESK ACCESSORIES</option>
          <option value="BOXES">BOXES</option></optgroup><optgroup label="DÉCOR - WALL DÉCOR"><option value="ARTWORK">ARTWORK</option>
          <option value="WALL CARVINGS/PLAQUES">WALL CARVINGS/PLAQUES</option>
          <option value="DISPLAY SHELVES">DISPLAY SHELVES</option></optgroup><optgroup label="DÉCOR - HEARTH"><option value="SCREENS">SCREENS</option>
          <option value="TOOLS &amp; ACCESSORIES">TOOLS &amp; ACCESSORIES</option></optgroup><optgroup label="DÉCOR - PILLOWS &amp; THROWS"><option value="PILLOWS">PILLOWS</option>
          <option value="PILLOW INSERTS">PILLOW INSERTS</option>
          <option value="THROWS">THROWS</option></optgroup><optgroup label="DÉCOR - SMALL FURNITURE"><option value="BAR CARTS">BAR CARTS</option>
          <option value="COAT RACKS">COAT RACKS</option>
          <option value="LUGGAGE RACKS">LUGGAGE RACKS</option>
          <option value="LADDERS &amp; SCREENS">LADDERS &amp; SCREENS</option>
          <option value="WALL SHELVING">WALL SHELVING</option></optgroup><optgroup label="DÉCOR - HARDWARE"><option value="DOORBELLS">DOORBELLS</option>
          <option value="HINGES &amp; LATCHES">HINGES &amp; LATCHES</option>
          <option value="HOOKS">HOOKS</option>
          <option value="KNOBS">KNOBS</option>
          <option value="KNOCKERS">KNOCKERS</option>
          <option value="MAILBOXES">MAILBOXES</option>
          <option value="NUMBERS">NUMBERS</option>
          <option value="PULLS, HANDLES &amp; KNOBS">PULLS, HANDLES &amp; KNOBS</option>
          <option value="REGISTER COVERS">REGISTER COVERS</option>
          <option value="SWITCH PLATES">SWITCH PLATES</option></optgroup><optgroup label="DÉCOR - FABRIC BY THE YARD"><option value="FABRIC BY THE YARD">FABRIC BY THE YARD</option></optgroup><optgroup label="OUTDOOR - OUTDOOR FURNITURE"><option value="SOFAS &amp; LOVESEATS">SOFAS &amp; LOVESEATS</option>
          <option value="SECTIONALS">SECTIONALS</option>
          <option value="LOUNGERS">LOUNGERS</option>
          <option value="ACCENT CHAIRS">ACCENT CHAIRS</option>
          <option value="COFFEE TABLES">COFFEE TABLES</option>
          <option value="DINING CHAIRS">DINING CHAIRS</option>
          <option value="DINING &amp; BAR TABLES">DINING &amp; BAR TABLES</option>
          <option value="STOOLS">STOOLS</option></optgroup><optgroup label="OUTDOOR - OUTDOOR DÉCOR"><option value="FOUNTAINS">FOUNTAINS</option>
          <option value="GARDEN OBJECTS">GARDEN OBJECTS</option>
          <option value="TOPIARIES">TOPIARIES</option>
          <option value="URNS &amp; PEDESTALS">URNS &amp; PEDESTALS</option></optgroup><optgroup label="OUTDOOR - FIRE &amp; HEAT"><option value="FIREPLACE &amp; PITS">FIREPLACE &amp; PITS</option>
          <option value="FIRE ACCESSORIES">FIRE ACCESSORIES</option>
          <option value="OUTDOOR HEATERS">OUTDOOR HEATERS</option>
          <option value="FIRE &amp; HEAT COVERS">FIRE &amp; HEAT COVERS</option>
          <option value="GRILLS &amp; OVENS">GRILLS &amp; OVENS</option></optgroup><optgroup label="OUTDOOR - OUTDOOR LIGHTING"><option value="PENDANTS">PENDANTS</option>
          <option value="SCONCES">SCONCES</option>
          <option value="FLUSHMOUNTS">FLUSHMOUNTS</option>
          <option value="STRING LIGHTS">STRING LIGHTS</option></optgroup><optgroup label="OUTDOOR - UMBRELLAS"><option value="UMBRELLAS">UMBRELLAS</option>
          <option value="UMBRELLA STANDS">UMBRELLA STANDS</option>
          <option value="UMBRELLA COVERS">UMBRELLA COVERS</option></optgroup><optgroup label="OUTDOOR - OUTDOOR ACCESSORIES"><option value="COVERS">COVERS</option>
          <option value="CUSHIONS">CUSHIONS</option>
          <option value="PILLOWS">PILLOWS</option>
          <option value="PLANTERS">PLANTERS</option>
          <option value="DOORMATS">DOORMATS</option></optgroup>
        </select>
      </div>
  
      <div class="col-md-3 form-group">
        <%= label_tag 'product[published_scope]', "Visibility:" %>
        <%= text_field_tag :published_scope, @product.published_scope, class: "form-control" %>
      </div>
  
      <div class="col-md-3 form-group">
        <%= label_tag 'product[vendor]', "Vendor:" %>
        <%= text_field_tag :vendor, @product.vendor, class: "form-control" %>
      </div>
      
      <div class="col-md-3">
        <br>
        <button class="btn btn-primary edit_main_variant" style="width: 100% !important;" <%= "disabled" unless @main_variant_present %>>
          Edit Product's Main Variant 
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </div>

    </div>  

    <div class="images-container">
      <div class="row">
        <div class="col-md-12">
          <h4><strong>Product Sketches (SketchBuilder):</strong></h4>
          <div class="dropzone-previews dropzone"> 
            <div class="dz-default dz-message"><span>Drop files here to upload</span>
            </div>
          </div>  
         </div>
      </div><br>  
    </div>

    <div class="row">
      <div class="col-md-12">
        <button type="submit" name="commit" class="btn btn-success" style="width:100%;">
          <span>Save product information</span> 
          <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
      </div>
    </div>
    <hr>
  <% end %>

  <div class="variants-container">
  
    <h3>Product Variants</h3>
    <div class="row search_label">
      <div class="col-md-12">
        <h4>
          <strong>Filter and Search Variants</strong>
          <span class="glyphicon glyphicon-menu-down search_area_toggle"></span>
          <span class="glyphicon glyphicon-menu-up search_area_toggle" style="display:none;"></span>
        </h4>
      </div>
    </div>
    <div class="search_form row" style="display:none;">
      <div class="form-group col-md-6">
        <%= label_tag 'sku', 'Variant SKU' %>
        <%= text_field_tag :sku_like, nil, :class => 'form-control' %>
      </div>
      <div class="form-group col-md-6">
        <%= label_tag 'per_page', 'Variants Per Page' %>
        <select class="form-control" name="per_page">
          <option value="10">10 Variants Per Page</option>
          <option value="25">25 Variants Per Page</option>
          <option value="50">50 Variants Per Page</option>
          <option value="100">100 Variants Per Page</option>
          <option value="-1">All Variants</option>
        </select>
      </div>
      <% @options_with_values.each do |option_name, option_values| %>
        <div class="col-md-6 form-group">
          <%= label_tag option_name %>
          <select class="form-control search_option_value">
            <option value=0>-Select <%= option_name %>-</option>
            <% option_values.each do |option_value| %>
              <option value=<%= option_value[0] %>><%= option_value[1] %></option>
            <% end %>
          </select>
        </div>
      <% end %>
      <input id="search_option_values_ids" name="search_option_values_ids" type="hidden" value="[]">
      <div class="col-md-12">
        <%= submit_tag "Search", :name => 'search', :class => "btn btn-info" %>
      </div>
    </div>
    <br>
  
    <div class="variants_actions row">
      <div class="variants_form_actions col-md-4">
        <button class="btn btn-warning cancel-adding-variants" style="display:none; width:100% !important">
          <span>Canel adding product variants</span>
          <span class="glyphicon glyphicon-minus-sign"></span>
        </button>
        <button  class="btn btn-success add-variants" style="width:100% !important">
          <span>Add product variants</span>
          <span class="glyphicon glyphicon-plus-sign"></span>
        </button>  
      </div>
      <div class="col-md-4">
        <button  class="btn btn-warning delete_selected_variants" style="width:100% !important" disabled>
          <span>Delete selected product variants</span>
          <span class="glyphicon glyphicon-remove-sign"></span>
        </button><br>      
      </div>
      <div class="col-md-4 delete_all_variants_button">
        <button class="btn btn-danger delete_all_variants" style="width:100% !important">
          <span>Delete all product variants</span>
          <span class="glyphicon glyphicon-remove-sign"></span>
        </button><br>      
      </div>
      <div class="assign_3d_image_form">
        <div class="col-md-4 text-center">
          <br>
          <span>Assign image set to selected variants</span>
        </div>
        
        <div class="col-md-4">
          <br>
          <select class="form-control select_3d_image">
            <option value="0">-Select Image Set-</option>
            <% @three_sixty_images.each do |three_sixty_image| %>
            <option value="<%= three_sixty_image.id %>">
              <span><%= three_sixty_image.title %></span>
            </option>
            <% end %>
          </select>
        </div>
        
        <div class="col-md-4">
          <br>
          <button class="btn btn-info assign_3d_image" style="width:100%">
            <span>Confirm Assignment</span>
          </button>
        </div>
      </div>
      
    </div>
    
    <div class="variants_form" style="display:none;">
      <% @product_options.each do |opt| %>
     
        <div class="option_values_row">
          <h4 class="option-name">Select <%= opt.name.pluralize %></h4>
          <input class="option-name" type="hidden" value="<%= opt.name %>"/>
          <% opt.option_values.each do |value| %>
            <span class="option_values">
              <label for="<%= value.value %>"><%= value.value %></label>
              <input type="checkbox" class="option_value" value=0 />
            </span>
          <% end %>
          <span class="number_of_values_selected">0</span>
          <span><%= opt.name.pluralize %> selected</span>
          <input name="options_selected" class="options_selected" value="0" type="hidden">
        </div> 
      <% end %>
      <p class="variants-number-notice">
        <span class="number_of_variants">0</span>
        <span> variants will be created </span>
      </p>
      <input type='button' value="Preview product variants" onclick="previewVariants()" class="btn btn-primary preview-variants"/><br>
        <%= hidden_field_tag :variants, {} %>
      <div class="preview_product_variants">
    
      </div>
    </div>
  
    <div class="current-variants">
      <% if params[:filtering_params].nil? %> 
      <h3>Existing Variants (currently has <span class="current_number_of_variants"><%= @variants_count %></span> variants):</h3>  
      <% else %>
      <h3>Existing Variants (<span class="current_number_of_variants"><%= @variants_count %></span> match your selection ):</h3>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <input class="select_all_variants" type="checkbox">  
          <span class="select_all"><strong>Select All Variants</strong></span>
        </div>
      </div> 
      <% @variants.each do |variant| %>
        <div class="variant-info row">
          <div class="col-md-1">
            <input type="checkbox" class="select_for_action" data-variant-id="<%= variant.id %>">
            
          </div>
          <div class="col-md-4 options_and_values">
            <% variant.option_values.each do |opt_val| %>
              <div class="option_value_wrapper">
                <span class="option-name-and-value" >
                  <strong><%= opt_val.option.name %></strong> : <%= opt_val.value %> 
                </span>  
              </div>
              
            <% end %>
          </div>
          
          <div class="col-md-2">
            <strong>Price: </strong><%= "#{((variant.price.nil?) or (variant.price == '')) ? "not set" : "$ " + variant.price.to_s}" %>  
          </div>
          
          <div class="col-md-2">
            <strong>SKU: </strong><%= "#{((variant.sku.nil?) or (variant.sku == '')) ? "not set" : variant.sku}" %>  
          </div>
          
          <div class="col-md-3 variant-actions">
            <%= link_to edit_product_variant_url(:id => variant.id, :variant_id => variant.id, :product_id => @product.id, :protocol => 'https'), :style => "width: 100% !important", class: "btn btn-primary" do %>
              <span>Edit Variant</span>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %>
            <br>
            
            <%= link_to product_variant_url(:product_id => @product.id, :variant_id => variant.id, :protocol => 'https', :_method => 'delete'), 
                        { :method => :delete, class: "btn btn-danger", style: "width: 100% !important", data: { confirm: 'Are you sure, you want to delete this product variant?' } } do %>
              <span>Delete Variant</span>
              <span class="glyphicon glyphicon-remove-sign"></span>
            <% end %>                                          
            <br>
            <button class="make_main_variant btn btn-warning" style="width: 100% !important" data-variant-id="<%= variant.id %>">
              <span>Make main variant</span>            
              <span class="glyphicon glyphicon-ok-sign"></span>
            </button>                              
            <% if variant.main_variant %>
              <div class="main_variant_label"><strong> Main produt variant</strong></div>
            <% end %>
          </div>
        
        </div>
      <% end %>
      <div class="loader_image_wrapper text-center" style="display:none;">
        <%= image_tag("loader.gif") %>
      </div>
    </div>
    <br>
    <div class="paginator" style="text-align:center;">
      <%= paginate @variants %>
    </div>
  
    
  </div><br>





</div>

<div class="options-container" id="tabs-2">
  
  <h2>OPTIONS</h2>
  
  <h3>Options order and grouping</h3>
  <table class="table table-bordered table-striped table-hover options_order" style="width:auto; text-align:center;">
    <thead>
      <th></th>
      <th>Option order number</th>
      <th>Option name</th>
      <th>Option group</th>
    </thead>
    <% @options.order(:order_number).each do |option| %>
      <tr>
        <td>
          <a href="#" class="up">Up</a>
          <a href="#" class="down">Down</a>
        </td>
        <td><%= option.order_number %></td>
        <td><%= option.name %></td>
        <td>
          <select class="form-control option_group_select">
            <option value="0" disabled>
              -Select Option Group-
            </option>
            <% @option_groups.each do |option_group| %>
              <option value=<%= option_group.id %>>
                <%= option_group.name %>
              </option>
            <% end %>
          </select>
        </td>
      </tr>
    <% end %>
  </table>
  
  <input type="button" id="saveOptionsOrderAndGroups" class="btn btn-success" value="Save order and option groups">
  
  <h3>Option groups:</h3>
  <div class="row option_groups">
    <% @option_groups.each do |option_group| %>
      <div class="col-md-2 option_group">
        <span class="option_group_name">
          <%= option_group.name %>
        </span>
        <span class="delete_option_group">
          <%= link_to 'X', option_group_url(option_group, :protocol => 'https'), 
                            { :method => :delete, class: "btn btn-danger", 
                            data: { confirm: 'Are you sure, you want to delete this option group?' } } %>
        </span>
      </div>
      
    <% end %>
  </div><br>
  <input type="button" id="add_option_group" class="btn btn-info" value="Add new option group">
  <div id="option_group_form" class="row form-group">
    <div class="col-md-4">
      <label for="option_group_name">Option group name</label>
      <input id="option_group_name" class="form-control" type="text"><br>
      <input id="save_option_group" class="btn btn-success" type="button" value="Save option group">
    </div>
  </div>
  
  <h3>All available options:</h3>
  
  <div class="row options">
    <% @options.each do |opt| %>
      <div class="col-md-4" id="option<%= opt.id %>">
        <p>Option <span class="option_name"><%= opt.name %></span> has <%= opt.option_values.count %> values:</p>
        <p class="option_values">
          <% opt.option_values.each do |value| %>
            <% unless value.image.nil? or value.image.url == "" or value.image.url.include?("missing") %>
              <img style="width:20px" src="<%= value.image.url.include?("missing") ? "" : value.image.url(:thumb) %>">
            <% end %>
            <%=value.value %>,
          <% end %>
        </p>
        <%= link_to 'Delete option', option_url(:option_id => opt.id, :protocol => 'https',  :product_id => @product.id), 
                            { :method => :delete, class: "btn btn-danger", 
                            data: { confirm: 'Are you sure, you want to delete this option?' } } %>     
        <%= link_to 'Edit option', { :controller => "options", :action => "edit", :product_id => @product.id, :option_id => opt.id }, { class: "btn btn-info" } %>
        <% if @product_options.include? opt %>
          <input type="button" class="btn btn-success" style="display:none;" value='Assign to product' onclick="assignOptionToProduct(<%= opt.id %>)" />
        <% else %>
          <input type="button" class="btn btn-success"  value='Assign to product' onclick="assignOptionToProduct(<%= opt.id %>)" />
        <% end %>
        
        <input type="button" class="btn btn-warning" value='Unassign from this product' onclick="unassignOptionFromProduct(<%= opt.id %>)" />
      </div>
    <% end %><br>
    
    
  </div><br>
  
  <%= link_to "Add new option", new_option_path(:product_id => @product.id), class: "btn btn-primary" %><br><br>    
  
  <h3> Product has <%= @product_options.count %> options:</h3>    

  <div class="row product_options">
    <% @product_options.each do |opt| %>
      <div class="col-md-4" id="product-option<%= opt.id %>">
        <p>Option <%= opt.name %> has <%= opt.option_values.count %> values:</p>
        <p class="option_values">
          <% opt.option_values.each do |value| %> 
          <span>
            <% unless value.image.nil? or value.image.url == "" or value.image.url.include?("missing") %>
              <img style="width:20px" src="<%= value.image.url.include?("missing") ? "" : value.image.url(:thumb) %>">
            <% end %>
            <%=value.value %>,
          </span>

          <% end %>
        </p>
        <%= link_to 'Delete option', { :controller => "options", :action => "destroy", :product_id => @product.id, :option_id => opt.id }, 
                            { :method => :delete, class: "btn btn-danger", 
                            data: { confirm: 'Are you sure, you want to delete this option?' } } %>     
        <%= link_to 'Edit option', { :controller => "options", :action => "edit", :product_id => @product.id, :option_id => opt.id }, { class: "btn btn-info" } %>                            
        <input type="button" class="btn btn-success" value='Assign to product' onclick="assignOptionToProduct(<%= opt.id %>)" />
        <input type="button" class="btn btn-warning" value='Unassign from this product' onclick="unassignOptionFromProduct(<%= opt.id %>)" />
      </div>
    <% end %>
  
  </div><br>

  
  
</div>
</div>


<form id="product-images" action="" method="post" name="product-images-dropzone">
  <input id="image" style="display:none;" name="image" type="file">
</form>
</div>

