<style>
  .option_values {
    overflow: hidden;
    white-space: nowrap;
  }
</style>
<script type="text/javascript">


//product image dropzone
/*$(document).ready(function(){
  Dropzone.autoDiscover = false;
  $("#product-images").dropzone({
    // restrict image size to a maximum 1MB
    url: "<%= product_product_images_url(:product_id => @product.id, :protocol => 'https') %>",
    maxFilesize: 1,
    method: "POST",
    // changed the passed param to one accepted by
    // our rails app
    paramName: "image",
    previewsContainer: '.dropzone-previews',
    clickable: '.dropzone-previews',
    // show remove links on each image upload
    addRemoveLinks: true,
    success: function(file, response){
      // find the remove button link of the uploaded file and give it an id
      // based of the fileID response from the server
      $('.dropzone-previews').find('.dz-remove:last').attr('id', response.imageID);
      // add the dz-success class (the green tick sign)
      $('.dropzone-previews').addClass("dz-success");
	    
      $('.dz-remove:last').click(function(){
        var id = $(this).attr('id'); 
        // make a DELETE ajax request to delete the file
        $.ajax({
          type: 'POST',
          data: { _method: 'DELETE' },
          url: '<%= product_product_images_path(@product.id) %>/' + id,
          success: function(data){
            console.log(data.message);
          }
        });
      })		
     },
    //when the remove button is clicked
    init: function(){
      var existingFiles = [];
      <% @images.each_with_index do |image, index| %>
        existingFiles.push({ id: "<%= image.id %>"});
        this.emit("addedfile", existingFiles[<%= index %>]);
        this.emit("thumbnail", existingFiles[<%= index %>], "<%= image.image.url %>");
        $('.dropzone-previews').find('.dz-remove:last').attr('id', <%= image.id %>);
      <% end %>
      
      this.on("removedfile", function(file){
		      
      })
  }
		
});	
	
	$('.dz-remove').click(function(){
	  var id = $(this).attr('id'); 
    // make a DELETE ajax request to delete the file
		$.ajax({
		  type: 'POST',
		  data: { _method: 'DELETE' },
		  url: '<%= product_product_images_path(@product.id) %>/' + id,
		  success: function(data){
			  console.log(data.message);
			}
		});
	})
	
});*/

  


</script>

<script>

  // variants container
  
  function showVariantsForm(){
    $('.variants_form').show();
    $('.cancel-adding-variants').show();
    $('.add-variants').hide();
  }
  
  function clearVariantsForm(){
    $('.add-variants').show();
    $('.cancel-adding-variants').hide();
    $('.variants_form').hide();
    $('.option_value').prop('checked', false);
    $('.number_of_values_selected').text('0');
    $('.number_of_variants').text('0');
    $('.options_selected').val(0);
    $('#variants').val('{}');
    $('.preview_product_variants').text('');
  }
  
  function previewVariants() {
    var options = {};
    $('.option_values_row').each(function(){
      var option_name = $(this).find('input.option-name').val();
      options[option_name] = [];
      $(this).find('.option_values').each(function(){
        if ($(this).find('.option_value').is(":checked")) {
          var option_value = $(this).find('label').text();
          options[option_name].push(option_value); 
        }  
      });
      if (options[option_name] == '') {
        delete options[option_name];
      }
      
    });
    
    //alert(JSON.stringify(options));
    
    
  var variants = permute(options,0,[],{});
  $('#variants').val(JSON.stringify(variants));
  //alert(JSON.stringify(variants));
  $('.preview_product_variants').text('');
  for(var i=0;i<variants.length;i++){
    $('<div class="variant_row"></div><br>').appendTo('.preview_product_variants');
    for (option_value in variants[i]) {
      $('<span class="value">' + variants[i][option_value]+ ' </span>').appendTo('.variant_row:last');
    }
  
    
  };
  $('<input value="Save product variants" onclick="createProductVariants()" class="btn btn-primary" type="button">').appendTo('.preview_product_variants');
  
  }
  
  // find permutations of all option_values
  function permute(options, optionIndex, results, current) {
    var allKeys = Object.keys(options);
    var optionKey = allKeys[optionIndex];
    var vals = options[optionKey];

    for (var i = 0; i < vals.length; i++) {
      current[optionKey] = vals[i];
      if (optionIndex + 1 < allKeys.length) {
        permute(options, optionIndex + 1, results, current);
      } else {
        // clone an object.
        var res = JSON.parse(JSON.stringify(current));
        results.push(res);
      }
    }

    return results;
  }
  
  function createProductVariants(){
    var variants_json = { product_id: <%= params[:id] %> }; 
    var variants = JSON.parse($('#variants').val());
    variants_json["variants"] = variants
    $.ajax({
      url: "<%= generate_variants_path %>",
      method: "POST",
      //dataType: 'json',
      data: variants_json,
      success: function(){
        updateCurrentVariants();
      }
    });
    
    clearVariantsForm();
  }
  
  function updateCurrentVariants(){
    $.ajax({
      url: "<%= product_variant_path(product_id: @product.id) %>",
      method: "GET",
      dataType: 'json',
      success: function(variants_json){
        handleVariantsJSON(variants_json);
      }
    })
  }
  
  function handleVariantsJSON(variants_json){
    $('.current_number_of_variants').text(variants_json.length);
    $('.variant-info').remove();
    //alert(JSON.stringify(variants_json));
    for(var i = 0; i < variants_json.length; i++) {
      $('<div class="variant-info row"></div>').appendTo('.current-variants');
      var options = variants_json[i]["options"];
      var variant_id = variants_json[i]["variant_id"];
      var image_source = variants_json[i]["image_source"];
      if (image_source === undefined) {
        image_source = '';
      }
      $('<div class="col-md-1"><img src="' + image_source + '" style="height:30px;"></img></div>').appendTo('.variant-info:last');
      $('<div class="col-md-8 options_and_values"></div>').appendTo('.variant-info:last');
      for(var j = 0; j< options.length; j++){
        var option_name = JSON.stringify(options[j].option_name);
        var option_value = JSON.stringify(options[j].option_value);
        var option_name_and_value = '<div class="col-md-2"><span class="option-name-and-value">' + option_name + ' : ' + option_value + ' </span></div>';
        
        $(option_name_and_value.replace(/['"]+/g, '')).appendTo(".options_and_values:last");
        
      }
      var price = JSON.stringify(variants_json[i].price);
      var sku = JSON.stringify(variants_json[i].sku);
      
      if (price === undefined) {
        price = 'not set';
      }
      if (sku === undefined) {
        sku = 'not set';
      }
      
      var price_and_sku = '<div class="col-md-2" style="float:right;" >price: '+ price + ' sku: ' + sku   +'</div>';
      $(price_and_sku.replace(/['"]+/g, '')).appendTo(".options_and_values:last");
      $('<div class="col-md-3 variant-actions"></div>').appendTo('.variant-info:last');
      $('<a class="btn btn-info" href="/products/<%= @product.id %>/variants/<%= @product.id %>/edit?variant_id=' + variant_id + '">Edit variant</a>').appendTo(".variant-actions:last");
      $('<a class="btn btn-danger" data-confirm="Are you sure, you want to delete this product variant?" rel="nofollow" data-method="delete"' +
      'href="/products/<%= @product.id %>/variants/<%= @product.id %>?variant_id=' + variant_id + '">Delete variant</a>').appendTo(".variant-actions:last");
    }
  }
  
  // options container
  
  function showNeccesaryOptionsActions(){
    $('.product_options .btn').show();
    $('.options .btn-warning').hide();
    $('.product_options .btn-danger').hide();
    $('.product_options .btn-success').hide();
    $('.product_options .btn-info').hide();
  }
  function assignOptionToProduct(option_id){
    $('#option' + option_id + ' > .btn-success').hide();
    $.ajax({
      url: "<%= product_assign_option_path(product_id: @product.id) %>",
      method: "POST",
      dataType: 'json',
      data: {
        option_id: option_id,
        product_id: <%= @product.id %>
      },
      
    });
    var new_product_option = $('#option' + option_id).clone();
    new_product_option.attr('id','product-option' + option_id);  
    $('.product_options').append(new_product_option);
    showNeccesaryOptionsActions();
    updateProductVariantsForm(option_id);
  }
  
  function updateProductVariantsForm(option_id){
    var option_name = $('#option'+ option_id).find('.option_name').text();
    var option_values = $('#option'+ option_id).find('.option-values').text().split(',');
    $('<div class="option_values_row"></div>').insertBefore('.variants-number-notice');
    $('<h4 class="option-name">Select ' + option_name + 's</h4>').appendTo('.option_values_row:last');
    $('<input class="option-name" type="hidden" value="'+ option_name+'"></input>').appendTo('.option_values_row:last');
    for(var i = 0; i < option_values.length - 1; i++) {
      option_values[i] = option_values[i].replace(/[\n\r\s]+/g, '');
      $('<span class="option_values"></span>').appendTo('.option_values_row:last');
      $('<label for="' + option_values[i] + '">'+ option_values[i] + '</label>').appendTo('.option_values:last');
      $('<input class="option_value" type="checkbox" value="0"></input>').appendTo('.option_values:last');
    }
    $('<span class="number_of_values_selected">0</span>').appendTo('.option_values_row:last');
    $('<span> ' + option_name + 's selected</span>').appendTo('.option_values_row:last');
    $('<input class="options_selected" type="hidden" value="0" name="options_selected"></input>').appendTo('.option_values_row:last');
    
    bindCheckboxEvent(); 
  }
  
  function deleteAllVariants(){
    if (confirm('Are you sure, you want to delete all product variants?')) {
    $.ajax({
      url: "<%= product_delete_all_variants_path(product_id: @product.id) %>",
      method: 'POST',
      dataType: 'json',
      data: {
        _method: "delete",
        product_id: <%= @product.id %>,
        success: function(){
          $('.variant-info').each(function (){
            $(this).remove();
          });
          $('.current_number_of_variants').text('0');
        }
      }
    })
    }
  }

  function unassignOptionFromProduct(option_id){
    $('#option' + option_id + ' > .btn-success').show();
    $.ajax({
      url: "<%= product_unassign_option_path(product_id: @product.id) %>",
      method: "POST",
      dataType: 'json',
      data: {
        _method: "delete",
        option_id: option_id,
        product_id: <%= @product.id %>
      }
    });
    
    $('#product-option' + option_id).remove();
    showNeccesaryOptionsActions();
    var option_name = $('#option' + option_id).find('.option_name').text();
    $('.option_values_row:contains('+ option_name +')').remove();
  }
  
  function bindCheckboxEvent(){
    $('.option_values_row:last').on('change', '.option_value', function(){
      var options_selected, number_of_variants;
      options_selected = parseInt($(this).parents('.option_values_row').children('.number_of_values_selected').text());
      if($(this).is(":checked")) {
        options_selected = options_selected + 1;
      } else {
        options_selected = options_selected - 1;
      }
    
      $(this).parents('.option_values_row').children('.number_of_values_selected').text(options_selected);
      $(this).parents('.option_values_row').children('.options_selected').val(options_selected);
    
      number_of_variants = 1;
      $('.variants_form .options_selected').each(function(){
        var num_of_opts = parseInt($(this).val());
        if (num_of_opts > 1) {
          number_of_variants = number_of_variants * num_of_opts;
        }
      });
      $('.number_of_variants').text(number_of_variants);
    });  
  }
  // options order and grouping
  
  function swapRows(row1,row2){
    row1_order_number = row1.find("td:nth-child(2)").text();
    row2_order_number = row2.find("td:nth-child(2)").text();
    row1.find("td:nth-child(2)").text(row2_order_number);
    row2.find("td:nth-child(2)").text(row1_order_number);
    row1.find("td:first").insertBefore(row2.find("td:first"));
    row2.find("td:nth-child(2)").insertBefore(row1.find("td:first"));
    row1.insertBefore(row2);
  }
  
  function saveOptionsOrderAndGroups(){
    var options_data = { _method: 'put', options_order_and_groups: {} };
    $('.options_order tbody tr').each(function(){
      var option_name, order_number, option_group_id, order_tabe;
      option_row = $(this);
      order_number = option_row.find('td:nth-child(2)').text();
      option_name = option_row.find('td:nth-child(3)').text();
      option_group_id = option_row.find('.option_group_select').val();
      options_data["options_order_and_groups"][option_name] = {
        order_number: order_number,
        option_group_id: option_group_id
      };
    })
    $.ajax({
      url: "<%= update_order_and_groups_url(:protocol => 'https', :product_id => @product.id) %>",
      method: 'POST',
      dataType: 'json',
      data: options_data
    })
  }
  
  function disableExtraGroups(){
    //alert(starting_index);
    $('.option_group_select option').prop('disabled',false);
    $('.option_group_select option:first').prop('disabled',true);
    for (var i = 0; i < $('.option_group_select').length - 1; i++){
      var previous_select_value = $('.option_group_select').eq(i).val();
      
      for (var j = i + 1; j < $('.option_group_select').length; j++){
        $('.option_group_select').eq(j).find('option').each(function(){
          if ($(this).attr('value') < previous_select_value) {
            $(this).prop('disabled',true);
          }
        });
      }
    }
  }
  
  function selectEnabledGroups(current_option_index){
    for (var i = current_option_index - 1; i < $('.option_group_select').length; i++) {
      var group_select = $('.option_group_select').eq(i)
      group_select.find('option:selected').each(function(){
        if ($(this).prop('disabled') == true) {
          group_select.find('option').each(function(){
            var option = $(this);
            if (option.prop('disabled') == false){
              option.prop('selected',true);
            }
          })
        }
      });
    }
  }
  
$(document).ready(function(){
  // tabs init
  $( "#tabs" ).tabs({
    collapsible: true
  });  
  // options
  $("#saveOptionsOrderAndGroups").on('click', saveOptionsOrderAndGroups);
  <% @options.order(:order_number).each_with_index do |option, index| %>
    var option_row = $('.options_order > tbody > tr:nth-child(<%= index + 1 %>)')
    var option_group_id = <%= option.option_group_id.nil? ? 0 : option.option_group_id %>;
    option_row.find('.option_group_select option[value="' + option_group_id + '"]').prop('selected', true);
  <% end %>
  $(".options_order").find('.up:first').hide();
  $(".options_order").find('.down:last').hide();
  $(".up,.down").click(function(e){
    e.preventDefault();
    var row = $(this).parents("tr:first");
    if ($(this).is(".up")) {
      swapRows(row, row.prev());
    } else {
      swapRows(row.next(), row);
    }
  });

  showNeccesaryOptionsActions();
  
  clearVariantsForm();
  $('.option_values').on('change', '.option_value', function(){
    var options_selected, number_of_variants;
    options_selected = parseInt($(this).parents('.option_values_row').children('.number_of_values_selected').text());
    if($(this).is(":checked")) {
      options_selected = options_selected + 1;
    } else {
      options_selected = options_selected - 1;
    }
    
    $(this).parents('.option_values_row').children('.number_of_values_selected').text(options_selected);
    $(this).parents('.option_values_row').children('.options_selected').val(options_selected);
    
    number_of_variants = 1;
    $('.variants_form .options_selected').each(function(){
      var num_of_opts = parseInt($(this).val());
      if (num_of_opts > 1) {
        number_of_variants = number_of_variants * num_of_opts;
      }
    });
    $('.number_of_variants').text(number_of_variants);
  });  
  
  disableExtraGroups();
  $('.option_group_select').change(function(){
    var current_option_index = $(this).parents('tr').find('td:nth-child(2)').text();
    disableExtraGroups();
    selectEnabledGroups(current_option_index);
  })
  // adding option groups
  $('#option_group_form').hide();
  $('#add_option_group').on('click', function(){
    $('#option_group_form').show();
    $(this).hide();
  })
  $('#save_option_group').on('click', function(){
    var option_group_name;
    $('#add_option_group').show()
    $('#option_group_form').hide();
    option_group_name = $('#option_group_name').val();
    $.ajax({
      method: "POST",
      url: "<%= option_groups_url(:protocol => 'https') %>",
      dataType: 'json',
      data: {
        option_group_name: option_group_name
      },
      success: function(response){
        var id = response["id"];
        $('<div class="col-md-2 option_group">' +
            '<span class="option_group_name"> ' + option_group_name +
            ' </span>' +
            '<span class="delete_option_group">' +
              '<a class="btn btn-danger" data-confirm="Are you sure, you want to delete this option group?" rel="nofollow" data-method="delete"' +  
              'href="' + "<%= option_groups_url(:protocol => 'https') %>" +  '/' + id + '">X</a>' +
            '</span>' +
          '</div>').appendTo('.option_groups'); 
        $('.option_group_select').each(function(){
          var this_select = $(this);
          $('<option value="' + id + '">' + option_group_name +'</option>').appendTo(this_select);
        });
      }
    })
    $('#option_group_name').val('');
  })
});

  
</script>

<div class="container">
<%= form_tag product_path, method: "patch", :html => { :controller => "products", :action => "update", :id => @product.id } do %>

<div class="row">
  <div class="col-md-2">
    <%= submit_tag "Back to all products", :class => "btn btn-info" %>
  </div>
</div><br>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Edit product information</a></li>
    <li><a href="#tabs-2">Edit options information</a></li>
  </ul>
<div id="tabs-1" class="product_information_container">

<div class="row">
  
  <div cilass="col-md-12 form-group">
    <%= label_tag 'product[title]', "Product title:" %>
    <%= text_field_tag :title, @product.title, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    Product belongs to:
    <% @product_collections.each do |collection| %>
      <span><strong><%= collection.title %>,<strong></span>
    <% end %>
  </div>
</div>  

<div class="row">
  <div class="col-md-12 form-group">
    <%= label_tag 'product[body_html]', "Product description:" %>
    <%= text_area_tag :body_html, @product.body_html, class: "tinymce form-control" %>
    <script> 
     //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.tinymce",
                statusbar: false,
                menubar: false,
                resize: false,
                setup: function (editor) {
                  editor.on('change', function (e) {  
                    enable_save();
                  });
                },
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
                plugins: "textcolor"
              });
            } else {
              setTimeout(arguments.callee, 50);
            }
          })();
          //]]>
    </script>      
  </div>
</div>

<div class="row">
  
  <div class="col-md-3 form-group">
    <%= label_tag 'product[type]', "Product type:" %>
    <%= text_field_tag :product_type, @product.product_type, class: "form-control" %>
  </div>
  
  <div class="col-md-3 form-group">
    <%= label_tag 'product[published_scope]', "Product published scope:" %>
    <%= text_field_tag :published_scope, @product.published_scope, class: "form-control" %>
  </div>
  
  <div class="col-md-3 form-group">
    <%= label_tag 'product[vendor]', "Product vendor:" %>
    <%= text_field_tag :vendor, @product.vendor, class: "form-control" %>
  </div>

  <div class="col-md-3 form-group">
    <%= label_tag 'product[collections]', "Assign collection" %>
    <select id="collection_id" name="collection_id" class="form-control"> 
      <option value="" selected="selected">
        -Select collection to assign-
      </option>
      <% @collections.each do |collection| %>
        <% unless @product_collections.include? collection %>
          <option value=<%= collection.id %>>  
            <span>
              <%= collection.title %>
            </span>
          </option>
        <% end %>
      <% end %>
    </select>
  </div>

</div>  

<!--<div class="images-container">
  <div class="row">
    <div class="col-md-12">
      <h2>PRODUCT IMAGES</h2>
      <div class="dropzone-previews dropzone"> 
        <div class="dz-default dz-message"><span>Drop files here to upload</span>
        </div>
      </div>  
    </div>
  </div><br>  
</div> -->

<div class="variants-container">
  
  <h2>VARIANTS</h2>
  
  <div class="current-variants">
    <h3>Product variants list (currently has <span class="current_number_of_variants"><%= Variant.where(product_id: @product.id).count %></span> variants):</h3>  
    <% @variants.each do |variant| %>
      <div class="variant-info row">
        <div class="col-md-1">
          <%= variant.main_image_id.nil? ? "" : image_tag(VariantImage.find(variant.main_image_id).image.url(:thumb), style: "height:30px;") %>
        </div>
        <div class="col-md-8 options_and_values">
          <% variant.option_values.each do |opt_val| %>
            <div class="col-md-2">
              <span class="option-name-and-value" >
                <%= opt_val.option.name %> : <%= opt_val.value %> 
              </span>  
            </div>
              
          <% end %>
          <div class="col-md-3" style="float:right;">
            <%= "price: #{((variant.price.nil?) or (variant.price == '')) ? "not set" : variant.price} sku: #{((variant.sku.nil?) or (variant.sku == '')) ? "not set" : variant.sku}" %>  
          </div>
          
        </div>
        <div class="col-md-3 variant-actions">
          <!--<%= link_to 'Edit variant', { :controller => "variants", :action => "edit", :product_id => @product.id, :variant_id => variant.id }, { class: "btn"}  %>-->
          <%= link_to 'Edit variant', edit_product_variant_url(:id => variant.id, :variant_id => variant.id, :product_id => @product.id, :protocol => 'https'), class: "btn btn-info" %>
          <%= link_to 'Delete variant', { :controller => "variants", :action => "destroy", :product_id => @product.id, :variant_id => variant.id }, 
                                        { :method => :delete, class: "btn btn-danger", 
                                        data: { confirm: 'Are you sure, you want to delete this product variant?' } } %>  
        </div>
        
      </div>
    <% end %>
  </div>
  <br>
  <div class="variants_actions row">
    <div class="variants_form_actions col-md-4">
      <input type='button' value="Canel adding product variants" onclick="clearVariantsForm()" class="btn btn-warning cancel-adding-variants" style ="display:none;"/>
      <input type='button' value="Add product variants" onclick="showVariantsForm()" class="btn btn-primary add-variants"/>  
    </div>
    <div class="col-md-2 delete_all_variants_button">
      <input type='button' value="Delete all product variants" onclick="deleteAllVariants()" class="btn btn-danger delete_all_variants"/><br>      
    </div>
  </div>
  
  
  <div class="variants_form" style="display:none;">
    <% @product_options.each do |opt| %>
     
      <div class="option_values_row">
        <h4 class="option-name">Select <%= opt.name.pluralize %></h4>
        <input class="option-name" type="hidden" value="<%= opt.name %>"/>
        <% opt.option_values.each do |value| %>
          <span class="option_values">
            <label for="<%= value.value %>"><%= value.value %></label>
            <input type="checkbox" class="option_value" value=0 />
          </span>
        <% end %>
        <span class="number_of_values_selected">0</span>
        <span><%= opt.name.pluralize %> selected</span>
        <input name="options_selected" class="options_selected" value="0" type="hidden">
      </div> 
    <% end %>
    <p class="variants-number-notice">
      <span class="number_of_variants">0</span>
      <span> variants will be created </span>
    </p>
    <input type='button' value="Preview product variants" onclick="previewVariants()" class="btn btn-primary preview-variants"/><br>
    <%= hidden_field_tag :variants, {} %>
    <div class="preview_product_variants">
    
    </div>
  </div>
</div><br>




<div class="row">
  <div class="col-md-2">
    <%= submit_tag "Save product information", :class => "btn btn-success" %>
  </div>
</div>
</div>

<div class="options-container" id="tabs-2">
  
  <h2>OPTIONS</h2>
  
  <h3>Options order and grouping</h3>
  <table class="table table-bordered table-striped table-hover options_order" style="width:auto; text-align:center;">
    <thead>
      <th></th>
      <th>Option order number</th>
      <th>Option name</th>
      <th>Option group</th>
    </thead>
    <% @options.order(:order_number).each do |option| %>
      <tr>
        <td>
          <a href="#" class="up">Up</a>
          <a href="#" class="down">Down</a>
        </td>
        <td><%= option.order_number %></td>
        <td><%= option.name %></td>
        <td>
          <select class="form-control option_group_select">
            <option value="0" disabled>
              -Select Option Group-
            </option>
            <% @option_groups.each do |option_group| %>
              <option value=<%= option_group.id %>>
                <%= option_group.name %>
              </option>
            <% end %>
          </select>
        </td>
      </tr>
    <% end %>
  </table>
  
  <input type="button" id="saveOptionsOrderAndGroups" class="btn btn-success" value="Save order and option groups">
  
  <h3>Option groups:</h3>
  <div class="row option_groups">
    <% @option_groups.each do |option_group| %>
      <div class="col-md-2 option_group">
        <span class="option_group_name">
          <%= option_group.name %>
        </span>
        <span class="delete_option_group">
          <%= link_to 'X', option_group_url(option_group, :protocol => 'https'), 
                            { :method => :delete, class: "btn btn-danger", 
                            data: { confirm: 'Are you sure, you want to delete this option group?' } } %>
        </span>
      </div>
      
    <% end %>
  </div><br>
  <input type="button" id="add_option_group" class="btn btn-info" value="Add new option group">
  <div id="option_group_form" class="row form-group">
    <div class="col-md-4">
      <label for="option_group_name">Option group name</label>
      <input id="option_group_name" class="form-control" type="text"><br>
      <input id="save_option_group" class="btn btn-success" type="button" value="Save option group">
    </div>
  </div>
  
  <h3>All available options:</h3>
  
  <div class="row options">
    <% @options.each do |opt| %>
      <div class="col-md-4" id="option<%= opt.id %>">
        <p>Option <span class="option_name"><%= opt.name %></span> has <%= opt.option_values.count %> values:</p>
        <p class="option_values">
          <% opt.option_values.each do |value| %>
            <% unless value.image.nil? or value.image.url == "" or value.image.url.include?("missing") %>
              <img style="width:20px" src="<%= value.image.url.include?("missing") ? "" : value.image.url(:thumb) %>">
            <% end %>
            <span>
              <%=value.value %>,
            </span>
          <% end %>
        </p>
        <%= link_to 'Delete option', option_url(:option_id => opt.id, :protocol => 'https',  :product_id => @product.id), 
                            { :method => :delete, class: "btn btn-danger", 
                            data: { confirm: 'Are you sure, you want to delete this option?' } } %>     
        <%= link_to 'Edit option', { :controller => "options", :action => "edit", :product_id => @product.id, :option_id => opt.id }, { class: "btn btn-info" } %>
        <% if @product_options.include? opt %>
          <input type="button" class="btn btn-success" style="display:none;" value='Assign to product' onclick="assignOptionToProduct(<%= opt.id %>)" />
        <% else %>
          <input type="button" class="btn btn-success"  value='Assign to product' onclick="assignOptionToProduct(<%= opt.id %>)" />
        <% end %>
        
        <input type="button" class="btn btn-warning" value='Unassign from this product' onclick="unassignOptionFromProduct(<%= opt.id %>)" />
      </div>
    <% end %><br>
    
    
  </div><br>
  
  <%= link_to "Add new option", new_option_path(:product_id => @product.id), class: "btn btn-primary" %><br><br>    
  
  <h3> Product has <%= @product_options.count %> options:</h3>    

  <div class="row product_options">
    <% @product_options.each do |opt| %>
      <div class="col-md-4" id="product-option<%= opt.id %>">
        <p>Option <%= opt.name %> has <%= opt.option_values.count %> values:</p>
        <p class="option_values">
          <% opt.option_values.each do |value| %> 
          <span>
            <% unless value.image.nil? or value.image.url == "" or value.image.url.include?("missing") %>
              <img style="width:20px" src="<%= value.image.url.include?("missing") ? "" : value.image.url(:thumb) %>">
            <% end %>
            <%=value.value %>,
          </span>

          <% end %>
        </p>
        <%= link_to 'Delete option', { :controller => "options", :action => "destroy", :product_id => @product.id, :option_id => opt.id }, 
                            { :method => :delete, class: "btn btn-danger", 
                            data: { confirm: 'Are you sure, you want to delete this option?' } } %>     
        <%= link_to 'Edit option', { :controller => "options", :action => "edit", :product_id => @product.id, :option_id => opt.id }, { class: "btn btn-info" } %>                            
        <input type="button" class="btn btn-success" value='Assign to product' onclick="assignOptionToProduct(<%= opt.id %>)" />
        <input type="button" class="btn btn-warning" value='Unassign from this product' onclick="unassignOptionFromProduct(<%= opt.id %>)" />
      </div>
    <% end %>
  
  </div><br>

  
  
</div>
</div>
<% end %>

<!--<form id="product-images" action="" method="post" name="product-images">
  <input id="image" style="display:none;" name="image" type="file">
</form> -->
</div>

