<div class="container">
<script type="text/javascript">



$(document).ready(function(){
  Dropzone.autoDiscover = false;
  $("#dropzone").dropzone({
    url: '<%= product_product_images_path(:product_id => @product.id) %>',
    paramName: 'images',
    clickable: true,
    uploadMultiple: false,
    autoProcessQueue: false,
    addRemoveLinks: true,
    previewsContainer: '.dropzone-previews',
    clickable: true,
    init: function() {
      _this = this;
      var existingFiles = [];
      <% @images.each_with_index do |image, index| %>
        existingFiles.push({ id: "<%= image.id %>"});
        this.emit("addedfile", existingFiles[<%= index %>]);
        this.emit("thumbnail", existingFiles[<%= index %>], "<%= image.image_source %>");
      <% end %>
      
      this.on("addedfile", function(file){
        reader = new FileReader();
        reader.onload = handleReaderLoad;
        reader.readAsDataURL(file);
        function handleReaderLoad(evt) {
          document.getElementById("image_source")
                  .setAttribute('value', evt.target.result);
          document.getElementById("image_title")
                  .setAttribute('value', file.name);
          form = $('#file-form');
          $.ajax( {
            method: "POST",
            dataType: "json",
            timeout: 2000,
            url: "<%= product_product_images_path(:product_id => @product.id) %>",
            data: form.serialize(),
          });
        }
        
      });
      
      this.on("removedfile", function(file){
        
        $.ajax( {
          method: "DELETE",
          timeout: 2000,
          url: "<%= product_product_images_path(:product_id => @product.id) %>/" + file.id,
          data: { image_id: file.id, product_id: <%= @product.id%> }
        });
      });
    }
  });
});


</script>

<script>

  function showVariantsForm(){
    $('.variants_form').show();
    $('.cancel-adding-variants').show();
    $('.add-variants').hide();
  }
  
  function clearVariantsForm(){
    $('.add-variants').show();
    $('.cancel-adding-variants').hide();
    $('.variants_form').hide();
    $('.option_value').prop('checked', false);
    $('.number_of_values_selected').text('0');
    $('.number_of_variants').text('0');
    $('.options_selected').val(0);
    $('#variants').val('{}');
    $('.preview_product_variants').text('');
  }
  
  function previewVariants() {
    var options = {};
    $('.option_values_row').each(function(){
      var option_name = $(this).find('input.option-name').val();
      options[option_name] = [];
      $(this).find('.option_values').each(function(){
        if ($(this).find('.option_value').is(":checked")) {
          var option_value = $(this).find('label').text();
          options[option_name].push(option_value); 
        }  
      });
      if (options[option_name] == '') {
        delete options[option_name];
      }
      
    });
    
    //alert(JSON.stringify(options));
    
    function permute(options, optionIndex, results, current) {
      var allKeys = Object.keys(options);
      var optionKey = allKeys[optionIndex];

      var vals = options[optionKey];

      for (var i = 0; i < vals.length; i++) {
        current[optionKey] = vals[i];

        if (optionIndex + 1 < allKeys.length) {
          permute(options, optionIndex + 1, results, current);
        } else {
          // clone an object.
          var res = JSON.parse(JSON.stringify(current));
          results.push(res);
        }
      }

      return results;
    }
  var variants = permute(options,0,[],{});
  $('#variants').val(JSON.stringify(variants));
  //alert(variants.length);
  //alert(JSON.stringify(variants));
  $('.preview_product_variants').text('');
  for(var i=0;i<variants.length;i++){
    $('<div class="variant_row"></div><br>').appendTo('.preview_product_variants');
    for (option_value in variants[i]) {
      $('<span class="value">' + variants[i][option_value]+ ' </span>').appendTo('.variant_row:last');
    }
  
    
  };
  $('<input value="Save product variants" onclick="createProductVariants()" class="btn btn-primary" type="button">').appendTo('.preview_product_variants');
  
  }
  
  function createProductVariants(){
    var variants_json = { _method: 'PUT', product_id: <%= params[:id] %> }; 
    var variants = JSON.parse($('#variants').val());
    variants_json["variants"] = variants
    /*variants_json = { _method: 'PUT', product_id: <%= params[:id] %> };
    variants_json["variants"] = [];
    $('.variant_row').each(function(){
      var option_names = [];
      $(this).find('.value').each(function(){
        option_names.push($(this).text());
      });
      //alert(JSON.stringify(variant));
      variants_json["variants"].push(option_names);
    });*/
    //alert(JSON.stringify(variants_json));
    $.ajax({
      url: "<%= generate_variants_path %>",
      method: "POST",
      dataType: 'json',
      data: variants_json
    });
    
    updateCurrentVariants();
    clearVariantsForm();
  }
  
  function updateCurrentVariants(){
    $.ajax({
      url: "<%= product_variant_path(product_id: @product.id) %>",
      method: "GET",
      dataType: 'json',
      success: function(variants_json){
        handleVariantsJSON(variants_json);
      }
    })
  }
  
  function handleVariantsJSON(variants_json){
    $('.current_number_of_variants').text(variants_json.length);
    $('.variant-info').remove();
    //alert(JSON.stringify(variants_json));
    for(var i = 0; i < variants_json.length; i++) {
      $('<div class="variant-info row"></div>').appendTo('.current-variants');
      var options = variants_json[i]["options"];
      var variant_id = variants_json[i]["variant_id"];
      var image_source = variants_json[i]["image_source"];
      if (image_source === undefined) {
        image_source = '';
      }
      $('<div class="col-md-1"><img src="' + image_source + '" style="height:30px;"></img></div>').appendTo('.variant-info:last');
      $('<div class="col-md-8 options_and_values"></div>').appendTo('.variant-info:last');
      for(var j = 0; j< options.length; j++){
        var option_name = JSON.stringify(options[j].option_name);
        var option_value = JSON.stringify(options[j].option_value);
        var option_name_and_value = '<div class="col-md-2"><span class="option-name-and-value">' + option_name + ' : ' + option_value + ' </span></div>'
        $(option_name_and_value.replace(/['"]+/g, '')).appendTo(".options_and_values:last");
        
      }
      $('<div class="col-md-3 variant-actions"></div>').appendTo('.variant-info:last');
      $('<a class="btn" href="/products/<%= @product.id %>/variants/<%= @product.id %>/edit?variant_id=' + variant_id + '">Edit variant</a>').appendTo(".variant-actions:last");
      $('<a class="btn btn-danger" data-confirm="Are you sure, you want to delete this product variant?" rel="nofollow" data-method="delete"' +
      'href="/products/<%= @product.id %>/variants/<%= @product.id %>?variant_id=' + variant_id + '">Delete variant</a>').appendTo(".variant-actions:last");
    }
  }
  
$(document).ready(function(){
  clearVariantsForm();
  $('.option_value').change(function(){
    var options_selected, number_of_variants;
    options_selected = parseInt($(this).parents('.option_values_row').children('.number_of_values_selected').text());
    if($(this).is(":checked")) {
      options_selected = options_selected + 1;
    } else {
      options_selected = options_selected - 1;
    }
    
    $(this).parents('.option_values_row').children('.number_of_values_selected').text(options_selected);
    $(this).parents('.option_values_row').children('.options_selected').val(options_selected);
    
    number_of_variants = 1;
    $('.variants_form .options_selected').each(function(){
      var num_of_opts = parseInt($(this).val());
      if (num_of_opts > 1) {
        number_of_variants = number_of_variants * num_of_opts;
      }
    });
    $('.number_of_variants').text(number_of_variants);
  });
});
  
</script>

<%= form_tag product_path, method: "patch", :html => { :controller => "products", :action => "update", :id => @product.id } do %>


<div class="row">
  
  <div class="col-md-12 form-group">
    <%= label_tag 'product[title]', "Product title:" %>
    <%= text_field_tag :title, @product.title, class: "form-control" %>
  </div>

</div>  

<div class="row">
  <div class="col-md-12 form-group">
    <%= label_tag 'product[body_html]', "Product description:" %>
    <%= text_area_tag :body_html, @product.body_html, class: "tinymce form-control" %>
    <%= tinymce %>      
  </div>
</div>

<div class="row">
  
  <div class="col-md-4 form-group">
    <%= label_tag 'product[type]', "Product type:" %>
    <%= text_field_tag :product_type, @product.product_type, class: "form-control" %>
  </div>
  
  <div class="col-md-4 form-group">
    <%= label_tag 'product[published_scope]', "Product published scope:" %>
    <%= text_field_tag :published_scope, @product.published_scope, class: "form-control" %>
  </div>
  
  <div class="col-md-4 form-group">
    <%= label_tag 'product[vendor]', "Product vendor:" %>
    <%= text_field_tag :vendor, @product.vendor, class: "form-control" %>
  </div>

</div>  

<div class="images-container">
  <div class="row">
    <div class="col-md-12">
      <h2>PRODUCT IMAGES</h2>
      <div class="dropzone-previews dropzone" id="dropzone"> 
        <div class="dz-default dz-message"><span>Drop files here to upload</span>
        </div>
      </div>  
    </div>
  </div><br>  
</div>


<div class="options-container">
  
  <h2>OPTIONS</h2>
  <h3> Product has <%= @options.count%> options:</h3>    

  <div class="row">
    <% @options.each do |opt| %>
      <div class="col-md-4">
        <p>Option <%= opt.name.upcase %> has <%= opt.option_values.count %> values:</p>
        <p>
          <% opt.option_values.each do |value| %> 
          <span><%=value.value %>,</span>
          <% end %>
        </p>
        <%= link_to 'Delete option', { :controller => "options", :action => "destroy", :product_id => @product.id, :option_id => opt.id }, 
                            { :method => :delete, class: "btn btn-danger", 
                            data: { confirm: 'Are you sure, you want to delete this option?' } } %>     
      </div>
    <% end %>
  
  </div><br>

  <%= link_to "Add new option", new_product_option_path(:product_id => @product.id), class: "btn btn-primary" %><br><br>
  
</div>

<div class="variants-container">
  
  <h2>VARIANTS</h2>
  
  <div class="current-variants">
    <h3>Product variants list (currently has <span class="current_number_of_variants"><%= Variant.where(product_id: @product.id).count %></span> variants):</h3>  
    <!--<div class="row">
      <div class="col-md-9">
        <span></span>
      </div>
      <div class="col-md-3">
        <span>price</span>
      </div>
    </div>-->
    <% @variants.each do |variant| %>
      <div class="variant-info row">
        <div class="col-md-1">
          <%= variant.product_image.nil? ? "" : image_tag(variant.product_image.image_source, style: "height:30px;") %>
        </div>
        <div class="col-md-8 options_and_values">
          <% variant.option_values.each do |opt_val| %>
            <div class="col-md-2">
              <span class="option-name-and-value" >
                <%= opt_val.option.name %> : <%= opt_val.value %> 
              </span>  
            </div>
              
          <% end %>
          <div class="col-md-3" style="float:right;">
            <%= "price: #{((variant.price.nil?) or (variant.price == '')) ? "not set" : variant.price} sku: #{((variant.sku.nil?) or (variant.sku == '')) ? "not set" : variant.sku}" %>  
          </div>
          
        </div>
        <div class="col-md-3 variant-actions">
          <%= link_to 'Edit variant', { :controller => "variants", :action => "edit", :product_id => @product.id, :variant_id => variant.id }, { class: "btn"}  %>
          <%= link_to 'Delete variant', { :controller => "variants", :action => "destroy", :product_id => @product.id, :variant_id => variant.id }, 
                          { :method => :delete, class: "btn btn-danger", 
                          data: { confirm: 'Are you sure, you want to delete this product variant?' } } %>  
        </div>
        
      </div>
    <% end %>
  </div>


  <input type='button' value="Add product variants" onclick="showVariantsForm()" class="btn btn-primary add-variants"/><br>
  <input type='button' value="Canel adding product variants" onclick="clearVariantsForm()" class="btn btn-warning cancel-adding-variants" style ="display:none;"/><br>
  <div class="variants_form" style="display:none;">
    <% @options.each do |opt| %>
     
      <div class="option_values_row <%= opt.name %>">
        <h4 class="option-name">Select <%= opt.name.pluralize %></h4>
        <input class="option-name" type="hidden" value="<%= opt.name %>"/>
        <% opt.option_values.each do |value| %>
          <span class="option_values">
            <label for="<%= value.value %>"><%= value.value %></label>
            <input type="checkbox" class="option_value" value=0 />
          </span>
        <% end %>
        <span class="number_of_values_selected">0</span>
        <span><%= opt.name.pluralize %> selected</span>
        <input name="options_selected" class="options_selected" value="0" type="hidden">
      </div> 
    <% end %>
    <p>
      <span class="number_of_variants">0</span>
      <span> variants will be created </span>
    </p>
    <input type='button' value="Preview product variants" onclick="previewVariants()" class="btn btn-primary"/><br>
    <%= hidden_field_tag :variants, {} %>
    <div class="preview_product_variants">
    
    </div>
  </div>
</div><br>
  


<div class="row">
  <div class="col-md-2">
    <%= submit_tag "Save", :class => "btn btn-success" %>
  </div>
</div>

<% end %>

<form id="file-form" action="<%= product_product_images_path(:product_id => @product.id) %>" method="post" name="file-form">
  <input id="image_source" name="image_source" type="hidden">
  <input id="image_title" name="title" type="hidden">
  <input id="product_id" name="product_id" value="<%= @product.id %>" type="hidden">
</form>  
</div>

