<script type="text/javascript">



$(document).ready(function(){
  Dropzone.autoDiscover = false;
  $("#file-form").dropzone({
    url: '<%= images_path %>',
    paramName: 'images',
    clickable: true,
    uploadMultiple: false,
    autoProcessQueue: false,
    addRemoveLinks: true,

    init: function() {
      _this = this;
      var existingFiles = [];
      <% @images.each_with_index do |image, index| %>
        existingFiles.push({ id: "<%= image.id %>"});
        this.emit("addedfile", existingFiles[<%= index %>]);
        this.emit("thumbnail", existingFiles[<%= index %>], "<%= image.src %>");
      <% end %>
      
      this.on("addedfile", function(file){
        reader = new FileReader();
        reader.onload = handleReaderLoad;
        reader.readAsDataURL(file);
        function handleReaderLoad(evt) {
          document.getElementById("image_url")
                  .setAttribute('value', evt.target.result.split(',')[1]);
          document.getElementById("image_name")
                  .setAttribute('value', file.name);
          form = $('#file-form');
          $.ajax( {
            method: "POST",
            dataType: "json",
            timeout: 2000,
            url: "<%= images_path %>",
            data: form.serialize(),
          });
        }
        
      });
      
      this.on("removedfile", function(file){
        
        $.ajax( {
          method: "DELETE",
          timeout: 2000,
          url: "/images/" + file.id,
          data: { image_id: file.id, product_id: <%= @product.id%> }
        });
      });
    }
  });
});


</script>

<%= form_tag product_path, method: "patch", :html => { :controller => "products", :action => "update", :id => @product.id } do %>


<div class="row">
  
  <div class="col-md-12">
    <%= label_tag 'product[title]', "Product title:" %>
    <%= text_field_tag :title, @product.title %>
  </div>

</div>  

<div class="row">
  <div class="col-md-12">
    <%= label_tag 'product[body_html]', "Product description:" %>
    <%= text_area_tag :body_html, @product.body_html, class: "tinymce" %>
    <%= tinymce %>      
  </div>
</div>

<div class="row">
  
  <div class="col-md-12">
    <%= label_tag 'product[type]', "Product type:" %>
    <%= text_field_tag :product_type, @product.product_type %>
  </div>

</div>  

<div class="row">
  
  <div class="col-md-12">
    <%= label_tag 'product[published_scope]', "Product published scope:" %>
    <%= text_field_tag :published_scope, @product.published_scope %>
  </div>

</div> 

<div class="row">
  
  <div class="col-md-12">
    <%= label_tag 'product[vendor]', "Product vendor:" %>
    <%= text_field_tag :vendor, @product.vendor %>
  </div>

</div> 

<div class="row">
  <div class="col-md-2">
    <%= submit_tag "Save", :class => "btn btn-success" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= label_tag "Number of variants" %>
    Product has <%= @product.variants.count %> variants
  </div>
</div>
<% @product.variants.each do |variant| %>
  <div>
    product variant metafield<%= variant.metafields[0].key + ' ' + variant.metafields[0].value unless variant.metafields[0].nil?  %>
  </div>
<% end %>

<%= link_to "Add new product variant", new_product_variant_path(:product_id => @product.id) %>


<% end %>

<form class="dropzone" id="file-form" action="<%= images_path %>" method="post" name="file-form">
    <input id="image_url" name="image_url" type="hidden">
    <input id="image_name" name="image_name" type="hidden">
    <input id="product_id" name="product_id" value="<%= @product.id %>" type="hidden">
    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
</form>
