<script type="text/javascript">


//product image dropzone
$(document).ready(function(){
  Dropzone.autoDiscover = false;
  $("#product-images").dropzone({
    // restrict image size to a maximum 1MB
    url: "<%= product_product_images_url(:product_id => @product.id, :protocol => 'https') %>",
    maxFilesize: 1,
    //method: "POST",
    // changed the passed param to one accepted by
    // our rails app
    paramName: "azure_image",
    previewsContainer: '.dropzone-previews',
    clickable: '.dropzone-previews',
    // show remove links on each image upload
    addRemoveLinks: true,
    success: function(file, response){
      // find the remove button link of the uploaded file and give it an id
      // based of the fileID response from the server
      $('.dropzone-previews').find('.dz-remove:last').attr('id', response.imageID);
      // add the dz-success class (the green tick sign)
      //$('.dropzone-previews').addClass("dz-success");
      if ( $('.dropzone-previews').find('.dz-preview').length === 3) {
        $('.dropzone-previews').find('.dz-remove:first').trigger('click');
        $('.dropzone-previews').find('.dz-preview:first').remove();
      }  
      $('.dz-remove:last').click(function(){
        var id = $(this).attr('id'); 
        // make a DELETE ajax request to delete the file
        $.ajax({
          type: 'POST',
          data: { _method: 'DELETE' },
          url: '<%= product_product_images_path(@product.id) %>/' + id,
          success: function(data){
            console.log(data.message);
          }
        });
      })		
    },
    //when the remove button is clicked
    init: function(){
      var existingFiles = [];
      <% @images.each_with_index do |image, index| %>
        existingFiles.push({ id: "<%= image.id %>"});
        this.emit("addedfile", existingFiles[<%= index %>]);
        this.emit("thumbnail", existingFiles[<%= index %>], "<%= image.azure_image.url %>");
        $('.dropzone-previews').find('.dz-remove:last').attr('id', <%= image.id %>);
      <% end %>
    }
		
  });	
	
  $('.dz-remove').click(function(){
    var id = $(this).attr('id'); 
    // make a DELETE ajax request to delete the file
    $.ajax({
      type: 'POST',
      data: { _method: 'DELETE' },
      url: '<%= product_product_images_path(@product.id) %>/' + id,
      success: function(data){
        console.log(data.message);
      }
    });
  })
	
});

  


</script>

<script>

  // variants container
  function select_for_action_click (){
    $('.select_for_action').on('click', function(){
      if ($('.select_for_action:checked').length === 0) {
        $('.delete_selected_variants').prop('disabled',true);
        $('.assign_3d_image').prop('disabled',true);
      } else {
        $('.delete_selected_variants').prop('disabled',false);
        if ($('.select_3d_image').val() != "0") {
          $('.assign_3d_image').prop('disabled',false);
        } else {
          $('.assign_3d_image').prop('disabled',true);
        }
      }
      if ($('.select_for_action:not(:checked)').length === 0) {
        $('.select_all_variants').prop("checked", true)
      } else {
        $('.select_all_variants').prop("checked", false)
      }
    });  
  }
  
  function showVariantsForm(){
    $('.variants_form').show();
    $('.cancel-adding-variants').show();
    $('.add-variants').hide();
  }
  
  function clearVariantsForm(){
    $('.add-variants').show();
    $('.cancel-adding-variants').hide();
    $('.variants_form').hide();
    $('.option_value').prop('checked', false);
    $('.number_of_values_selected').text('0');
    $('.number_of_variants').text('0');
    $('.options_selected').val(0);
    $('#variants').val('{}');
    $('.preview_product_variants').text('');
  }
  
  function previewVariants() {
    var options = {};
    $('.option_values_row').each(function(){
      var option_name = $(this).find('input.option-name').val();
      options[option_name] = [];
      $(this).find('.option_values').each(function(){
        if ($(this).find('.option_value').is(":checked")) {
          var option_value = $(this).find('label').text();
          options[option_name].push(option_value); 
        }  
      });
      if (options[option_name] == '') {
        delete options[option_name];
      }
      
    });
    
    //alert(JSON.stringify(options));
    
    
  var variants = permute(options,0,[],{});
  $('#variants').val(JSON.stringify(variants));
  //alert(JSON.stringify(variants));
  $('.preview_product_variants').text('');
  for(var i=0;i<variants.length;i++){
    $('<div class="variant_row"></div><br>').appendTo('.preview_product_variants');
    for (option_value in variants[i]) {
      $('<span class="value">' + variants[i][option_value]+ ' </span>').appendTo('.variant_row:last');
    }
  
    
  };
  $('<input value="Save product variants" onclick="createProductVariants()" class="btn btn-primary" type="button">').appendTo('.preview_product_variants');
  
  }
  
  // find permutations of all option_values
  function permute(options, optionIndex, results, current) {
    var allKeys = Object.keys(options);
    var optionKey = allKeys[optionIndex];
    var vals = options[optionKey];

    for (var i = 0; i < vals.length; i++) {
      current[optionKey] = vals[i];
      if (optionIndex + 1 < allKeys.length) {
        permute(options, optionIndex + 1, results, current);
      } else {
        // clone an object.
        var res = JSON.parse(JSON.stringify(current));
        results.push(res);
      }
    }

    return results;
  }
  
  function createProductVariants(){
    var variants_json = { product_id: <%= params[:id] %> }; 
    var variants = JSON.parse($('#variants').val());
    variants_json["variants"] = variants;
    $('.loader_image_wrapper').insertAfter('.variant-info:last');
    $('.loader_image_wrapper').show();
    $.ajax({
      url: "<%= generate_variants_path %>",
      method: "POST",
      //dataType: 'json',
      data: variants_json,
      success: function(){
        updateCurrentVariants();
      }
    });
    
    clearVariantsForm();
  }
  
  function updateCurrentVariants(){
    $.ajax({
      url: "<%= product_variant_path(product_id: @product.id) %>",
      method: "GET",
      dataType: 'json',
      success: function(variants_json){
        handleVariantsJSON(variants_json);
        $('.loader_image_wrapper').hide();
      }
    })
  }
  
  function handleVariantsJSON(variants_json){
    $('.current_number_of_variants').text(variants_json.length);
    var main_variant_id = parseInt($('.main_variant_label').parents('.variant-actions').find('.make_main_variant').data('variant-id'));
    $('.variant-info').remove();
    
    for(var i = 0; i < variants_json.length; i++) {
      $('<div class="variant-info row"></div>').appendTo('.current-variants');
      var options = variants_json[i]["options"];
      var variant_id = variants_json[i]["variant_id"];
      
      var image_source = variants_json[i]["image_source"];
      if (image_source === undefined) {
        image_source = '';
        $('<div class="col-md-1">' + 
          '<input type="checkbox" class="select_for_action" data-variant-id="' + variant_id + '">' + 
          '</div>').appendTo('.variant-info:last');
      } else {
      $('<div class="col-md-1">' + 
          '<input type="checkbox" class="select_for_action" data-variant-id="' + variant_id + '">' + 
          '<img src="' + image_source + '" style="height:30px;"></img>' +
        '</div>').appendTo('.variant-info:last');
      }
      $('<div class="col-md-4 options_and_values"></div>').appendTo('.variant-info:last');
      for(var j = 0; j< options.length; j++){
        var option_name = JSON.stringify(options[j].option_name);
        var option_value = JSON.stringify(options[j].option_value);
        var option_name_and_value = '<div class="option_value_wrapper"><span class="option-name-and-value"><strong>' + option_name + '</strong> : ' + option_value + ' </span></div>';
        
        $(option_name_and_value.replace(/['"]+/g, '')).appendTo(".options_and_values:last");
        
      }
      var price = JSON.stringify(variants_json[i].price);
      var sku = JSON.stringify(variants_json[i].sku);
      
      if (price === undefined) {
        price = 'not set';
      } else {
        price = '$ ' + price;
      }
      if (sku === undefined) {
        sku = 'not set';
      }
      
      var price_and_sku = '<div class="col-md-2"><strong>Price:</strong> '+ price + '</div><div class="col-md-2"><strong>SKU: </strong>' + sku   +'</div>';
      $(price_and_sku.replace(/['"]+/g, '')).appendTo(".variant-info:last");
      $('<div class="col-md-3 variant-actions"></div>').appendTo('.variant-info:last');
      $('<a class="btn btn-primary" href="/products/<%= @product.id %>/variants/<%= @product.id %>/edit?variant_id=' + variant_id + '" style="width:100% !important">' + 
        '<span>Edit Variant </span><span class="glyphicon glyphicon-edit"></span></a>').appendTo(".variant-actions:last");
      $('<a class="btn btn-danger" style="width:100% !important" data-confirm="Are you sure, you want to delete this product variant?" rel="nofollow" data-method="delete"' +
        'href="/products/<%= @product.id %>/variants/<%= @product.id %>?variant_id=' + variant_id + '">' + 
        '<span>Delete Variant </span><span class="glyphicon glyphicon-remove-sign"></span></a>').appendTo(".variant-actions:last");
      $('<button class="make_main_variant btn btn-warning" style="width: 100% !important" data-variant-id="' + variant_id + '">' + 
        '<span>Make main variant </span><span class="glyphicon glyphicon-ok-sign"></span></button>').appendTo(".variant-actions:last");
      if (parseInt(main_variant_id) === parseInt(variant_id)){
        $('<div class="main_variant_label"><strong> Main produt variant</strong></div>').appendTo(".variant-actions:last");        
      }
      add_make_main_variant_button_click();
      select_for_action_click();
    }
  }
  
  // options container
  
  function showNeccesaryOptionsActions(){
    $('.product_options .btn').show();
    $('.options .btn-warning').hide();
    $('.product_options .btn-danger').hide();
    $('.product_options .btn-success').hide();
    $('.product_options .btn-info').hide();
  }
  function assignOptionToProduct(option_id){
    $('#option' + option_id + ' > .btn-success').hide();
    $.ajax({
      url: "<%= product_assign_option_path(product_id: @product.id) %>",
      method: "POST",
      dataType: 'json',
      data: {
        option_id: option_id,
        product_id: <%= @product.id %>
      },
      
    });
    var new_product_option = $('#option' + option_id).clone();
    new_product_option.attr('id','product-option' + option_id);  
    $('.product_options').append(new_product_option);
    showNeccesaryOptionsActions();
    updateProductVariantsForm(option_id);
  }
  
  function updateProductVariantsForm(option_id){
    var option_name = $('#option'+ option_id).find('.option_name').text();
    var option_values = $('#option'+ option_id).find('.option_values').text().split(',');
    $('<div class="option_values_row"></div>').insertBefore('.variants-number-notice');
    $('<h4 class="option-name">Select ' + option_name + 's</h4>').appendTo('.option_values_row:last');
    $('<input class="option-name" type="hidden" value="'+ option_name+'"></input>').appendTo('.option_values_row:last');
    for(var i = 0; i < option_values.length - 1; i++) {
      option_values[i] = option_values[i].replace(/[\n\r\s]+/g, '');
      $('<span class="option_values"></span>').appendTo('.variants_form .option_values_row:last');
      $('<label for="' + option_values[i] + '">'+ option_values[i] + '</label>').appendTo('.variants_form .option_values:last');
      $('<input class="option_value" type="checkbox" value="0"></input>').appendTo('.variants_form .option_values:last');
    }
    $('<span class="number_of_values_selected">0</span>').appendTo('.option_values_row:last');
    $('<span> ' + option_name + 's selected</span>').appendTo('.option_values_row:last');
    $('<input class="options_selected" type="hidden" value="0" name="options_selected"></input>').appendTo('.option_values_row:last');
    bindCheckboxEvent(); 
  }
  
  function deleteAllVariants(){
    if (confirm('Are you sure, you want to delete all product variants?')) {
      $('.loader_image_wrapper').insertAfter('.variant-info:last');
      $('.loader_image_wrapper').show();
      $.ajax({
        url: "<%= product_delete_all_variants_path(product_id: @product.id) %>",
        method: 'POST',
        dataType: 'json',
        data: {
          _method: "delete",
          product_id: <%= @product.id %>
       },
        success: function(){
          $('.edit_main_variant').prop("disabled", true);
          $('.variant-info').each(function (){
            $(this).remove();
          });
          $('.current_number_of_variants').text('0');
          $('.loader_image_wrapper').hide();
        }
      })
    }
  }

  function unassignOptionFromProduct(option_id){
    $('#option' + option_id + ' > .btn-success').show();
    $.ajax({
      url: "<%= product_unassign_option_path(product_id: @product.id) %>",
      method: "POST",
      dataType: 'json',
      data: {
        _method: "delete",
        option_id: option_id,
        product_id: <%= @product.id %>
      }
    });
    
    $('#product-option' + option_id).remove();
    showNeccesaryOptionsActions();
    var option_name = $('#option' + option_id).find('.option_name').text();
    $('.option_values_row:contains('+ option_name +')').remove();
  }
  
  function bindCheckboxEvent(){
    $('.option_values_row:last').on('change', '.option_value', function(){
      var options_selected, number_of_variants;
      options_selected = parseInt($(this).parents('.option_values_row').children('.number_of_values_selected').text());
      if($(this).is(":checked")) {
        options_selected = options_selected + 1;
      } else {
        options_selected = options_selected - 1;
      }
    
      $(this).parents('.option_values_row').children('.number_of_values_selected').text(options_selected);
      $(this).parents('.option_values_row').children('.options_selected').val(options_selected);
    
      number_of_variants = 1;
      $('.variants_form .options_selected').each(function(){
        var num_of_opts = parseInt($(this).val());
        if (num_of_opts > 1) {
          number_of_variants = number_of_variants * num_of_opts;
        }
      });
      $('.number_of_variants').text(number_of_variants);
    });  
  }
  // options order and grouping
  
  function swapRows(row1,row2){
    row1_order_number = row1.find("td:nth-child(2)").text();
    row2_order_number = row2.find("td:nth-child(2)").text();
    row1.find("td:nth-child(2)").text(row2_order_number);
    row2.find("td:nth-child(2)").text(row1_order_number);
    row1.find("td:first").insertBefore(row2.find("td:first"));
    row2.find("td:nth-child(2)").insertBefore(row1.find("td:first"));
    row1.insertBefore(row2);
  }
  
  function saveOptionsOrderAndGroups(){
    var options_data = { _method: 'put', options_order_and_groups: {} };
    $('.options_order tbody tr').each(function(){
      var option_name, order_number, option_group_id, order_tabe;
      option_row = $(this);
      order_number = option_row.find('td:nth-child(2)').text();
      option_name = option_row.find('td:nth-child(3)').text();
      option_group_id = option_row.find('.option_group_select').val();
      options_data["options_order_and_groups"][option_name] = {
        order_number: order_number,
        option_group_id: option_group_id
      };
    })
    $.ajax({
      url: "<%= update_order_and_groups_url(:protocol => 'https', :product_id => @product.id) %>",
      method: 'POST',
      dataType: 'json',
      data: options_data
    })
  }
  
  function disableExtraGroups(){
    //alert(starting_index);
    $('.option_group_select option').prop('disabled',false);
    $('.option_group_select option:first').prop('disabled',true);
    for (var i = 0; i < $('.option_group_select').length - 1; i++){
      var previous_select_value = $('.option_group_select').eq(i).val();
      
      for (var j = i + 1; j < $('.option_group_select').length; j++){
        $('.option_group_select').eq(j).find('option').each(function(){
          if ($(this).attr('value') < previous_select_value) {
            $(this).prop('disabled',true);
          }
        });
      }
    }
  }
  
  function selectEnabledGroups(current_option_index){
    for (var i = current_option_index - 1; i < $('.option_group_select').length; i++) {
      var group_select = $('.option_group_select').eq(i)
      group_select.find('option:selected').each(function(){
        if ($(this).prop('disabled') == true) {
          group_select.find('option').each(function(){
            var option = $(this);
            if (option.prop('disabled') == false){
              option.prop('selected',true);
            }
          })
        }
      });
    }
  }
function add_make_main_variant_button_click(){
  $('.main_variant_label').parents('.variant-actions').find('.make_main_variant').hide();
  $('.make_main_variant').on('click', function(e){
    e.preventDefault();
    $('.edit_main_variant').prop("disabled", false);
    var this_make_main_variant = $(this);
    var variant_id = this_make_main_variant.data('variant-id');
    $.ajax({
      url: '<%= product_variants_url(:product_id => @product.id, :protocol => 'https') %>/' + variant_id,
      method: 'POST',
      data: {
        _method: 'PATCH',
        variant: {
         main_variant: true
        },
        variant_id: variant_id,
        success: function(){
          $('.make_main_variant').show();
          this_make_main_variant.hide();
          $('.main_variant_label').remove();
          $(this_make_main_variant).after('<span class="main_variant_label"><strong> Main produt variant</strong></span>');
        }
      }
    })
  })
}
function get_selected_variants_ids(){
  var variants_ids = [];
  $('.select_for_action:checked').each(function(){
    this_variant_checkbox = $(this);
    variants_ids.push(this_variant_checkbox.data('variant-id'));
  });
  return variants_ids;
}

$(document).ready(function(){
  //variant state functionality
  $('.turn_off_variants').click(function(e){
    e.preventDefault();
    var selected_variants_ids = get_selected_variants_ids();
    var turned_on_variants_ids = selected_variants_ids.filter(function(variant_id){
      var variant_state = $('.variant_state[data-variant_id="' + variant_id + '"]').bootstrapSwitch('state');
      if (variant_state) {
        return variant_id;
      }
    });
    $.ajax({
      url: "<%= product_turn_off_variants_url(product_id: @product.id, protocol: "https") %>",
      type: "POST",
      data: {
        _method: "PUT",
        variants_ids: turned_on_variants_ids
      },
      success: function(){
        turned_on_variants_ids.forEach(function(variant_id){
          $('.variant_state[data-variant_id="' + variant_id + '"]').bootstrapSwitch('state', false, true);  
          $('.select_for_action[data-variant-id="' + variant_id + '"]').prop('checked', false);  
        })
      }
    })
  })
  
  $('.turn_on_variants').click(function(e){
    e.preventDefault();
    var selected_variants_ids = get_selected_variants_ids();
    var turned_off_variants_ids = selected_variants_ids.filter(function(variant_id){
      var variant_state = $('.variant_state[data-variant_id="' + variant_id + '"]').bootstrapSwitch('state');
      if (!(variant_state)) {
        return variant_id;
      }
    });
    $.ajax({
      url: "<%= product_turn_on_variants_url(product_id: @product.id, protocol: "https") %>",
      type: "POST",
      data: {
        _method: "PUT",
        variants_ids: turned_off_variants_ids
      },
      success: function(){
        turned_off_variants_ids.forEach(function(variant_id){
          $('.variant_state[data-variant_id="' + variant_id + '"]').bootstrapSwitch('state', true, true);  
          $('.select_for_action[data-variant-id="' + variant_id + '"]').prop('checked', false);  
        })
      }
    })
  })
  
  $('.variant_state').bootstrapSwitch();
  
  $('.variant_state').on('switchChange.bootstrapSwitch', function(event, state){
    var this_switch = jQuery(this);
    var variant_id = this_switch.data("variant_id");
    $.ajax({
      url: "<%= product_variants_url(product_id: @product.id, protocol: 'https') %>" + '/' + variant_id,
      method: "POST",
      dataType: "json",
      data: {
        _method: "PUT",
        variant_id: variant_id,
        variant: {
          state: state,
        }
      },
      success: function(){
        alert("Variant state was toggled.")
      }
    })
  })
  
  <% unless @product_info.shipping_method.nil? %>
  $('.shipping_method_select option[value="' + <%= @product_info.shipping_method.id %> + '"]').prop("selected", true);
  <% end %>
  
  <% unless @product_info.lead_time.nil? %>
    $('.lead_time_select option:contains("<%= @product_info.lead_time.to_s %>")').prop("selected", true);
  <% end %> 
  
  $('.lead_time_select').change(function(){
    var lead_time = $(this).val();
    $('.lead_time').val(lead_time);
  });
  
 <% unless @product_info.lead_time_unit.nil? %>
   $('.lead_time_unit_select option:contains("<%= @product_info.lead_time_unit %>")').prop("selected", true);
 <% end %>
  
  $('.lead_time_unit_select').change(function(){
    var lead_time_unit = $(this).val();
    $('.lead_time_unit').val(lead_time_unit);
  });
  
  <% unless @product_info.country_of_origin.nil? or @product_info.country_of_origin == "" %>
  $('.country_of_origin_select option:contains("<%= @product_info.country_of_origin %>")').prop("selected", true);
  <% end %>
  
  
  $('.country_of_origin_select').change(function(){
    var country_of_origin = $(this).find('option:selected').text();
    $('.country_of_origin').val(country_of_origin);
  });
  
  $('.product_type_select option:contains("<%= @product.product_type %>")').prop("selected", true);
  
  $('.product_type_select').change(function(){
    var product_type = $(this).val();
    $('.product_type').val(product_type);
  });
  
  $('.requires_assembly_select option:contains("<%= @product_info.requires_assembly? ? "Yes" : "No" %>")').prop("selected", true);
  
  $('.requires_assembly_select').change(function(){
    var requires_assembly = $(this).val();
    if (requires_assembly === "Yes") {
      requires_assembly = true;
    } else {
      requires_assembly = false;
    }
    $('.requires_assembly').val(requires_assembly);
  })
  $('.search_label').click(function(){
    $('.glyphicon-menu-down').toggle();
    $('.glyphicon-menu-up').toggle();
    $('.search_form').toggle();
  });
  
  //select all variants button
  
  $('.select_all_variants').click(function(){
    var unselected_variants_count = $('.select_for_action:not(:checked)').length;
    if (unselected_variants_count !== 0) {
      $('.select_for_action:not(:checked)').each(function(){
        $(this).prop('checked', true);
        $('.delete_selected_variants').prop('disabled', false);
        if ($('.select_3d_image').val() !== "0") {
          $('.assign_3d_image').prop('disabled', false);
        }
      })
    } else {
      $('.select_for_action:checked').each(function(){
        $(this).prop('checked', false);
        $('.delete_selected_variants').prop('disabled', true);
        $('.assign_3d_image').prop('disabled', true);
      })
    }
  })
  
  // assign 3d image form
  $('.assign_3d_image').prop("disabled", true);
  $('.select_3d_image').change(function(){
    if ($(this).val() === "0"){
      $('.assign_3d_image').prop("disabled", true);
    } else if ($('.select_for_action:checked').length === 0) {
      $('.assign_3d_image').prop("disabled", true);
    } else {
      $('.assign_3d_image').prop("disabled", false);
    }
  });
  $('.assign_3d_image').click(function(e){
    e.preventDefault();
    var three_sixty_image_title = $('.select_3d_image option:selected').text();
    var variants_ids = get_selected_variants_ids();
    var three_sixty_image_id = $('.select_3d_image').val();
    $.ajax({
      url: "<%= product_multiple_three_sixty_image_assignment_url(:product_id => @product.id, :protocol => 'https') %>",
      method: "POST",
      data: {
        variants_ids: variants_ids,
        three_sixty_image_id: three_sixty_image_id
      },
      success: function(three_sixty_info){
        alert("Successfully assigned 3D image " + three_sixty_info.title + " to " + variants_ids.length + " variants");
        $('.assign_3d_image').prop("disabled", true);
        $('.select_for_action:checked').each(function(){
          $(this).prop("checked", false);
        });
        $('.select_all_variants').prop('checked', false);
      }
    })
    console.log(variants_ids);
    console.log(three_sixty_image_id);
  });
  // edit product's main variant
  $('.edit_main_variant').click(function(e){
    e.preventDefault();
    
    var main_variant_href = $('.main_variant_label').parents('.variant-actions').find('.btn:contains("Edit Variant")').attr("href");
    if ((main_variant_href != undefined)) {
      location.href = main_variant_href;
    } else {
      <% unless @main_variant.nil? %>
        var main_variant_href = "<%= edit_product_variant_url(:protocol => 'https', :product_id => @product.id, :variant_id => @main_variant.id, :id => @main_variant.id) %>"
        location.href = main_variant_href;
      <% end %>
    }
    
  })
  //unassign product from collection
  $('.unassign_from_collection').click(function(){
    var collection_row = $(this).parents('.collection_row');
    var collection_id = $(this).data("collection_id");
    var collection_title = collection_row.find('.collection_title').text();
    if (confirm("Are you sure you would like to remove this product from " + collection_title + " collection?")) {
      $.ajax({
        url: "<%= product_unassign_from_collection_url(:protocol => 'https', :product_id => @product.id) %>",
        method: 'POST',
        data: {
          collection_id: collection_id,
          _method: 'DELETE'
        },
        success: function(){
          collection_row.remove();
        }
      }) 
    }
  })
  // search
  $('.search_option_value').change(function(){
    option_values_ids = [];
    $('.search_option_value').each(function(){
      var option_value_id = $(this).val();
      if (!(option_value_id === "0")) {
        option_values_ids.push(option_value_id);
      }
    })
    $('#search_option_values_ids').val(option_values_ids);
  })
  //delete selected variants
  select_for_action_click();
  $('.delete_selected_variants').on('click', function(e){
    e.preventDefault();
    $('.loader_image_wrapper').insertAfter('.variant-info:last');
    $('.loader_image_wrapper').show();
    var variant_ids = [];
    $('.select_for_action:checked').each(function(){
      variant_ids.push($(this).data('variant-id'))
    })
    $.ajax({
      url: "<%= product_delete_selected_variants_url(:product_id => @product.id, :protocol => 'https') %>",
      method: 'POST',
      data: {
        _method: 'delete',
        variant_ids: variant_ids
      },
      success: function(){
        
        var variants_count = $('.select_for_action:not(:checked)').length;
        $('.current_number_of_variants').text(variants_count);
        $('.select_for_action:checked').each(function(){
          $(this).parents('.variant-info').remove();
        })
        if ($('.main_variant_label').length === 0){
          $('.edit_main_variant').prop("disabled", true);
        }
        $('.loader_image_wrapper').hide();
      }
    })
  });
  
  //main product variant
  //$('<span> <strong>Main product variant</strong></span>').appendTo('.variant-actions:first');
  add_make_main_variant_button_click();
  // tabs init
  $( "#tabs" ).tabs({
    collapsible: true
  });  
  // options
  $("#saveOptionsOrderAndGroups").on('click', saveOptionsOrderAndGroups);
  <% @options.order(:order_number).each_with_index do |option, index| %>
    var option_row = $('.options_order > tbody > tr:nth-child(<%= index + 1 %>)')
    var option_group_id = <%= option.option_group_id.nil? ? 0 : option.option_group_id %>;
    option_row.find('.option_group_select option[value="' + option_group_id + '"]').prop('selected', true);
  <% end %>
  $(".options_order").find('.up:first').hide();
  $(".options_order").find('.down:last').hide();
  $(".up,.down").click(function(e){
    e.preventDefault();
    var row = $(this).parents("tr:first");
    if ($(this).is(".up")) {
      swapRows(row, row.prev());
    } else {
      swapRows(row.next(), row);
    }
  });

  showNeccesaryOptionsActions();
  
  clearVariantsForm();
  $('.cancel-adding-variants').click(function(e){
    e.preventDefault();
    clearVariantsForm();
  });
  
  $('.delete_all_variants').click(function(e){
    e.preventDefault();
    deleteAllVariants();  
  })
  $('.add-variants').click(function(e){
    e.preventDefault();
    showVariantsForm();
  })
  $('.option_values').on('change', '.option_value', function(){
    var options_selected, number_of_variants;
    options_selected = parseInt($(this).parents('.option_values_row').children('.number_of_values_selected').text());
    if($(this).is(":checked")) {
      options_selected = options_selected + 1;
    } else {
      options_selected = options_selected - 1;
    }
    
    $(this).parents('.option_values_row').children('.number_of_values_selected').text(options_selected);
    $(this).parents('.option_values_row').children('.options_selected').val(options_selected);
    
    number_of_variants = 1;
    $('.variants_form .options_selected').each(function(){
      var num_of_opts = parseInt($(this).val());
      if (num_of_opts > 1) {
        number_of_variants = number_of_variants * num_of_opts;
      }
    });
    $('.number_of_variants').text(number_of_variants);
  });  
  
  disableExtraGroups();
  $('.option_group_select').change(function(){
    var current_option_index = $(this).parents('tr').find('td:nth-child(2)').text();
    disableExtraGroups();
    selectEnabledGroups(current_option_index);
  })
  // adding option groups
  $('#option_group_form').hide();
  $('#add_option_group').on('click', function(){
    $('#option_group_form').show();
    $(this).hide();
  })
  $('#save_option_group').on('click', function(){
    var option_group_name;
    $('#add_option_group').show()
    $('#option_group_form').hide();
    option_group_name = $('#option_group_name').val();
    $.ajax({
      method: "POST",
      url: "<%= option_groups_url(:protocol => 'https') %>",
      dataType: 'json',
      data: {
        option_group_name: option_group_name
      },
      success: function(response){
        var id = response["id"];
        $('<div class="col-md-2 option_group">' +
            '<span class="option_group_name"> ' + option_group_name +
            ' </span>' +
            '<span class="delete_option_group">' +
              '<a class="btn btn-danger" data-confirm="Are you sure, you want to delete this option group?" rel="nofollow" data-method="delete"' +  
              'href="' + "<%= option_groups_url(:protocol => 'https') %>" +  '/' + id + '">X</a>' +
            '</span>' +
          '</div>').appendTo('.option_groups'); 
        $('.option_group_select').each(function(){
          var this_select = $(this);
          $('<option value="' + id + '">' + option_group_name +'</option>').appendTo(this_select);
        });
      }
    })
    $('#option_group_name').val('');
  })
});

  
</script>

<div class="container">
  <%= form_tag product_path, method: "patch", :html => { :controller => "products", :action => "update", :id => @product.id } do %>

  <div class="row">
    <div class="col-md-2">
      <%= submit_tag "Back to all products", :class => "btn btn-info" %>
    </div>
  </div><br>

  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Edit product information</a></li>
      <li><a href="#tabs-2">Edit options information</a></li>
    </ul>
  <div id="tabs-1" class="product_information_container">

    <div class="row">
      
      <h2>Product Information</h2>
      
      <div class="col-md-8 form-group">
        <%= label_tag 'product[title]', "Product title:" %>  
        <%= text_field_tag :title, @product.title, class: "form-control" %>
  
        <%= label_tag 'product[body_html]', "Product description:" %>
        <%= text_area_tag :body_html, @product.body_html, class: "tinymce form-control body_html" %>
        <script> 
          //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.tinymce.body_html",
                statusbar: false,
                menubar: false,
                resize: false,
                setup: function (editor) {
                  editor.on('change', function (e) {  
                    
                  });
                },
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
                plugins: "textcolor"
              });
            } else {
            setTimeout(arguments.callee, 50);
            }
          })();
          //]]>
        </script>      
      </div>
      
      <div class="col-md-4">
        <%= label_tag nil, "In Collections:" %>
        <div class="form-control collections_list">
          <% @product_collections.each do |collection| %>
            <div class="collection_row">
              <span class="collection_title"><%= collection.title %></span>
              <span data-collection_id="<%= collection.id %>" class="glyphicon glyphicon-remove-sign unassign_from_collection"></span>
            </div>
          <% end %>    
        </div>
        <!--<select class="form-control" multiple>
          <% @product_collections.each do |collection| %>
            <option><%= collection.title %></option>
          <% end %>  
        </select>-->
        
        
        
        <%= label_tag 'product[collections]', "Assign collection" %>
        <select id="collection_id" name="collection_id" class="form-control"> 
          <option value="" selected="selected">
            -Select collection to assign-
          </option>
          <% @collections.each do |collection| %>
            <% unless @product_collections.include? collection %>
              <option value=<%= collection.id %>>  
                <span><%= collection.title %></span>
              </option>
            <% end %>
          <% end %>
        </select>
    
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <%= label_tag 'product_info[why_we_love_this]', "Why We Love This:" %>  
        <%= text_area_tag :why_we_love_this, @product_info.why_we_love_this , class: "form-control why_we_love_this tinymce" %>
        <script> 
          //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.tinymce.why_we_love_this",
                statusbar: false,
                menubar: false,
                resize: false,
                setup: function (editor) {
                  editor.on('change', function (e) {  
                    
                  });
                },
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
                plugins: "textcolor"
              });
            } else {
            setTimeout(arguments.callee, 50);
            }
          })();
          //]]>
        </script>      
      </div>
      
      <div class="col-md-6">
        <%= label_tag 'product_info[be_sure_to_note]', "Be Sure To Note:" %>  
        <%= text_area_tag :be_sure_to_note, @product_info.be_sure_to_note , class: "form-control be_sure_to_note tinymce" %>
        <script> 
          //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.tinymce.be_sure_to_note",
                statusbar: false,
                menubar: false,
                resize: false,
                setup: function (editor) {
                  editor.on('change', function (e) {  
                    
                  });
                },
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
                plugins: "textcolor"
              });
            } else {
            setTimeout(arguments.callee, 50);
            }
          })();
          //]]>
        </script>      
      </div>
    </div>
    <div class="row">
  
      <div class="col-md-3 form-group">
        <%= label_tag 'product[type]', "Product type:" %>
        <%= hidden_field_tag :product_type, @product.product_type, class: "form-control product_type" %>
        <select class="form-control product_type_select">
          <optgroup label="Furniture - Seating">
          <option value="Sofas &amp; Loveseats">Sofas &amp; Loveseats</option>
          <option value="Sectionals">Sectionals</option>
          <option value="Sleepers &amp; Daybeds">Sleepers &amp; Daybeds</option>
          <option value="Accent Chairs">Accent Chairs</option>
          <option value="Dining Chairs">Dining Chairs</option>
          <option value="Desk Chairs">Desk Chairs</option>
          <option value="Chaises, Settees">Chaises, Settees</option>
          <option value="Benches, Ottomans &amp; Poufs">Benches, Ottomans &amp; Poufs</option>
          <option value="Bar &amp; Counter">Bar &amp; Counter</option>
          <option value="Stools">Stools</option>
          </optgroup>
          <optgroup label="Furniture - Shelving &amp; Cabinets">
          <option value="Armories &amp; Cabinets">Armories &amp; Cabinets</option>
          <option value="Bar Storage &amp; Carts">Bar Storage &amp; Carts</option>
          <option value="Sideboards &amp; Huthces">Sideboards &amp; Huthces</option>
          <option value="Media Consoles">Media Consoles</option>
          <option value="Shelves &amp; Bookcases">Shelves &amp; Bookcases</option>
          </optgroup>
          <optgroup label="Furniture - Tables">
          <option value="Dining Tables">Dining Tables</option>
          <option value="Bar &amp; Counter Tables">Bar &amp; Counter Tables</option>
          <option value="Cocktail &amp; Coffee Tables">Cocktail &amp; Coffee Tables</option>
          <option value="Console Tables">Console Tables</option>
          <option value="Side Tables">Side Tables</option>
          <option value="Trunks">Trunks</option>
          <option value="Desks">Desks</option>
          </optgroup>
          <optgroup label="Furniture - Bedroom Furniture">
          <option value="Bed Frames">Bed Frames</option>
          <option value="Headboards">Headboards</option>
          <option value="Mattresses">Mattresses</option>
          <option value="Nightstands">Nightstands</option>
          <option value="Dressers">Dressers</option>
          </optgroup>
          <optgroup label="Furniture - Bath Furniture">
          <option value="Ã‰TAGÃˆRES &amp; CABINETS">Ã‰TAGÃˆRES &amp; CABINETS</option>
          <option value="Mirrors">Mirrors</option>
          <option value="Vanities &amp; Sinks">Vanities &amp; Sinks</option>
          <option value="Tubs">Tubs</option>
          </optgroup>
          <optgroup label="Furniture - Office Furniture">
          <option value="Desks">Desks</option>
          <option value="Chairs">Chairs</option>
          <option value="Office Storage">Office Storage</option>
          </optgroup>
          <optgroup label="Furniture - Outdoor Furniture">
          <option value="Sofas &amp; Loveseats">Sofas &amp; Loveseats</option>
          <option value="Sectionals">Sectionals</option>
          <option value="Loungers">Loungers</option>
          <option value="Accent Chairs">Accent Chairs</option>
          <option value="Coffee Tables">Coffee Tables</option>
          <option value="Dining Chairs">Dining Chairs</option>
          <option value="Dining &amp; Bar Tables">Dining &amp; Bar Tables</option>
          <option value="Stools">Stools</option>
          </optgroup>
          <optgroup label="Kitchen &amp; Tabletop - Appliances">
          <option value="Refrigerator">Refrigerator</option>
          <option value="Ovens">Ovens</option>
          <option value="Cooktops">Cooktops</option>
          <option value="Ranges">Ranges</option>
          <option value="Dishwashers">Dishwashers</option>
          <option value="Hoods">Hoods</option>
          <option value="Fittings">Fittings</option>
          </optgroup>
          <optgroup label="Kitchen &amp; Tabletop - Accessories">
          <option value="Step Stools + Ladders">Step Stools + Ladders</option>
          <option value="Knobs &amp; Handles">Knobs &amp; Handles</option>
          <option value="Storage">Storage</option>
          <option value="Trashcans">Trashcans</option>
          </optgroup>
          <optgroup label="Kitchen &amp; Tabletop - Cookware, Bakeware &amp; Tools">
          <option value="Cultery &amp; Prep">Cultery &amp; Prep</option>
          <option value="Bakeware">Bakeware</option>
          <option value="Pots &amp; Pans">Pots &amp; Pans</option>
          <option value="Cooking Tools">Cooking Tools</option>
          <option value="Canisters &amp; Jars">Canisters &amp; Jars</option>
          <option value="Dish Towels, Aprons &amp; Mitts">Dish Towels, Aprons &amp; Mitts</option>
          <option value="Gourmet">Gourmet</option>
          </optgroup>
          <optgroup label="Kitchen &amp; Tabletop - Tabletop">
          <option value="Plates">Plates</option>
          <option value="Bowls">Bowls</option>
          <option value="Mugs &amp; Cups">Mugs &amp; Cups</option>
          <option value="Stemware">Stemware</option>
          <option value="Glassware">Glassware</option>
          <option value="Flatware">Flatware</option></optgroup>
          <optgroup label="Kitchen &amp; Tabletop - Serveware">
          <option value="Platters &amp; Trays">Platters &amp; Trays</option>
          <option value="Coffee &amp; Tea">Coffee &amp; Tea</option>
          <option value="Salt &amp; Pepper">Salt &amp; Pepper</option>
          <option value="Serving Bowls">Serving Bowls</option>
          <option value="Serving Utensils">Serving Utensils</option>
          <option value="Pitchers &amp; Jugs">Pitchers &amp; Jugs</option>
          <option value="Cheese Boards">Cheese Boards</option>
          </optgroup>
          <optgroup label="Kitchen &amp; Tabletop - Entertaining">
          <option value="Cocktail Plates">Cocktail Plates</option>
          <option value="Coasters">Coasters</option>
          <option value="Chargers">Chargers</option>
          <option value="Serving Trays">Serving Trays</option>
          <option value="Accessories">Accessories</option>
          </optgroup>
          <optgroup label="Kitchen &amp; Tabletop - Table Linens">
          <option value="Napkins">Napkins</option>
          <option value="Placemats">Placemats</option>
          <option value="Tablecloths &amp; Runners">Tablecloths &amp; Runners</option>
          <option value="Napkin Rings">Napkin Rings</option>
          </optgroup>
          <optgroup label="Kitchen &amp; Tabletop - Barware">
          <option value="Cocktail Glasses">Cocktail Glasses</option>
          <option value="Pitchers &amp; Decanters">Pitchers &amp; Decanters</option>
          <option value="Bar Accessories">Bar Accessories</option>
          </optgroup>
          <optgroup label="Bed &amp; Bath - Bed Linens">
          <option value="Duvet Covers &amp; Shams">Duvet Covers &amp; Shams</option>
          <option value="Sheeting">Sheeting</option>
          <option value="Quilts &amp; Coverlets">Quilts &amp; Coverlets</option>
          </optgroup>
          <optgroup label="Bed &amp; Bath - Bedding Accessories">
          <option value="Throws &amp; Blankets">Throws &amp; Blankets</option>
          <option value="Pillow Inserts">Pillow Inserts</option>
          <option value="Decorative Pillows Bath Linens">Decorative Pillows Bath Linens</option>
          <option value="Towels">Towels</option>
          <option value="Bath Rugs">Bath Rugs</option>
          <option value="Shower Curtains">Shower Curtains</option>
          </optgroup>
          <optgroup label="Bed &amp; Bath - Bath Fittings">
          <option value="Wall Mountes Hardware">Wall Mounted Hardware</option>
          <option value="Vanities &amp; Wall Shelves">Vanities &amp; Wall Shelves</option>
          <option value="Knobs, Hooks &amp; Pulls">Knobs, Hooks &amp; Pulls</option>
          <option value="Faucets &amp; Fittings">Faucets &amp; Fittings</option>
          </optgroup>
          <optgroup label="Bed &amp; Bath - Bath Accessories">
          <option value="Countertop Accessories">Countertop Accessories</option>
          <option value="Countertop Mirrors">Countertop Mirrors</option>
          <option value="Bath Storage">Bath Storage</option>
          <option value="Shower Baskets">Shower Baskets</option>
          <option value="Soap &amp; Lotion Collections">Soap &amp; Lotion Collections</option>
          </optgroup>
          <optgroup label="Lighting - Ceiling">
          <option value="Chandeliers">Chandeliers</option>
          <option value="Pendants">Pendants</option>
          <option value="Flushmounts">Flushmounts</option>
          <option value="Ceiling Fans">Ceiling Fans</option>
          </optgroup>
          <optgroup label="Lighting - Lamps">
          <option value="Floor Lamps">Floor Lamps</option>
          <option value="Table Lamps">Table Lamps</option>
          </optgroup>
          <optgroup label="Lighting - Wall">
          <option value="Wall Sconces">Wall Sconces</option>
          <option value="Bath Sconces">Bath Sconces</option>
          <option value="Picture Lights">Picture Lights</option>
          </optgroup>
          <optgroup label="Lighting - Outdoor">
          <option value="Outdoor Pendants">Outdoor Pendants</option>
          <option value="Outdoor Sconces">Outdoor Sconces</option>
          <option value="Outdoor Flushmounts">Outdoor Flushmounts</option>
          <option value="String Lights">String Lights</option>
          </optgroup>
          <optgroup label="Lighting - Lighting Accessories">
          <option value="Shades">Shades</option>
          <option value="Lightbulbs">Lightbulbs</option>
          <option value="Switch Plates">Switch Plates</option>
          <option value="Lit Decor">Lit Decor</option>
          </optgroup>
          <optgroup label="Rugs - Rugs By Style">
          <option value="Hides, Skins &amp; Leather">Hides, Skins &amp; Leather</option>
          <option value="Natural Fiber, Sisal &amp; Textures">Natural Fiber, Sisal &amp; Textures</option>
          <option value="Pattern">Pattern</option>
          <option value="Shag">Shag</option>
          <option value="Solids">Solids</option>
          <option value="Silk">Silk</option>
          <option value="Flatweave">Flatweave</option>
          <option value="Antique &amp; Vintage">Antique &amp; Vintage</option>
          <option value="Rug Accessories">Rug Accessories</option>
          </optgroup>
          <optgroup label="Decor - Objects">
          <option value="Bookends">Bookends</option>
          <option value="Books">Books</option>
          <option value="Candles &amp; Candle Holders">Candles &amp; Candle Holders</option>
          <option value="Clocks">Clocks</option>
          <option value="Frames">Frames</option>
          <option value="Letters &amp; Numbers">Letters &amp; Numbers</option>
          <option value="Objects">Objects</option>
          <option value="Vases">Vases</option>
          <option value="Vessels &amp; Trays">Vessels &amp; Trays</option>
          </optgroup>
          <optgroup label="Decor - Mirrors">
          <option value="Floor Mirrors">Floor Mirrors</option>
          <option value="Wall Mirrors">Wall Mirrors</option>
          </optgroup>
          <optgroup label="Decor - Windows">
          <option value="Drapery">Drapery</option>
          <option value="Shades">Shades</option>
          <option value="Blinds">Blinds</option>
          <option value="Hardware">Hardware</option>
          </optgroup>
          <optgroup label="Decor - Office &amp; Storage">
          <option value="Baskets &amp; Totes">Baskets &amp; Totes</option>
          <option value="Shelving">Shelving</option>
          <option value="Desk Accessories">Desk Accessories</option>
          <option value="Boxes">Boxes</option>
          </optgroup>
          <optgroup label="Decor - Wall Decor">
          <option value="Artwork">Artwork</option>
          <option value="Wall Carvings/Plaques">Wall Carvings/Plaques</option>
          <option value="Display Shelves">Display Shelves</option>
          </optgroup>
          <optgroup label="Decor - Hearth">
          <option value="Screens">Screens</option>
          <option value="Tools &amp; Accessories">Tools &amp; Accessories</option>
          </optgroup>
          <optgroup label="Decor - Pillows &amp; Throws">
          <option value="Pillows">Pillows</option>
          <option value="Pillow Inserts">Pillow Inserts</option>
          <option value="Throws">Throws</option>
          </optgroup>
          <optgroup label="Decor - Small Furniture">
          <option value="Bar Carts">Bar Carts</option>
          <option value="Coat Racks">Coat Racks</option>
          <option value="Luggage Racks">Luggage Racks</option>
          <option value="Ladders &amp; Screens">Ladders &amp; Screens</option>
          <option value="Wall Shelving">Wall Shelving</option>
          </optgroup>
          <optgroup label="Decor - Hardware">
          <option value="Doorbells">Doorbells</option>
          <option value="Hinges &amp; Latches">Hinges &amp; Latches</option>
          <option value="Hooks">Hooks</option>
          <option value="Knobs">Knobs</option>
          <option value="Knockers">Knockers</option>
          <option value="Mailboxes">Mailboxes</option>
          <option value="Numbers">Numbers</option>
          <option value="Pulls, Handles &amp; Knobs">Pulls, Handles &amp; Knobs</option>
          <option value="Register Covers">Register Covers</option>
          <option value="Switch Plates">Switch Plates</option>
          </optgroup>
          <optgroup label="Decor - Fabric By The Yard">
          <option value="Fabric By The Yard">Fabric By The Yard</option>
          </optgroup>
          <optgroup label="Outdoor - Outdoor Furniture">
          <option value="Sofas &amp; Loveseats">Sofas &amp; Loveseats</option>
          <option value="Sectionals">Sectionals</option>
          <option value="Loungers">Loungers</option>
          <option value="Accent Chairs">Accent Chairs</option>
          <option value="Coffee Tables">Coffee Tables</option>
          <option value="Dining Chairs">Dining Chairs</option>
          <option value="Dining &amp; Bar Tables">Dining &amp; Bar Tables</option>
          <option value="Stools">Stools</option>
          </optgroup>
          <optgroup label="Outdoor - Outdoor Decor">
          <option value="Fountains">Fountains</option>
          <option value="Garden Objects">Garden Objects</option>
          <option value="Topiaries">Topiaries</option>
          <option value="Urns &amp; Pedestals">Urns &amp; Pedestals</option>
          </optgroup>
          <optgroup label="Outdoor - Fire &amp; Heat">
          <option value="Fireplace &amp; Pits">Fireplace &amp; Pits</option>
          <option value="Fire Accessories">Fire Accessories</option>
          <option value="Outdoor Heaters">Outdoor Heaters</option>
          <option value="Fire &amp; Heat Covers">Fire &amp; Heat Covers</option>
          <option value="Grills &amp; Ovens">Grills &amp; Ovens</option>
          </optgroup>
          <optgroup label="Outdoor - Outdoor Lighting">
          <option value="Pendants">Pendants</option>
          <option value="Sconces">Sconces</option>
          <option value="Flushmounts">Flushmounts</option>
          <option value="String Lights">String Lights</option>
          </optgroup>
          <optgroup label="Outdoor - Umbrellas">
          <option value="Umbrellas">Umbrellas</option>
          <option value="Umbrella Stands">Umbrella Stands</option>
          <option value="Umbrella Covers">Umbrella Covers</option>
          </optgroup>
          <optgroup label="Outdoor - Outdoor Accessories">
          <option value="Covers">Covers</option>
          <option value="Cushions">Cushions</option>
          <option value="Pillows">Pillows</option>
          <option value="Planters">Planters</option>
          <option value="Doormats">Doormats</option></optgroup>
        </select>
      </div>
  
      <div class="col-md-3 form-group">
        <%= label_tag 'product[published_scope]', "Visibility:" %>
        <%= text_field_tag :published_scope, @product.published_scope, class: "form-control" %>
      </div>
  
      <div class="col-md-3 form-group">
        <%= label_tag 'product[vendor]', "Vendor:" %>
        <%= text_field_tag :vendor, @product.vendor, class: "form-control" %>
      </div>
      
      <div class="col-md-3 form-group">
        <br>
        <button class="btn btn-primary edit_main_variant" style="width: 100% !important;" <%= "disabled" unless @main_variant_present %>>
          Edit Product's Main Variant 
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </div>
      
      <div class="col-md-4 form-group">
        <%= label_tag 'product[template_suffix]', "Template Suffix:" %>
        <%= text_field_tag :template_suffix, @product.template_suffix, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= label_tag 'product_info[country_of_origin]', "Country of Origin:" %>
        <%= hidden_field_tag :country_of_origin, @product_info.country_of_origin, class: "form-control country_of_origin" %>
        <select class="form-control country_of_origin_select">
          <option value="US">United States</option>
          <option value="CA">Canada</option>
          <option value="MX">Mexico</option>
          <option value="CN">China</option> 
          <option value="IN">India</option>
          <option value="VN">Vietnam</option>
          <optgroup label="Other countries...">
            <option value="AF">Afghanistan</option>
            <option value="AX">Åland Islands</option>
            <option value="AL">Albania</option>
            <option value="DZ">Algeria</option>
            <option value="AS">American Samoa</option>
            <option value="AD">Andorra</option>
            <option value="AO">Angola</option>
            <option value="AI">Anguilla</option>
            <option value="AQ">Antarctica</option>
            <option value="AG">Antigua and Barbuda</option>
            <option value="AR">Argentina</option>
            <option value="AM">Armenia</option>
            <option value="AW">Aruba</option>
            <option value="AU">Australia</option>
            <option value="AT">Austria</option>
            <option value="AZ">Azerbaijan</option>
            <option value="BS">Bahamas</option>
            <option value="BH">Bahrain</option>
            <option value="BD">Bangladesh</option>
            <option value="BB">Barbados</option>
            <option value="BY">Belarus</option>
            <option value="BE">Belgium</option>
            <option value="BZ">Belize</option>
            <option value="BJ">Benin</option>
            <option value="BM">Bermuda</option>
            <option value="BT">Bhutan</option>
            <option value="BO">Bolivia, Plurinational State of</option>
            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
            <option value="BA">Bosnia and Herzegovina</option>
            <option value="BW">Botswana</option>
            <option value="BV">Bouvet Island</option>
            <option value="BR">Brazil</option>
            <option value="IO">British Indian Ocean Territory</option>
            <option value="BN">Brunei Darussalam</option>
            <option value="BG">Bulgaria</option>
            <option value="BF">Burkina Faso</option>
            <option value="BI">Burundi</option>
            <option value="KH">Cambodia</option>
            <option value="CM">Cameroon</option>
            <option value="CV">Cape Verde</option>
            <option value="KY">Cayman Islands</option>
            <option value="CF">Central African Republic</option>
            <option value="TD">Chad</option>
            <option value="CL">Chile</option>
            <option value="CX">Christmas Island</option>
            <option value="CC">Cocos (Keeling) Islands</option>
            <option value="CO">Colombia</option>
            <option value="KM">Comoros</option>
            <option value="CG">Congo</option>
            <option value="CD">Congo, the Democratic Republic of the</option>
            <option value="CK">Cook Islands</option>
            <option value="CR">Costa Rica</option>
            <option value="CI">Côte d'Ivoire</option>
            <option value="HR">Croatia</option>
            <option value="CU">Cuba</option>
            <option value="CW">Curaçao</option>
            <option value="CY">Cyprus</option>
            <option value="CZ">Czech Republic</option>
            <option value="DK">Denmark</option>
            <option value="DJ">Djibouti</option>
            <option value="DM">Dominica</option>
            <option value="DO">Dominican Republic</option>
            <option value="EC">Ecuador</option>
            <option value="EG">Egypt</option>
            <option value="SV">El Salvador</option>
            <option value="GQ">Equatorial Guinea</option>
            <option value="ER">Eritrea</option>
            <option value="EE">Estonia</option>
            <option value="ET">Ethiopia</option>
            <option value="FK">Falkland Islands (Malvinas)</option>
            <option value="FO">Faroe Islands</option>
            <option value="FJ">Fiji</option>
            <option value="FI">Finland</option>
            <option value="FR">France</option>
            <option value="GF">French Guiana</option>
            <option value="PF">French Polynesia</option>
            <option value="TF">French Southern Territories</option>
            <option value="GA">Gabon</option>
            <option value="GM">Gambia</option>
            <option value="GE">Georgia</option>
            <option value="DE">Germany</option>
            <option value="GH">Ghana</option>
            <option value="GI">Gibraltar</option>
            <option value="GR">Greece</option>
            <option value="GL">Greenland</option>
            <option value="GD">Grenada</option>
            <option value="GP">Guadeloupe</option>
            <option value="GU">Guam</option>
            <option value="GT">Guatemala</option>
            <option value="GG">Guernsey</option>
            <option value="GN">Guinea</option>
            <option value="GW">Guinea-Bissau</option>
            <option value="GY">Guyana</option>
            <option value="HT">Haiti</option>
            <option value="HM">Heard Island and McDonald Islands</option>
            <option value="VA">Holy See (Vatican City State)</option>
            <option value="HN">Honduras</option>
            <option value="HK">Hong Kong</option>
            <option value="HU">Hungary</option>
            <option value="IS">Iceland</option>
            <option value="ID">Indonesia</option>
            <option value="IR">Iran, Islamic Republic of</option>
            <option value="IQ">Iraq</option>
            <option value="IE">Ireland</option>
            <option value="IM">Isle of Man</option>
            <option value="IL">Israel</option>
            <option value="IT">Italy</option>
            <option value="JM">Jamaica</option>
            <option value="JP">Japan</option>
            <option value="JE">Jersey</option>
            <option value="JO">Jordan</option>
            <option value="KZ">Kazakhstan</option>
            <option value="KE">Kenya</option>
            <option value="KI">Kiribati</option>
            <option value="KP">Korea, Democratic People's Republic of</option>
            <option value="KR">Korea, Republic of</option>
            <option value="KW">Kuwait</option>
            <option value="KG">Kyrgyzstan</option>
            <option value="LA">Lao People's Democratic Republic</option>
            <option value="LV">Latvia</option>
            <option value="LB">Lebanon</option>
            <option value="LS">Lesotho</option>
            <option value="LR">Liberia</option>
            <option value="LY">Libya</option>
            <option value="LI">Liechtenstein</option>
            <option value="LT">Lithuania</option>
            <option value="LU">Luxembourg</option>
            <option value="MO">Macao</option>
            <option value="MK">Macedonia, the former Yugoslav Republic of</option>
            <option value="MG">Madagascar</option>
            <option value="MW">Malawi</option>
            <option value="MY">Malaysia</option>
            <option value="MV">Maldives</option>
            <option value="ML">Mali</option>
            <option value="MT">Malta</option>
            <option value="MH">Marshall Islands</option>
            <option value="MQ">Martinique</option>
            <option value="MR">Mauritania</option>
            <option value="MU">Mauritius</option>
            <option value="YT">Mayotte</option>
            <option value="FM">Micronesia, Federated States of</option>
            <option value="MD">Moldova, Republic of</option>
            <option value="MC">Monaco</option>
            <option value="MN">Mongolia</option>
            <option value="ME">Montenegro</option>
            <option value="MS">Montserrat</option>
            <option value="MA">Morocco</option>
            <option value="MZ">Mozambique</option>
            <option value="MM">Myanmar</option>
            <option value="NA">Namibia</option>
            <option value="NR">Nauru</option>
            <option value="NP">Nepal</option>
            <option value="NL">Netherlands</option>
            <option value="NC">New Caledonia</option>
            <option value="NZ">New Zealand</option>
            <option value="NI">Nicaragua</option>
            <option value="NE">Niger</option>
            <option value="NG">Nigeria</option>
            <option value="NU">Niue</option>
            <option value="NF">Norfolk Island</option>
            <option value="MP">Northern Mariana Islands</option>
            <option value="NO">Norway</option>
            <option value="OM">Oman</option>
            <option value="PK">Pakistan</option>
            <option value="PW">Palau</option>
            <option value="PS">Palestinian Territory, Occupied</option>
            <option value="PA">Panama</option>
            <option value="PG">Papua New Guinea</option>
            <option value="PY">Paraguay</option>
            <option value="PE">Peru</option>
            <option value="PH">Philippines</option>
            <option value="PN">Pitcairn</option>
            <option value="PL">Poland</option>
            <option value="PT">Portugal</option>
            <option value="PR">Puerto Rico</option>
            <option value="QA">Qatar</option>
            <option value="RE">Réunion</option>
            <option value="RO">Romania</option>
            <option value="RU">Russian Federation</option>
            <option value="RW">Rwanda</option>
            <option value="BL">Saint Barthélemy</option>
            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
            <option value="KN">Saint Kitts and Nevis</option>
            <option value="LC">Saint Lucia</option>
            <option value="MF">Saint Martin (French part)</option>
            <option value="PM">Saint Pierre and Miquelon</option>
            <option value="VC">Saint Vincent and the Grenadines</option>
            <option value="WS">Samoa</option>
            <option value="SM">San Marino</option>
            <option value="ST">Sao Tome and Principe</option>
            <option value="SA">Saudi Arabia</option>
            <option value="SN">Senegal</option>
            <option value="RS">Serbia</option>
            <option value="SC">Seychelles</option>
            <option value="SL">Sierra Leone</option>
            <option value="SG">Singapore</option>
            <option value="SX">Sint Maarten (Dutch part)</option>
            <option value="SK">Slovakia</option>
            <option value="SI">Slovenia</option>
            <option value="SB">Solomon Islands</option>
            <option value="SO">Somalia</option>
            <option value="ZA">South Africa</option>
            <option value="GS">South Georgia and the South Sandwich Islands</option>
            <option value="SS">South Sudan</option>
            <option value="ES">Spain</option>
            <option value="LK">Sri Lanka</option>
            <option value="SD">Sudan</option>
            <option value="SR">Suriname</option>
            <option value="SJ">Svalbard and Jan Mayen</option>
            <option value="SZ">Swaziland</option>
            <option value="SE">Sweden</option>
            <option value="CH">Switzerland</option>
            <option value="SY">Syrian Arab Republic</option>
            <option value="TW">Taiwan, Province of China</option>
            <option value="TJ">Tajikistan</option>
            <option value="TZ">Tanzania, United Republic of</option>
            <option value="TH">Thailand</option>
            <option value="TL">Timor-Leste</option>
            <option value="TG">Togo</option>
            <option value="TK">Tokelau</option>
            <option value="TO">Tonga</option>
            <option value="TT">Trinidad and Tobago</option>
            <option value="TN">Tunisia</option>
            <option value="TR">Turkey</option>
            <option value="TM">Turkmenistan</option>
            <option value="TC">Turks and Caicos Islands</option>
            <option value="TV">Tuvalu</option>
            <option value="UG">Uganda</option>
            <option value="UA">Ukraine</option>
            <option value="AE">United Arab Emirates</option>
            <option value="GB">United Kingdom</option>
            <option value="UM">United States Minor Outlying Islands</option>
            <option value="UY">Uruguay</option>
            <option value="UZ">Uzbekistan</option>
            <option value="VU">Vanuatu</option>
            <option value="VE">Venezuela, Bolivarian Republic of</option>
            <option value="VG">Virgin Islands, British</option>
            <option value="VI">Virgin Islands, U.S.</option>
            <option value="WF">Wallis and Futuna</option>
            <option value="EH">Western Sahara</option>
            <option value="YE">Yemen</option>
            <option value="ZM">Zambia</option>
            <option value="ZW">Zimbabwe</option>
          </optgroup>
        </select>
      </div>
      
      <div class="col-md-3 form-group">
        <%= label_tag 'product_info[primary_materials]', "Primary Materials:" %>
        <%= text_field_tag :primary_materials, @product_info.primary_materials, class: "form-control" %>
      </div>
      
      <div class="col-md-2">
        <%= label_tag 'product_info[requires_assembly]', "Requires Assembly:" %>
        <%= hidden_field_tag :requires_assembly, @product_info.requires_assembly, class: "form-control requires_assembly" %>
        <select class="form-control requires_assembly_select">
          <option>Yes</option>
          <option>No</option>
        </select>
      </div>
      <div class="col-md-2">
        <%= label_tag 'product_info[lead_time]', "Lead Time:" %>
        <%= hidden_field_tag :lead_time, @product_info.lead_time, class: "form-control lead_time" %>
        <select class="form-control lead_time_select">
          <% if @product_info.lead_time.nil? %>
            <option selected>..</option>
          <% end %>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>
      <div class="col-md-2">
        <%= label_tag 'product_info[lead_time_unit]', "Lead Time Unit:" %>
        <%= hidden_field_tag :lead_time_unit, @product_info.lead_time_unit, class: "form-control lead_time_unit" %>
        <br>
        <select class="form-control lead_time_unit_select">
          <% if @product_info.lead_time_unit.nil? %>
            <option selected>..</option>
          <% end %>
          <option value="Day(s)">Day(s)</option>
          <option value="Week(s)">Week(s)</option>
        </select>
      </div>
    </div> 
    <br>
    <div class="row">
      <div class="col-md-6">
        <%= label_tag 'product_info[care_instructions]', "Care Instructions:" %>  
        <%= text_area_tag :care_instructions, @product_info.care_instructions , class: "form-control care_instructions tinymce" %>
        <script> 
          //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.tinymce.care_instructions",
                statusbar: false,
                menubar: false,
                resize: false,
                setup: function (editor) {
                  editor.on('change', function (e) {  
                    
                  });
                },
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
                plugins: "textcolor"
              });
            } else {
            setTimeout(arguments.callee, 50);
            }
          })();
          //]]>
        </script>      
      </div>
      <div class="col-md-6">
        <%= label_tag 'product_info[shipping_restrictions]', "Shipping Restrictions:" %>  
        <%= text_area_tag :shipping_restrictions, @product_info.shipping_restrictions , class: "form-control shipping_restrictions tinymce" %>
        <script> 
          //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.tinymce.shipping_restrictions",
                statusbar: false,
                menubar: false,
                resize: false,
                setup: function (editor) {
                  editor.on('change', function (e) {  
                    
                  });
                },
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
                plugins: "textcolor"
              });
            } else {
            setTimeout(arguments.callee, 50);
            }
          })();
          //]]>
        </script>      
      </div>
      <div class="col-md-6">
        <%= label_tag 'product_info[return_policy]', "Return Policy:" %>  
        <%= text_area_tag :return_policy, @product_info.return_policy , class: "form-control return_policy tinymce" %>
        <script> 
          //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.tinymce.return_policy",
                statusbar: false,
                menubar: false,
                resize: false,
                setup: function (editor) {
                  editor.on('change', function (e) {  
                    
                  });
                },
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
                plugins: "textcolor"
              });
            } else {
            setTimeout(arguments.callee, 50);
            }
          })();
          //]]>
        </script>      
      </div>
      <div class="col-md-6 form-group">
        <label>Shipping Method</label>
        <select class="form-control shipping_method_select" name="shipping_method_id">
          <option value="0">-Select Shipping Method-</option>
          <% @shipping_methods.each do |shipping_method| %>
          <option value="<%= shipping_method.id %>"><%= shipping_method.name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="images-container">
      <div class="row">
        <div class="col-md-12">
          <h4><strong>Product Sketches (SketchBuilder):</strong></h4>
          <div class="dropzone-previews dropzone"> 
            <div class="dz-default dz-message"><span>Drop files here to upload</span>
            </div>
          </div>  
         </div>
      </div><br>  
    </div>

    <div class="row">
      <div class="col-md-12">
        <button type="submit" name="commit" class="btn btn-success" style="width:100%;">
          <span>Save product information</span> 
          <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
      </div>
    </div>
    <hr>
  <% end %>

  <div class="variants-container">
  
    <h3>Product Variants</h3>
    <div class="row search_label">
      <div class="col-md-12">
        <h4>
          <strong>Filter and Search Variants</strong>
          <span class="glyphicon glyphicon-menu-down search_area_toggle"></span>
          <span class="glyphicon glyphicon-menu-up search_area_toggle" style="display:none;"></span>
        </h4>
      </div>
    </div>
    <div class="search_form row" style="display:none;">
      <div class="form-group col-md-6">
        <%= label_tag 'sku', 'Variant SKU' %>
        <%= text_field_tag :sku_like, nil, :class => 'form-control' %>
      </div>
      <div class="form-group col-md-6">
        <%= label_tag 'per_page', 'Variants Per Page' %>
        <select class="form-control" name="per_page">
          <option value="10">10 Variants Per Page</option>
          <option value="25">25 Variants Per Page</option>
          <option value="50">50 Variants Per Page</option>
          <option value="100">100 Variants Per Page</option>
          <option value="-1">All Variants</option>
        </select>
      </div>
      <% @options_with_values.each do |option_name, option_values| %>
        <div class="col-md-6 form-group">
          <%= label_tag option_name %>
          <select class="form-control search_option_value">
            <option value=0>-Select <%= option_name %>-</option>
            <% option_values.each do |option_value| %>
              <option value=<%= option_value[0] %>><%= option_value[1] %></option>
            <% end %>
          </select>
        </div>
      <% end %>
      <input id="search_option_values_ids" name="search_option_values_ids" type="hidden" value="[]">
      <div class="col-md-12">
        <%= submit_tag "Search", :name => 'search', :class => "btn btn-info" %>
      </div>
    </div>
    <br>
  
    <div class="variants_actions row">
      <div class="variants_form_actions col-md-4">
        <button class="btn btn-warning cancel-adding-variants" style="display:none; width:100% !important">
          <span>Canel adding product variants</span>
          <span class="glyphicon glyphicon-minus-sign"></span>
        </button>
        <button  class="btn btn-success add-variants" style="width:100% !important">
          <span>Add product variants</span>
          <span class="glyphicon glyphicon-plus-sign"></span>
        </button>  
      </div>
      <div class="col-md-4">
        <button  class="btn btn-warning delete_selected_variants" style="width:100% !important" disabled>
          <span>Delete selected product variants</span>
          <span class="glyphicon glyphicon-remove-sign"></span>
        </button><br>      
      </div>
      <div class="col-md-4 delete_all_variants_button">
        <button class="btn btn-danger delete_all_variants" style="width:100% !important">
          <span>Delete all product variants</span>
          <span class="glyphicon glyphicon-remove-sign"></span>
        </button><br>      
      </div>
      <div class="assign_3d_image_form">
        <div class="col-md-4 text-center">
          <br>
          <span>Assign image set to selected variants</span>
        </div>
        
        <div class="col-md-4">
          <br>
          <select class="form-control select_3d_image">
            <option value="0">-Select Image Set-</option>
            <% @three_sixty_images.each do |three_sixty_image| %>
            <option value="<%= three_sixty_image.id %>">
              <span><%= three_sixty_image.title %></span>
            </option>
            <% end %>
          </select>
        </div>
        
        <div class="col-md-4">
          <br>
          <button class="btn btn-info assign_3d_image" style="width:100%">
            <span>Confirm Assignment</span>
          </button>
        </div>
      </div>
      <div class="change_variants_state">
        <div class="col-md-4 text-center">
          <br>
          <span>Change state of selected variants</span>
        </div>
        <div class="col-md-4">
          <br>
          <button class="btn btn-success turn_on_variants" style="width:100%">
            <span>Turn On Variants</span>
          </button>
        </div>
        <div class="col-md-4">
          <br>
          <button class="btn btn-info turn_off_variants" style="width:100%">
            <span>Turn Off Variants</span>
          </button>
        </div>
      </div>
      
    </div>
    
    <div class="variants_form" style="display:none;">
      <% @product_options.each do |opt| %>
     
        <div class="option_values_row">
          <h4 class="option-name">Select <%= opt.name.pluralize %></h4>
          <input class="option-name" type="hidden" value="<%= opt.name %>"/>
          <% opt.option_values.each do |value| %>
            <span class="option_values">
              <label for="<%= value.value %>"><%= value.value %></label>
              <input type="checkbox" class="option_value" value=0 />
            </span>
          <% end %>
          <span class="number_of_values_selected">0</span>
          <span><%= opt.name.pluralize %> selected</span>
          <input name="options_selected" class="options_selected" value="0" type="hidden">
        </div> 
      <% end %>
      <p class="variants-number-notice">
        <span class="number_of_variants">0</span>
        <span> variants will be created </span>
      </p>
      <input type='button' value="Preview product variants" onclick="previewVariants()" class="btn btn-primary preview-variants"/><br>
        <%= hidden_field_tag :variants, {} %>
      <div class="preview_product_variants">
    
      </div>
    </div>
  
    <div class="current-variants">
      <% if params[:filtering_params].nil? %> 
      <h3>Existing Variants (currently has <span class="current_number_of_variants"><%= @variants_count %></span> variants):</h3>  
      <% else %>
      <h3>Existing Variants (<span class="current_number_of_variants"><%= @variants_count %></span> match your selection ):</h3>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <input class="select_all_variants" type="checkbox">  
          <span class="select_all"><strong>Select All Variants</strong></span>
        </div>
      </div> 
      <% @variants.each do |variant| %>
        <div class="variant-info row">
          <div class="col-md-1">
            <input type="checkbox" class="select_for_action" data-variant-id="<%= variant.id %>">
            
          </div>
          <div class="col-md-4 options_and_values">
            <% variant.option_values.each do |opt_val| %>
              <div class="option_value_wrapper">
                <span class="option-name-and-value" >
                  <strong><%= opt_val.option.name %></strong> : <%= opt_val.value %> 
                </span>  
              </div>
              
            <% end %>
          </div>
          
          <div class="col-md-2">
            <strong>Price: </strong><%= "#{((variant.price.nil?) or (variant.price == '')) ? "not set" : "$ " + variant.price.to_s}" %>  
          </div>
          
          <div class="col-md-2">
            <strong>SKU: </strong><%= "#{((variant.sku.nil?) or (variant.sku == '')) ? "not set" : variant.sku}" %>  
          </div>
          
          <div class="col-md-3 variant-actions">
            <%= link_to edit_product_variant_url(:id => variant.id, :variant_id => variant.id, :product_id => @product.id, :protocol => 'https'), :style => "width: 100% !important", class: "btn btn-primary" do %>
              <span>Edit Variant</span>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %>
            <br>
            <%= link_to product_variant_url(:product_id => @product.id, :variant_id => variant.id, :protocol => 'https', :_method => 'delete'), 
                        { :method => :delete, class: "btn btn-danger", style: "width: 100% !important", data: { confirm: 'Are you sure, you want to delete this product variant?' } } do %>
              <span>Delete Variant</span>
              <span class="glyphicon glyphicon-remove-sign"></span>
            <% end %>                                          
            <br>
            <button class="make_main_variant btn btn-warning" style="width: 100% !important" data-variant-id="<%= variant.id %>">
              <span>Make main variant</span>            
              <span class="glyphicon glyphicon-ok-sign"></span>
            </button>                              
            <% if variant.main_variant %>
              <div class="main_variant_label"><strong> Main produt variant</strong></div>
            <% end %>
            
            <input class="variant_state" type="checkbox" <%= variant.state ? "checked" : "" %> data-variant_id="<%= variant.id %>"></input>
          </div>
        
        </div>
      <% end %>
      <div class="loader_image_wrapper text-center" style="display:none;">
        <%= image_tag("loader.gif") %>
      </div>
    </div>
    <br>
    <div class="paginator" style="text-align:center;">
      <%= paginate @variants %>
    </div>
  
    
  </div><br>





</div>

<div class="options-container" id="tabs-2">
  
  <h2>OPTIONS</h2>
  
  <h3>Options order and grouping</h3>
  <table class="table table-bordered table-striped table-hover options_order" style="width:auto; text-align:center;">
    <thead>
      <th></th>
      <th>Option order number</th>
      <th>Option name</th>
      <th>Option group</th>
    </thead>
    <% @options.order(:order_number).each do |option| %>
      <tr>
        <td>
          <a href="#" class="up">Up</a>
          <a href="#" class="down">Down</a>
        </td>
        <td><%= option.order_number %></td>
        <td><%= option.name %></td>
        <td>
          <select class="form-control option_group_select">
            <option value="0" disabled>
              -Select Option Group-
            </option>
            <% @option_groups.each do |option_group| %>
              <option value=<%= option_group.id %>>
                <%= option_group.name %>
              </option>
            <% end %>
          </select>
        </td>
      </tr>
    <% end %>
  </table>
  
  <input type="button" id="saveOptionsOrderAndGroups" class="btn btn-success" value="Save order and option groups">
  
  <h3>Option groups:</h3>
  <div class="row option_groups">
    <% @option_groups.each do |option_group| %>
      <div class="col-md-2 option_group">
        <span class="option_group_name">
          <%= option_group.name %>
        </span>
        <span class="delete_option_group">
          <%= link_to 'X', option_group_url(option_group, :protocol => 'https'), 
                            { :method => :delete, class: "btn btn-danger", 
                            data: { confirm: 'Are you sure, you want to delete this option group?' } } %>
        </span>
      </div>
      
    <% end %>
  </div><br>
  <input type="button" id="add_option_group" class="btn btn-info" value="Add new option group">
  <div id="option_group_form" class="row form-group">
    <div class="col-md-4">
      <label for="option_group_name">Option group name</label>
      <input id="option_group_name" class="form-control" type="text"><br>
      <input id="save_option_group" class="btn btn-success" type="button" value="Save option group">
    </div>
  </div>
  
  <h3>All available options:</h3>
  
  <div class="row options">
    <% @options.each do |opt| %>
      <div class="col-md-4" id="option<%= opt.id %>">
        <p>Option <span class="option_name"><%= opt.name %></span> has <%= opt.option_values.count %> values:</p>
        <p class="option_values">
          <% opt.option_values.each do |value| %>
            <% unless value.image.nil? or value.image.url == "" or value.image.url.include?("missing") %>
              <img style="width:20px" src="<%= value.image.url.include?("missing") ? "" : value.image.url(:thumb) %>">
            <% end %>
            <%=value.value %>,
          <% end %>
        </p>
        <%= link_to 'Delete option', option_url(:option_id => opt.id, :protocol => 'https',  :product_id => @product.id), 
                            { :method => :delete, class: "btn btn-danger", 
                            data: { confirm: 'Are you sure, you want to delete this option?' } } %>     
        <%= link_to 'Edit option', { :controller => "options", :action => "edit", :product_id => @product.id, :option_id => opt.id }, { class: "btn btn-info" } %>
        <% if @product_options.include? opt %>
          <input type="button" class="btn btn-success" style="display:none;" value='Assign to product' onclick="assignOptionToProduct(<%= opt.id %>)" />
        <% else %>
          <input type="button" class="btn btn-success"  value='Assign to product' onclick="assignOptionToProduct(<%= opt.id %>)" />
        <% end %>
        
        <input type="button" class="btn btn-warning" value='Unassign from this product' onclick="unassignOptionFromProduct(<%= opt.id %>)" />
      </div>
    <% end %><br>
    
    
  </div><br>
  
  <%= link_to "Add new option", new_option_path(:product_id => @product.id), class: "btn btn-primary" %><br><br>    
  
  <h3> Product has <%= @product_options.count %> options:</h3>    

  <div class="row product_options">
    <% @product_options.each do |opt| %>
      <div class="col-md-4" id="product-option<%= opt.id %>">
        <p>Option <%= opt.name %> has <%= opt.option_values.count %> values:</p>
        <p class="option_values">
          <% opt.option_values.each do |value| %> 
          <span>
            <% unless value.image.nil? or value.image.url == "" or value.image.url.include?("missing") %>
              <img style="width:20px" src="<%= value.image.url.include?("missing") ? "" : value.image.url(:thumb) %>">
            <% end %>
            <%=value.value %>,
          </span>

          <% end %>
        </p>
        <%= link_to 'Delete option', { :controller => "options", :action => "destroy", :product_id => @product.id, :option_id => opt.id }, 
                            { :method => :delete, class: "btn btn-danger", 
                            data: { confirm: 'Are you sure, you want to delete this option?' } } %>     
        <%= link_to 'Edit option', { :controller => "options", :action => "edit", :product_id => @product.id, :option_id => opt.id }, { class: "btn btn-info" } %>                            
        <input type="button" class="btn btn-success" value='Assign to product' onclick="assignOptionToProduct(<%= opt.id %>)" />
        <input type="button" class="btn btn-warning" value='Unassign from this product' onclick="unassignOptionFromProduct(<%= opt.id %>)" />
      </div>
    <% end %>
  
  </div><br>

  
  
</div>
</div>


<form id="product-images" action="" method="post" name="product-images-dropzone">
  <input id="image" style="display:none;" name="image" type="file">
</form>
</div>

