<script type="text/javascript">
  $(document).ready(function(){
    $('.container').css({'display': 'table'});
    $('.row').css({'display': 'table-row'});  
    $('.row').css({'margin-bot' : '10px'});
    $('.row > div').css({'display': 'table-cell'});
    
  })
</script>
<div class="container">
  <h3>Products</h3>
    <div class="row">
      <div class="col-md-1">Product Title</div>
      <div class="col-md-2">Product Image</div>
      <div class="col-md-2">Product Description</div>
      <div class="col-md-1">Number of Product Variants</div>
      <div class="col-md-1">Collections count</div>
      <div class="col-md-1"></div>
    </div>

   <% @products.each do |product| %>
      <div class="row">
        <div class="col-md-1">
          <%= link_to product.title, edit_product_url(product.id, :protocol => 'https') %> <!--#{ :controller => "products", :action => "edit", :id => product.id , :protocol => 'https'} -->
        </div>
        <div class="col-md-2">
          <%= image_tag(@images.where(product_id: product.id).first.image.url, style: "width:100px;") unless @images.where(product_id: product.id).empty? %>
        </div>
        <div class="col-md-2" style="height:150px; overflow:hidden;">
          <%= render html: product.body_html.html_safe unless product.body_html.nil? %>
        </div>
        <div class="col-md-1">
          Product has <%= @variants.where(product_id: product.id).count %> variants
        </div>
        <div class="col-md-1">
          Product belongs to <%= product.collections.count %> collections 
        </div>
        <div class="col-md-2">
          <%= link_to 'Delete', product_url(product.id, :protocol => 'https'), 
                                { :method => :delete, 
                                class: "btn btn-danger", style: "width: 80%;",
                                data: { confirm: 'Are you sure, you want to delete this product?' } } %>      
        </div>
      </div>
    <% end %>
    
    

  <%= link_to 'Add new product', new_product_url(:protocol => 'https'), class:"btn btn-info" %> <br><br>
  <%= form_tag import_products_url(:protocol => 'https'), multipart: true do %>
    <span class="btn btn-default btn-file">
      <%= file_field_tag :file %>  
    </span>
    
    <%= submit_tag "Import product", class: "btn-info btn" %>
  <% end %> 

  <div class="paginator" style="text-align:center;">
    <%= paginate @products %>
  </div>
</div>
