<h3>Products</h3>
<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= img_tag(product.image.src) unless product.image.nil? %>
        </td>
        <td>
          Product has <%= product.variants.count %> variants
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Main Page', root_url %>