<script type="text/javascript">
  $(document).ready(function(){
    $('.container').css({'display': 'table'});
    $('.row').css({'display': 'table-row'});  
    $('.row').css({'margin-bot' : '10px'});
    $('.row > div').css({'display': 'table-cell'});
    
  })
</script>
<div class="container">
  <h3>Products</h3>
    <div class="row">
      <div class="col-md-2">Product Title</div>
      <div class="col-md-2">Product Image</div>
      <div class="col-md-2">Product Description</div>
      <div class="col-md-2">Number of Product Variants</div>
      <div class="col-md-2"></div>
    </div>
    

    <% @products.each do |product| %>
      <div class="row">
        <div class="col-md-2">
          <%= link_to product.title, { :controller => "products", :action => "edit", :id => product.id }  %>
        </div>
        <div class="col-md-2">
          <%= image_tag(@images.where(product_id: product.id).first.image.url, style: "width:100px;") unless @images.where(product_id: product.id).empty? %>
        </div>
        <div class="col-md-2">
          <%= render html: product.body_html.html_safe unless product.body_html.nil? %>
        </div>
        <div class="col-md-2">
          Product has <%= @variants.where(product_id: product.id).count %> variants
        </div>
        <div class="col-md-2">
          <%= link_to 'Delete', { :controller => "products", :action => "destroy", :id => product.id }, 
                                { :method => :delete, 
                                class: "btn btn-danger", style: "width: 80%;",
                                data: { confirm: 'Are you sure, you want to delete this product?' } } %>      
        </div>
      </div>
    <% end %>
    
    

<%= link_to 'Add new product', new_product_path, class:"btn btn-info" %>  
</div>
