<script type="text/javascript">
  $(document).ready(function(){
    $('.container').css({'display': 'table'});
    $('.row.products_table').css({'display': 'table-row'});  
    $('.row.products_table').css({'margin-bot' : '10px'});
    $('.row.products_table > div').css({'display': 'table-cell'});
    
    $( "#tabs" ).tabs({
      collapsible: true
    }); 
    
    // slider images params
    
    $('#save_product_type').hide();
    
    $('#add_new_product_type').on('click', function(){
      $('<div class="form-group col-md-4">' +
        '<label for="product_type">Product type</label>' +
        '<input id="product_type" type="text" class="form-control">' +
      '</div>' + 
      '<div class="form-group col-md-4">' +
        '<label for="base_size_ratio">Base size ratio</label>' +
        '<input id="base_size_ratio" type="number" class="form-control">' +
      '</div>').appendTo('.add_new_product_type_form');
      $(this).hide();
      $('#save_product_type').show();
    });
    $('#save_product_type').on('click', function(){
      var product_type = $('#product_type').val();
      var base_size_ratio = $('#base_size_ratio').val();
      $.ajax({
        url: '<%= slider_images_params_url(:protocol => 'https') %>',
        method: 'POST',
        data: {
          product_type: product_type,
          base_size_ratio: base_size_ratio
        },
        success: function(response){
          $('#save_product_type').hide();
          $('#add_new_product_type').show();
          $('.add_new_product_type_form').empty(); 
          $('<div class="row slider_images_param_row">' +
              '<div class="col-md-4">' + product_type + '</div>' + 
              '<div class="col-md-4">' + base_size_ratio + '</div>' +
              '<div class="col-md-2">' + 
                '<input class="btn btn-danger delete_slider_images_param" data-slider_images_param_id="' + response["slider_images_param_id"] + '" value="Delete">' +
              '</div>' +  
            '</div>').appendTo('.product_types_table');
            $('.delete_slider_images_param:last').click(function(){
              var this_slider_images_param = $(this);
              var slider_images_param_id = this_slider_images_param.attr('data-slider_images_param_id');
              $.ajax({
                url: '<%= slider_images_params_url(:protocol => 'https') %>/' + slider_images_param_id,
                method: 'POST',
                data: {
                  _method: 'DELETE',
                  slider_images_param_id: slider_images_param_id
                },
                success: function(){
                  this_slider_images_param.parents('.slider_images_param_row').remove();
                }
              })
            });
        }
      });
    });
    $('.delete_slider_images_param').click(function(){
      var this_slider_images_param = $(this);
      var slider_images_param_id = this_slider_images_param.attr('data-slider_images_param_id');
      $.ajax({
        url: '<%= slider_images_params_url(:protocol => 'https') %>/' + slider_images_param_id,
        method: 'POST',
        data: {
          _method: 'DELETE',
          slider_images_param_id: slider_images_param_id
        },
        success: function(){
          this_slider_images_param.parents('.slider_images_param_row').remove();
        }
      })
    });
      
    
    // quick edit product
    $('.quick_edit_product').change(function(){
      var product_id = parseInt($(this).find(':selected').val());
      var link_to_edit_product = "<%= products_url(:protocol => 'https')  %>/" + product_id + '/edit';
      window.location.href = link_to_edit_product;
    });
    //initiate 360 image parametrs
    $('#three_sixty_speed').val(5);
    $('#three_sixty_rotations_count').val(5);  

    //update all 360 images attributes
    $('#update_three_sixty_parameters').on('click', function(){
      var three_sixty_speed = $('#three_sixty_speed').val();
      var three_sixty_rotations_count = $('#three_sixty_rotations_count').val();
      var three_sixty_clockwise = $('#three_sixty_clockwise').prop('checked');
      
      $.ajax({
        url: '<%= update_three_sixty_parameters_url(:protocol => 'https') %>',
        method: 'POST',
        data: {
          _method: 'PUT',
          three_sixty_speed: three_sixty_speed,
          three_sixty_rotations_count: three_sixty_rotations_count,
          three_sixty_clockwise: three_sixty_clockwise
        },
        success: function(){
          alert('Parameters of all 3D images were updated.');
        }
      })
    });
    
    //export products form
    
    $('.select_for_action').change(function(){
      $('.selected_for_export').val('');
      var product_ids = [];
      $('.select_for_action').each(function(){
        this_checkbox = $(this);
        if (this_checkbox.is(':checked')) {
          var product_id = this_checkbox.data('product-id');
          product_ids.push(product_id);
          var product_title = this_checkbox.parent().find('.product_title').text();
          var selected_for_export = $('.selected_for_export').val();
          $('.selected_for_export').val(selected_for_export + product_title + ', ');  
        }
      if ($('.selected_for_export').val() == '') {
        $('#export_products').prop("disabled", true);
        $('.invitation_to_select').show();
      } else {
        $('#export_products').prop("disabled", false);
        $('.invitation_to_select').hide();
      }
      }) 
      $('.selected_for_export_ids').val(product_ids);
    });
    $('#export_products').on('click', function(){
      var product_ids = $('.selected_for_export_ids').val();
      $.ajax({
        url: "<%= export_products_url(:protocol => 'https') %>",
        method: 'GET',
        data: { product_ids },
        success: function(){
          document.location.href = '<%= asset_url('assets/export.xls')[4] == 's' ? asset_url('assets/export.xls') : asset_url('assets/export.xls').insert(4, 's') %>';  
        }
        
      })
      
    })

  })
</script>
<div class="container">
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Products listing</a></li>
      <li><a href="#tabs-2">Change 360 viewer parameters</a></li>
      <li><a href="#tabs-3">Slider images scale managment</a></li>
    </ul>
    <div id="tabs-1" class="products_listing">      
      <h3>Products</h3>
        <div class="row">
          <div class="col-md-4">
            <label>Quick product edit selection</label>
            <select class="form-control quick_edit_product">
              <option val=0>-Select product to edit-</option>
              <% @all_products.each_with_index do |product, index| %>
                <option value=<%= product.id %>>
                  <%= product.title %>
                </option>
              <% end %>
            </select>
          </div>
        </div><br>
        <div class="row products_table">
          <div class="col-md-1">Product Title</div>
          <div class="col-md-2">Product Image</div>
          <div class="col-md-2">Product Description</div>
          <div class="col-md-1">Number of Product Variants</div>
          <div class="col-md-1">Collections count</div>
          <div class="col-md-1"></div>
          
        </div>

       <% @products.each do |product| %>
          <div class="row products_table">
            <div class="col-md-1">
              <input type="checkbox" class="select_for_action" data-product-id="<%= product.id %>">
              <%= link_to product.title, edit_product_url(product.id, :protocol => 'https'), :class => "product_title" %> <!--#{ :controller => "products", :action => "edit", :id => product.id , :protocol => 'https'} -->
            </div>
            <div class="col-md-2">
              <%= image_tag(product.images.first.src, style: "width:100px;") unless product.images.empty? %>
            </div>
            <div class="col-md-2" style="height:150px; overflow:hidden;">
              <%= render html: product.body_html.html_safe unless product.body_html.nil? %>
            </div>
            <div class="col-md-1">
              Product has <%= @variants.where(product_id: product.id).count %> variants
            </div>
            <div class="col-md-1">
              Product belongs to <%= product.collections.count %> collections 
            </div>
            <div class="col-md-2">
              <%= link_to 'Delete', product_url(product.id, :protocol => 'https'), 
                                    { :method => :delete, 
                                    class: "btn btn-danger", style: "width: 80%;",
                                    data: { confirm: 'Are you sure, you want to delete this product?' } } %>      
              
            </div>
          </div>
        <% end %>
    
    

      <%= link_to 'Add new product', new_product_url(:protocol => 'https'), class:"btn btn-info" %> <br><br>
      <%= form_tag import_products_url(:protocol => 'https'), multipart: true do %>
        <span class="btn btn-default btn-file">
          <%= file_field_tag :file %>  
        </span>
    
        <%= submit_tag "Import product", class: "btn-info btn" %>
      <% end %><br>
      <div id="export form" class="row">
        <!--<%= link_to "Export products", export_products_url(:protocol => 'https'), class: "btn btn-info" %>-->
        <div class="invitation_to_select"> Select products to be exported</div>
        <button id="export_products" class="btn btn-info col-md-3" disabled>Export products</button>
        <div class="col-md-6">
          <input type="text" placeholder="Selected products" class="form-control selected_for_export" disabled>  
        </div>
        
        <input type="hidden" class="form-control selected_for_export_ids">
      </div>
      <div class="paginator" style="text-align:center;">
        <%= paginate @products %>
      </div>  
    </div>
  
  
    <div id="tabs-2" class="three_sixty_parameters">
      <div id="three_sixty_parameters_form" class="row">
        <div class="col-md-6 form-group">
          <label for="three_sixty_speed">Rotation speed(number of complete rotations per 10 seconds)</label>
          <input id="three_sixty_speed" class="form-control" type="number" max="10" min="1">
        </div>
        <div class="col-md-6 form-group">
          <label for="three_sixty_rotations_count">Rotations count</label>
          <input id="three_sixty_rotations_count" class="form-control" type="number" min="1">
        </div>
        <div class="col-md-12 form-group">
          <label for="three_sixty_clockwise">Reversed rotation direction</label>
          <input id="three_sixty_clockwise" class="form" type="checkbox">
        </div>
        <div class="col-md-4">
          <input id="update_three_sixty_parameters" class="btn btn-info" type="button" value="Update all 3D images parameters">
        </div>
      </div>
    </div>
    
    <div id="tabs-3" class="products_listing">      
      <div class="product_types_table">
        <div class="row">
          <div class="col-md-4">
            Product type
          </div>
          <div class="col-md-4">
            Base size ratio
          </div>
        </div>
        <% @slider_images_params.each do |param| %>
          <div class="slider_images_param_row row">
            <div class="col-md-4">
              <%= param.product_type %>
            </div>
            <div class="col-md-4">
              <%= param.base_size_ratio %>
            </div>
            <div class="col-md-2">
              <input class="delete_slider_images_param btn btn-danger" value="Delete" data-slider_images_param_id=<%= param.id %>>
            </div>
          </div>
        <% end %>
      </div>
      <div class="add_new_product_type_form row">
        
      </div>
      <div class="row">
        <div class="col-md-2">
          <input id="add_new_product_type" class="btn btn-info" value="Add new product type">  
        </div>
        
        <div class="col-md-2">
          <input id="save_product_type" class="btn btn-primary" value="Save product type">  
        </div>
      </div>
      
    </div>

  </div>
  
</div>
