<h3>Products</h3>
<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= image_tag(product.image.src) unless product.image.nil? %>
        </td>
        <td>
          Product has <%= product.variants.count %> variants
        </td>
        <td>
          <%= link_to 'Delete', { :controller => "products", :action => "destroy", :id => product.id }, class: "btn btn-danger", style: "width: 80%;",
                               data: { confirm: 'Are you sure, you want to delete this product?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Main Page', root_url %>
<%= link_to 'Add new product', new_product_path %>