<script type="text/javascript">
  $(document).ready(function(){
    $('.container').css({'display': 'table'});
    $('.row.products_table').css({'display': 'table-row'});  
    $('.row.products_table').css({'margin-bot' : '10px'});
    $('.row.products_table > div').css({'display': 'table-cell'});
    
    $( "#tabs" ).tabs({
      collapsible: true
    });  
    
    //initiate 360 image parametrs
    $('#three_sixty_speed').val(5);
    $('#three_sixty_rotations_count').val(5);  

    //update all 360 images attributes
    $('#update_three_sixty_parameters').on('click', function(){
      var three_sixty_speed = $('#three_sixty_speed').val();
      var three_sixty_rotations_count = $('#three_sixty_rotations_count').val();
      var three_sixty_clockwise = $('#three_sixty_clockwise').prop('checked');
      
      $.ajax({
        url: '<%= update_three_sixty_parameters_url(:protocol => 'https') %>',
        method: 'POST',
        data: {
          _method: 'PUT',
          three_sixty_speed: three_sixty_speed,
          three_sixty_rotations_count: three_sixty_rotations_count,
          three_sixty_clockwise: three_sixty_clockwise
        },
        success: function(){
          alert('Parameters of all 3D images were updated.');
        }
      })
    });
    
    //export products form
    
    $('.select_for_action').change(function(){
      $('.selected_for_export').val('');
      var product_ids = [];
      $('.select_for_action').each(function(){
        this_checkbox = $(this);
        if (this_checkbox.is(':checked')) {
          var product_id = this_checkbox.data('product-id');
          product_ids.push(product_id);
          var product_title = this_checkbox.parent().find('.product_title').text();
          var selected_for_export = $('.selected_for_export').val();
          $('.selected_for_export').val(selected_for_export + product_title + ', ');  
        }
      if ($('.selected_for_export').val() == '') {
        $('#export_products').prop("disabled", true);
        $('.invitation_to_select').show();
      } else {
        $('#export_products').prop("disabled", false);
        $('.invitation_to_select').hide();
      }
      }) 
      $('.selected_for_export_ids').val(product_ids);
    });
    $('#export_products').on('click', function(){
      var product_ids = $('.selected_for_export_ids').val();
      $.ajax({
        url: "<%= export_products_url(:protocol => 'https') %>",
        method: 'GET',
        data: { product_ids },
        success: function(){
          document.location.href = '<%= asset_url('assets/export.xls')[4] == 's' ? asset_url('assets/export.xls') : asset_url('assets/export.xls').insert(4, 's') %>';  
        }
        
      })
      
    })

  })
</script>
<div class="container">
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Products listing</a></li>
      <li><a href="#tabs-2">Change 360 viewer parameters</a></li>
    </ul>
    <div id="tabs-1" class="products_listing">
      <h3>Products</h3>
        <div class="row">
          <div class="col-md-1">Product Title</div>
          <div class="col-md-2">Product Image</div>
          <div class="col-md-2">Product Description</div>
          <div class="col-md-1">Number of Product Variants</div>
          <div class="col-md-1">Collections count</div>
          <div class="col-md-1"></div>
          
        </div>

       <% @products.each do |product| %>
          <div class="row products_table">
            <div class="col-md-1">
              <input type="checkbox" class="select_for_action" data-product-id="<%= product.id %>">
              <%= link_to product.title, edit_product_url(product.id, :protocol => 'https'), :class => "product_title" %> <!--#{ :controller => "products", :action => "edit", :id => product.id , :protocol => 'https'} -->
            </div>
            <div class="col-md-2">
              <%= image_tag(product.images.first.src, style: "width:100px;") unless product.images.empty? %>
            </div>
            <div class="col-md-2" style="height:150px; overflow:hidden;">
              <%= render html: product.body_html.html_safe unless product.body_html.nil? %>
            </div>
            <div class="col-md-1">
              Product has <%= @variants.where(product_id: product.id).count %> variants
            </div>
            <div class="col-md-1">
              Product belongs to <%= product.collections.count %> collections 
            </div>
            <div class="col-md-2">
              <%= link_to 'Delete', product_url(product.id, :protocol => 'https'), 
                                    { :method => :delete, 
                                    class: "btn btn-danger", style: "width: 80%;",
                                    data: { confirm: 'Are you sure, you want to delete this product?' } } %>      
              
            </div>
          </div>
        <% end %>
    
    

      <%= link_to 'Add new product', new_product_url(:protocol => 'https'), class:"btn btn-info" %> <br><br>
      <%= form_tag import_products_url(:protocol => 'https'), multipart: true do %>
        <span class="btn btn-default btn-file">
          <%= file_field_tag :file %>  
        </span>
    
        <%= submit_tag "Import product", class: "btn-info btn" %>
      <% end %><br>
      <div id="export form" class="row">
        <!--<%= link_to "Export products", export_products_url(:protocol => 'https'), class: "btn btn-info" %>-->
        <div class="invitation_to_select"> Select products to be exported</div>
        <button id="export_products" class="btn btn-info col-md-3" disabled>Export products</button>
        <div class="col-md-6">
          <input type="text" placeholder="Selected products" class="form-control selected_for_export" disabled>  
        </div>
        
        <input type="hidden" class="form-control selected_for_export_ids">
      </div>
      <div class="paginator" style="text-align:center;">
        <%= paginate @products %>
      </div>  
    </div>
  
  
    <div id="tabs-2" class="three_sixty_parameters">
      <div id="three_sixty_parameters_form" class="row">
        <div class="col-md-6 form-group">
          <label for="three_sixty_speed">Rotation speed(number of complete rotations per 10 seconds)</label>
          <input id="three_sixty_speed" class="form-control" type="number" max="10" min="1">
        </div>
        <div class="col-md-6 form-group">
          <label for="three_sixty_rotations_count">Rotations count</label>
          <input id="three_sixty_rotations_count" class="form-control" type="number" min="1">
        </div>
        <div class="col-md-12 form-group">
          <label for="three_sixty_clockwise">Reversed rotation direction</label>
          <input id="three_sixty_clockwise" class="form" type="checkbox">
        </div>
        <div class="col-md-4">
          <input id="update_three_sixty_parameters" class="btn btn-info" type="button" value="Update all 3D images parameters">
        </div>
      </div>
    </div>
  </div>
  
</div>
