<script type="text/javascript">

$(document).ready(function () {
  Dropzone.autoDiscover = false;
  $("#my-awesome-dropzone").dropzone({ 
    autoProcessQueue: false,
    uploadMultiple: true,
    parallelUploads: 100,
    maxFiles: 100,
    paramName: 'images',
    accept: function(file, done){
      reader = new FileReader();
      reader.onload = handleReaderLoad;
      reader.readAsDataURL(file);
      function handleReaderLoad(evt) {
        var images = document.getElementById("images")
                             .getAttribute('value');
        if (images === null) {
          images = "";
        }
        document.getElementById("images")
                .setAttribute('value', images + ',' + evt.target.result.split(',')[1]);
      }
      done();  
    },

    init: function() {
      var myDropzone = this;

    
      this.on("sendingmultiple", function() {
      
      });
      this.on("successmultiple", function(files, response) {
      
      });
      this.on("errormultiple", function(files, response) {
      
      });
    }

  });
});
</script>





<div class="container">
  <%= form_tag products_path, method: "post" do %>
    <div class="row">
  
      <div class="col-md-12 form-group">
        <%= label_tag 'product[title]', "Product title:" %>
        <%= text_field_tag :title, nil, class: "form-control" %>
      </div>

    </div>  

    <div class="row">
      <div class="col-md-12 form-group">
        <%= label_tag 'product[body_html]', "Product description:" %>
        <%= text_area_tag :body_html, nil, class: "tinymce form-control" %>
        <%= tinymce %>      
      </div>
   </div>

    <div class="row">
  
      <div class="col-md-4 form-group">
        <%= label_tag 'product[type]', "Product type:" %>
        <%= text_field_tag :product_type, nil, class: "form-control" %>
      </div>
  
      <div class="col-md-4 form-group">
        <%= label_tag 'product[published_scope]', "Product published scope:" %>
        <%= text_field_tag :published_scope, nil, class: "form-control" %>
      </div>
  
      <div class="col-md-4 form-group">
        <%= label_tag 'product[vendor]', "Product vendor:" %>
        <%= text_field_tag :vendor, nil, class: "form-control" %>
      </div>

    </div>  

    <div class="row">
      <div class="col-md-2">
        <%= submit_tag "Save and add extra information", :class => "btn btn-success" %>
      </div>
    </div>

    <div class="row">
      <input type="hidden" id="images" name="images"/> 
    </div>
  <% end %>  
</div>
