<script type="text/javascript">

$(document).ready(function () {
  Dropzone.autoDiscover = false;
  $("#my-awesome-dropzone").dropzone({ 
    autoProcessQueue: false,
    uploadMultiple: true,
    parallelUploads: 100,
    maxFiles: 100,
    paramName: 'images',
    accept: function(file, done){
      reader = new FileReader();
      reader.onload = handleReaderLoad;
      reader.readAsDataURL(file);
      function handleReaderLoad(evt) {
        var images = document.getElementById("images")
                             .getAttribute('value');
        if (images === null) {
          images = "";
        }
        document.getElementById("images")
                .setAttribute('value', images + ',' + evt.target.result.split(',')[1]);
      }
      done();  
    },

    init: function() {
      var myDropzone = this;

    
      this.on("sendingmultiple", function() {
      
      });
      this.on("successmultiple", function(files, response) {
      
      });
      this.on("errormultiple", function(files, response) {
      
      });
    }

  });
});
</script>





<div class="container">
  <%= form_tag products_url(:protocol => 'https'), method: "post" do %>
  
  <div class="row">
    <div class="col-md-2">
      <%= submit_tag "Back to all products", :class => "btn btn-info" %>
    </div>
  </div><br>
  
    <div class="row">
  
      <div class="col-md-12 form-group">
        <%= label_tag 'product[title]', "Product title:" %>
        <%= text_field_tag :title, nil, class: "form-control" %>
      </div>

    </div>  

    <div class="row">
      <div class="col-md-12 form-group">
        <%= label_tag 'product[body_html]', "Product description:" %>
        <%= text_area_tag :body_html, nil, class: "tinymce form-control" %>
         <script> 
     //<![CDATA[
          (function() {
            if (typeof tinyMCE != 'undefined') {
              tinyMCE.init({
                selector: "textarea.tinymce",
                statusbar: false,
                menubar: false,
                resize: false,
                setup: function (editor) {
                  editor.on('change', function (e) {  
                    enable_save();
                  });
                },
                theme: "modern",
                fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
                font_formats: "Andale Mono=andale mono,times;"+
                "Arial=arial,helvetica,sans-serif;"+
                "Arial Black=arial black,avant garde;"+
                "Book Antiqua=book antiqua,palatino;"+
                "Comic Sans MS=comic sans ms,sans-serif;"+
                "Courier New=courier new,courier;"+
                "Georgia=georgia,palatino;"+
                "Helvetica=helvetica;"+
                "Impact=impact,chicago;"+
                "Symbol=symbol;"+
                "Tahoma=tahoma,arial,helvetica,sans-serif;"+
                "Terminal=terminal,monaco;"+
                "Times New Roman=times new roman,times;"+
                "Trebuchet MS=trebuchet ms,geneva;"+
                "Verdana=verdana,geneva;"+
                "Webdings=webdings;"+
                "Wingdings=wingdings,zapf dingbats; Open Sans='Open Sans', sans-serif;Playfair Display='Playfair Display', serif;",
                toolbar: ["undo redo | removeformat bold italic underline | fontsizeselect | forecolor backcolor | fontselect | letterspacing | lineheight"],
                plugins: "textcolor"
              });
            } else {
              setTimeout(arguments.callee, 50);
            }
          })();
          //]]>
    </script>
      
      </div>
   </div>

    <div class="row">
  
      <div class="col-md-4 form-group">
        <%= label_tag 'product[type]', "Product type:" %>
        <%= text_field_tag :product_type, nil, class: "form-control" %>
      </div>
  
      <div class="col-md-4 form-group">
        <%= label_tag 'product[published_scope]', "Product published scope:" %>
        <%= text_field_tag :published_scope, nil, class: "form-control" %>
      </div>
  
      <div class="col-md-4 form-group">
        <%= label_tag 'product[vendor]', "Product vendor:" %>
        <%= text_field_tag :vendor, nil, class: "form-control" %>
      </div>

    </div>  

    <div class="row">
      <div class="col-md-2">
        <%= submit_tag "Save and add extra information", :class => "btn btn-success" %>
      </div>
    </div>

    <div class="row">
      <input type="hidden" id="images" name="images"/> 
    </div>
  <% end %>  
</div>
